<%include file="header.html" />

<p> 
The algorithm is run in 2 steps:
<ol>
<li> a Gaussian noise is added to the input image;</li>
<li> the NLmeans algorithm is used to denoise the image.</li> 
</ol>
</p> 

<br />

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
First you have to select a level (standard deviation) of additive Gaussian noise: 
    <select name="sigma">
<%
selected = {2:'', 5:'', 10:'', 15:'', 20:'', 25:'', 30:'', 35:'', 40:'', 50:'', 60:'', 70:'', 80:'', 90:'', 100:''}
try:
   sigmaSel = int(sigma)
except TypeError:
   sigmaSel = 10
selected[int(sigmaSel)] = 'selected'
%>
%for s in sorted(selected.keys()):
      <option value="${s}" ${selected[s]}>${s}</option>
%endfor
    </select>




%if x0 and y0 and x1 and y1:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="hidden" name="x" value="${x1}">
    <input type="hidden" name="y" value="${y1}">
    <p>
      <input type="submit" name="action" value="run" />
    <p/>
    <img src="${app.work_url + 'input_0.sel.png'}" />
%else:
    <p>
      Now you can run the algorithm on the whole image:
      <input type="submit" name="action" value="run" />
    </p>
    <p>
      Or you can run it after selecting a subimage, 
      by clicking on two opposite corners of the sub-image.
    </p>
  %if x0 and y0:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="image" style="cursor:crosshair;" name=""
           src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />
  %else:
    <input type="image" style="cursor:crosshair;" name=""
           src="${app.work_url + 'input_0.png'}" />
  %endif
%endif
  </div>
</form>

<%include file="footer.html" />
