# don't rewrite the deployed conf file
demo.conf
demo.*.log

# compiled Python code
*.pyc

# download, source and binary files
app/*/dl
app/*/src
app/*/bin
# build log
app/*/*.log

# Special demos with lots of input images.
# IMPORTANT: very special cases. To be corrected ASAP
app/*/input
app/*/scripts

# temporary and archive files
app/*/tmp
app/*/archive

# ignore the thumbnails
app/*/input/.__*

#ignore backup files
*~
*.bak
*.backup
app/*/bak
