# don't rewrite the deployed conf file
demo.conf
demo.*.log

# compiled Python code
*.pyc

# Database files
*.db

# Applications (to be moved to demoDispatcher/demoRunner!)
app/

#ignore backup files
*~
*.bak
*.backup
