# cherrypy configuration for a local test server
[global]

## common setup
server.socket_host = '127.0.0.1'         # listening IP
server.socket_port = 8080                # listening port
checker.check_skipped_app_config = False # no warning noise
input.thumbnail.size = 192               # thumbnail size
#tools.proxy.on = True                   # proxy settings
#tools.proxy.base = 'http://server/path/to/demo'
#tools.proxy.local = ''

## development setup
server.environment = 'development'
log.screen = True           # log messages in the console
engine.autoreload_on = True # restart when a file is changed
server.thread_pool = 3      # use 3 process
tools.cgitb.on = True       # debug messages

## production setup
#server.environment = 'production'
#server.pidfile = '/tmp/demo.pid'
#log.screen = False
#log.access_file = '/tmp/demo.access.log'
#log.error_file = '/tmp/demo.system.log'
#engine.autoreload_on = False
#server.thread_pool = 16
#tools.cgitb.on = False
