<%include file="header-jquery.html" />


<script type="text/javascript" src="http://demo.ipol.im/demo/js/createlinkedslider.js"></script>

<p> 
Ponomarenko signal-dependent noise estimation algorithm. (angular)
</p>

<br />
<label> Show old params </label>
<input  id="OldParametersVisibleCheckbox"
        type="checkbox" 
        ng-model="OldParamsVisible" 
        ng-init="OldParamsVisible=false"  >
<label> Show new params </label>
<input  id="NewParametersVisibleCheckbox"
        type="checkbox" 
        ng-model="NewParamsVisible" 
        ng-init="NewParamsVisible=true"  >

<!-- ======================================================================= -->
<!-- ======================================================================= -->
<div ng-show="OldParamsVisible">
  <form action="${app.base_url + 'rectangle'}" method="get">
    <div class="action" >
      <input type="hidden" name="key" value="${app.key}">
  <!-- Percentile -->
  - <b>Percentile</b>:
      <select name="percentile">
  <%
  contents = (('-999.999', "Auto (algorithm's K)"), ('0.0001', '0.01%'), ('0.0010', '0.1%'), ('0.0050', '0.5%'), ('0.0500', '5%'), ('0.1000', '10%'), ('0.5000', '50%'))

  try:
    sel = '%.4f' % float(percentile)
  except Exception:
    sel = '0.0050'
  %>

  %for i in range(len(contents)):
  <%
    selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
  %>
        <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
  %endfor
      </select>
      <br/>

  <!-- Block side -->
  - <b>Block size</b>: 
      <select name="block">
  <%
  contents = ((3,'3 x 3'), (5,'5 x 5'), (7,'7 x 7'), (8,'8 x 8'), (11,'11 x 11'), (15,'15 x 15'), (21,'21 x 21'))

  try:
    sel = int(block)
  except Exception:
    sel = 8
  %>

  %for i in range(len(contents)):
  <%
    selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
  %>
        <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
  %endfor
      </select>
      <br/>

  <!-- Mean type -->
  - <b>Mean of blocks computation</b>: 
      <select name="mean_type">
  <%
  contents = ((1,'Mean'), (2,'Median'))

  try:
    sel = int(mean_type)
  except Exception:
    sel = 2
  %>

  %for i in range(len(contents)):
  <%
    selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
  %>
        <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
  %endfor
      </select>
      <br/>

  <!-- Curve filter iterations -->
  - <b>Curve filter iterations</b>: 
      <select name="curvefilter">
  <%
  contents = ((0,'None'), (1,'1 iteration'), (2,'2 iterations'), (3,'3 iterations'), (4,'4 iterations'), (5,'5 iterations'), (6,'6 iterations'), (7,'7 iterations'))

  try:
    sel = int(curvefilter)
  except Exception:
    sel = 5
  %>

  %for i in range(len(contents)):
  <%
    selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
  %>
        <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
  %endfor
      </select>
      <br/>

  <!-- Remove pixels with 2x2 blocks of the same pixel -->
  - <b>Treatment of groups (2x2) of equal pixels</b>: 
      <select name="removeequals">
  <%
  contents = ((0,'Use all the pixels in the image'), (1,'Ignore that kind of pixels'))

  try:
    sel = int(removeequals)
  except Exception:
    sel = 1
  %>

  %for i in range(len(contents)):
  <%
    selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
  %>
        <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
  %endfor
      </select>
      <br/>

  <!-- number of bins -->
  - <b>Number of bins</b> (0 = automatic selection):
  <%
  try:
    sel = int(bins)
  except Exception:
    sel = 0
  %>
      <br/>

  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
      bins: <input type="text" style="font-family:monospace;text-align:right"
      size="4" id="bins" name="bins" value="${sel}" />
  </div>
  <div id="bins_slider" name="bins_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
  // Turn DIV slider into a slider linked to scale
  $(document).ready(function() {
        createLinkedSlider('#bins', '#bins_slider', 0, 150, 1); 
  });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->

  <!-- Additional noise level -->
  <%
  try:
    sel = float(anoise)
  except Exception:
    sel = 0
  %>
  - <b>Noise variance</b> (<i>A</i>+<i>B</i><b>u</b>, where <b>u</b> is the input noisy image. Set <i>B</i>=0 for uniform noise): <br/>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
      A: <input type="text" style="font-family:monospace;text-align:right"
      size="6" id="anoise" name="anoise" value="${sel}" />
  </div>
  <div id="A_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
  // Turn DIV slider into a slider linked to scale
  $(document).ready(function() {
        createLinkedSlider('#anoise', '#A_slider', 0.0, 10000.0, 0.1); 
  });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->

  <!-- code for slider -->
  <%
  try:
    sel = float(bnoise)
  except Exception:
    sel = 0
  %>
  <div style="float:left;padding-right:25px">
      B: <input type="text" style="font-family:monospace;text-align:right"
      size="6" id="bnoise" name="bnoise" value="${sel}" />
  </div>
  <div id="B_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
  // Turn DIV slider into a slider linked to scale
  $(document).ready(function() {
        createLinkedSlider('#bnoise', '#B_slider', 0.0, 39.0, 0.1); 
  });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
  <!-- ======================================================================= -->
  %if x0 and y0 and x1 and y1:
      <input type="hidden" name="x0" value="${x0}">
      <input type="hidden" name="y0" value="${y0}">
      <input type="hidden" name="x" value="${x1}">
      <input type="hidden" name="y" value="${y1}">
      <p>
        <input type="submit" name="action" value="run" />
      <p/>
      <img src="${app.work_url + 'input_0.sel.png'}" />
  %else:
      <p>
        Now you can run the algorithm on the whole image:
        <input type="submit" name="action" value="run" />
      </p>
      <p>
      Or you can run it after selecting a subimage, 
      by clicking on two opposite corners of the sub-image.
      </p>
    %if x0 and y0:
      <input type="hidden" name="x0" value="${x0}">
      <input type="hidden" name="y0" value="${y0}">

      <input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />

    %else:
      <input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'input_0.png'}" />
    %endif
  %endif
    </div>
  </form>
</div>  <!-- ng-show="OldParamsVisible" -->

<!-- ======================================================================= -->
<!-- ======================================================================= -->


<hr>
<script>  IPOLDemosApp.value("demo_id","45");  </script>
<script>  IPOLDemosApp.value("demo_key","${app.key}");  </script>

<div ng-controller="DemoParamCtrl" ng-show="NewParamsVisible">
  <form action="${app.base_url + 'rectangle'}" method="get">
    <div class="action" style="align:left;margin-bottom=20px;margin-top=20px" >
      <input type="hidden" name="key" value="${app.key}">

      <!--===================================================================-->
      <table  style="float:left"> 
        <!--=================================================================-->
        <tr>
          <th style="width:24em"> <b>Parameter description</b> </th> 
          <th colspan="2"> <b>Select value</b> </th> 
        </tr>

        <!--=================================================================-->
        <tr ng-repeat="param in demo.params">
          <!--===============================================================-->
          <!-- selection_collapsed type -->
          <td  ng-if="param.type==='selection_collapsed'"> 
              <label>  {{param.label}} </label>  
          </td>
          <td ng-if="param.type==='selection_collapsed'" colspan="2">
              <span ng-if="params[param.id] !=  undefined">
                <span ng-init="param.value=params[param.id].toString()"> </span>
              </span>
              <select  ng-model="param.value" name="{{param.id}}"> <!-- use ng-init here? -->
                <option ng-repeat="(key, value) in param.values" value="{{value}}"> 
                  {{key}} 
                </option> 
              </select>
          </td>
          <!--===============================================================-->
          <!-- range type -->
          <td  ng-if="param.type==='range'"> 
              <label>  {{param.label}} </label>  
          </td>
          <td ng-if="param.type==='range'" style="width:5em">
              <span ng-if="params[param.id] !=  undefined">
                <span ng-init="param.value=params[param.id]"> </span>
              </span>
              <input  style="width:100%"  type="number" name="{{param.id}}"
                      min={{param.values.min}} max={{param.values.max}} 
                      step={{param.values.step}} 
                      value={{param.default_value}} 
                      ng-model="param.value"/>
          </td>
          <td ng-if="param.type==='range'" style="width:24em">
              <input  style="width:100%" type="range"  
                      min={{param.values.min}} max={{param.values.max}} 
                      step={{param.values.step}} 
                      value={{param.default_value}} 
                      ng-model="param.value" 
                      floatsaving />
          </td>
          <!--===============================================================-->
          <!-- label type -->
          <th ng-if="param.type==='label'" colspan=3> 
              <div  ng-bind-html="renderHtml(param.label)"></div> 
          </th>
          <!--===============================================================-->
        </tr>
        <!--=================================================================-->

      </table>

      <div style="clear:both"> </div>
      <hr>

      <div style='vertical-align:middle;
                  margin-left:auto; margin-right: auto;
                  text-align:center;  margin-bottom=20px;margin-top=20px'>

        <div ng-init="selected_image_link='tmp/'+'${app.key}'+'/input_0.png'">
        <div ng-controller="ImgCropCtrl"> 
          <input  id="ID_InputCropped" type="checkbox" 
                  ng-model="InputCropped"  
                  ng-click="go()"
                  alt="Crop"
                  > Enable Crop <br>

          <div ng-if="!InputCropped" >
            <img  id="original_image"
                  crossOrigin="Anonymous"
                  ng-src="{{selected_image_link}}"
                  style="padding-top:5px; padding-bottom:5px; padding-right:5px; padding-left:5px;max-width:{{maxdim}}px;max-height:{{maxdim}}px;width:auto;height:auto;"
                  alt={{selected_image}}
                  styleParent
                  />
            <input type="hidden" name="x0" value="0">              
            <input type="hidden" name="y0" value="0">
            <input type="hidden" name="x"  value="{{imwidth-1}}">
            <input type="hidden" name="y"  value="{{imheight-1}}">
          </div>


          <!-- using ng-if instead of ng-show solved refreshing problem and canvas size set to 0x0 -->
          <div ng-if="InputCropped" > 
            <table  style="float:left" >
              <td style='vertical-align:middle;width:{{(imwidth<maxdim)?(imwidth+10):(maxdim+10)}}px'>

                  <label> max dim = {{imwidth}} x {{imheight}} display ratio = {{display_ratio}} </label>
                  <div style="width:{{imwidth*display_ratio}}px;height:{{imheight*display_ratio}}px;margin:5px"
                      class="cropArea" >
                    <img-crop  
                              crossOrigin="Anonymous"
                              image="selected_image_link"
                              result-image="myCroppedImage"
                              change-on-fly="true"
                              area-type="{{type}}"
                              area-coords="CropInfo.coord"
                              enable="InputCropped"
                        />
                  </div>
                  <label>
                    {{Math.round(CropInfo.coord.x/display_ratio)}}, {{Math.round(CropInfo.coord.y/display_ratio)}}, 
                    {{Math.round((CropInfo.coord.x+CropInfo.coord.w-1)/display_ratio)}}, 
                    {{Math.round((CropInfo.coord.y+CropInfo.coord.h-1)/display_ratio)}}
                  </label>
                  <input type="hidden" name="x0" value="{{Math.round(CropInfo.coord.x/display_ratio)}}">              
                  <input type="hidden" name="y0" value="{{Math.round(CropInfo.coord.y/display_ratio)}}">
                  <input type="hidden" name="x"  value="{{Math.round((CropInfo.coord.x+CropInfo.coord.w-1)/display_ratio)}}">
                  <input type="hidden" name="y"  value="{{Math.round((CropInfo.coord.y+CropInfo.coord.h-1)/display_ratio)}}">

                </div>

              </td>
                <td style='vertical-align:middle'>
                <label> Zoom factor </label>
                <select ng-options="CropSize for CropSize in ['1', '1.5', '2', '4', '8','16']" 
                        ng-model="CropSize" 
                        ng-init="CropSize='2'">
                </select>
                  <div ng-show="InputCropped" style="overflow:scroll;width:{{imwidth*display_ratio+20}}px;height:{{imheight*display_ratio+20}}px;" >
                    <img  crossOrigin="Anonymous" ng-src="{{myCroppedImage}}" width="{{CropInfo.coord.w*CropSize}}" height="{{CropInfo.coord.h*CropSize}}" />
                  </div>
                </td>
            </table>
          </div>
        <div style="clear:both"> </div>
        </div>
        </div>
      </div>
    </div> <!-- action -->
    <p>
      <input  style="width:60em;height:4em;" type="submit" name="action" value="RUN" />
    <p/>
  </form>
</div> <!-- NewParamsVisible -->




<%include file="footer.html" />
