# In general, ignore all the files which start with "gi_"
gi_*

# compiled Python code
*.pyc

# python virtualenv folder of each module
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Archive data
ipol_demo/modules/archive/blobs/*
ipol_demo/modules/archive/blobs_thumbs/*

# Shared folder
shared_folder/

# DDLs from the ddl tool
tools/DDL/DDLs

# Binaries in demorunner
ipol_demo/modules/demorunner/binaries/

# Databases
*.db
*.db-journal
*.sqlite3

# Testing
ci_tests/send_to.txt
ci_tests/pdflatex_report.txt
ci_tests/pdflatex_tmp.txt
ci_tests/pylint_report.txt
ci_tests/compilation_folder/
ci_tests/ignored_ids.txt

# Sysadmin
sysadmin/*.txt

# Applications (to be moved to demoDispatcher/demoRunner!)
app/

# Backup files
*~
*.bak
*.backup

# Mac OS cache
*DS_Store

# Documentation
*.bst
*.aux
*.bbl
*.blg
*.lof
*.toc
*.out
*.fls
*.fdb_latexmk

# Generated PDF and .tex files
doc/api/api.pdf
doc/api/docstrings.tex
doc/system/ipol.pdf
doc/control_panel/control_panel.pdf
doc/ddl/ddl.pdf
doc/sysadmin/sysadmin.pdf
doc/clientApp/clientApp.pdf

# logs
logs/
*.log
ipol_demo/modules/archive/logs/error.log

# Editor temporal files
*.kilepr
.idea
.vscode
*.synctex.gz

# Static data in all modules
staticData/

# Module conf file
local.conf

# Authentication configuration
ipol_demo/modules/config_common/authorized_patterns.conf

# Email configuration which contain personal data
ipol_demo/modules/config_common/emails.conf

# Links to the IPOL environment config files
ipol_demo/modules/config_common/modules.xml
ipol_demo/modules/config_common/demorunners.xml

# ClientApp configs
.csscomb.json

# History
tools/terminal/history.txt

# other
changes*.txt
ipol_demo/app_new/
ipol_webapp/apps/controlpanel/migrations/*_auto_*.py

# Django
*.pot
__pycache__
db.sqlite3
media

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

#Core
ipol_demo/modules/core/ignored_ids.txt
