# compiled Python code
*.pyc

# Archive data
ipol_demo/modules/archive/blobs/*
ipol_demo/modules/archive/blobs_thumbs/*

#shared_folder
shared_folder/

#demoextras in demoinfo
ipol_demo/modules/demoinfo/demoExtras/*

#DDLs from the ddl tool
tools/DDL/DDLs

#Binaries in demorunner
ipol_demo/modules/demorunner/binaries/

# Database
*.db
*.sqlite3

# Testing
ci_tests/*.txt
ci_tests/compilation_folder/

#
# Sysadmin
sysadmin/*.txt

# Applications (to be moved to demoDispatcher/demoRunner!)
app/

# ignore backup files
*~
*.bak
*.backup

# Documentation
*.bst
*.aux
*.bbl
*.blg
*.lof
*.toc
*.out

doc/api/api.pdf
doc/api/docstrings.tex
doc/system/ipol.pdf
doc/control_panel/control_panel.pdf
doc/ddl/ddl.pdf
doc/sysadmin/sysadmin.pdf

# logs
logs/
*.log
ipol_demo/modules/archive/logs/error.log


#
# ignore kile files
*.kilepr
#
# ignore Pycharm files
.idea

# Static data
staticData/

# authentication
ipol_demo/modules/config_common/authorized_patterns.conf

# emails
ipol_demo/modules/config_common/emails.conf

# other

ipol_demo/modules/blobs/blobs_nelson.conf
changes*.txt
ipol_demo/app_new/

# Mac OS cache
*DS_Store
