# install requirements for IPOL project
# pip install -r "requirements.txt"

# General
python-magic
pypng
numpy
libtiff
pillow
simplejson
matplotlib
validoot
future 
pyfftw
sklearn
cython
sortedcontainers
tifffile
weightedstats
bs4
utm
mgrs
requests
av

# Needed in one of our private projects on satellite imaging
# The package libgeos-dev needs to be installed with apt-get first
geojson
shapely
planet
rasterio
