#install requirements for ipol project
#in your virtualenv shell
#pip install -r "requirements.txt"

adium-theme-ubuntu==0.3.4
appdirs==1.4.0
backports.shutil-get-terminal-size==1.0.0
cheroot==5.1.0
CherryPy==10.0.0
cycler==0.10.0
decorator==4.0.11
Django==1.10.5
django-allauth==0.27.0
django-autocomplete-light==2.2.10
django-crispy-forms==1.6.0
django-filter==0.15.0
djangorestframework==3.4.7
enum34==1.1.6
funcsigs==0.4
functools32==3.2.3.post2
get==0.0.20
ipython==5.2.2
ipython-genutils==0.1.0
javascript==2015.32.59
jsonschema==2.5.1
libtiff==0.4.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==2.0.0
meld==3.14.2
mock==1.3.0
numpy==1.11.2
oauthlib==2.0.0
packaging==16.8
pathlib2==2.2.1
pbr==1.8.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.3.1
portend==1.8
post==0.0.12
prompt-toolkit==1.0.13
psycopg2==2.6.2
ptyprocess==0.5.1
public==0.0.37
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.1.10
pypng==0.0.18
python-dateutil==2.6.0
python-magic==0.4.12
python-openid==2.2.5
pytz==2016.10
PyYAML==3.11
query-string==0.0.11
repoze.lru==0.6
request==0.0.12
requests==2.11.1
requests-oauthlib==0.7.0
Routes==2.2
scandir==1.4
setupfiles==0.0.13
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
subprocess32==3.2.7
tempora==1.6.1
traitlets==4.3.1
unity-lens-photos==1.0
validoot==1.3
wcwidth==0.1.7
WebOb==1.5.1
wrapt==1.10.8