@keyframes element-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    z-index: 200;
    transform: translateX(20px);
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
  }
  100% {
    z-index: 200;

    -webkit-transform: translateX(20px);
  }
}

@keyframes leftToRight {
  0% {
    z-index: 200;

    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@-webkit-keyframes leftToRight {
  0% {
    z-index: 200;

    -webkit-transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(-20px);
  }
}

@keyframes container-entrance {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
