/* soft color */
a.thumb, table.pars, table.pars caption {
  color: #484848;
}


/* border color */
div.pars, a.thumb, .paging a:hover {
  border: 1px solid #D1CAE8;
}

/* background color */
table.pars tr:hover, table.pars caption {
  background-color: #D1CAE8;
}

.archive-description {
  text-align: justify;
}

#experiment-id {
  font-weight: bold;

  display: inline;

  color: #5952A6;
}

#results, #results p {
  font-size: 12px;
}

.record, #footer {
  clear: both;
}

.record {
  display: grid;

  margin-top: 2rem;
  margin-bottom: 2rem;

  grid-auto-rows: 30px auto auto 1fr;
  grid-template-areas: 'info images'
  'params images'
  'files files'
  'reconstruct reconstruct';
  grid-template-columns: 1fr 4fr;
}

.record header {
  grid-area: info;
}

.record footer {
  margin-top: 5px;
}

.thumbs {
  display: flex;
  flex-wrap: wrap;

  grid-area: images;
}

div.pars, a.thumb {
  margin: 0 10px 5px 0;

  border-style: solid;
  border-radius: 5px;
  background-color: #EEE;
}

a.thumb {
  flex-basis: -webkit-min-content;
  flex-basis:    -moz-min-content;
  flex-basis:         min-content;

  padding: 3px 3px 0 3px;

  text-align: center;
}

a.thumb:hover {
  color: #000;
  background-color: #D1CAE8;
}

img.thumb {
  display: block;

  max-width: 384px;
  max-height: 128px;
}

div.pars {
  max-width: 115px;
  padding: 3px 3px 0 3px;

  grid-area: params;
}

table.pars th {
  font-weight: normal;

  padding: 0 1ex;

  text-align: right;
}

table.pars td {
  max-width: 25ex;
  padding: 0 1ex;

  text-align: right;

  color: #000;
  background-color: #FFF;
}

table.pars tr:hover {
  color: #000;
}

.paging {
  display: flex;
  justify-content: center;

  padding: 7px;

  border-radius: 3px;
  background-color: #EEE;
}

.paging a {
  font-size: 12px;
  font-weight: bold;

  margin: 0 3px;
  padding: 3px;

  color: #5952A6;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 1px 1px 2px #C8C6DD;
}

.paging a:hover {
  color: #000;
}

.paging .this {
  color: #000;
  border-color: #000;
}

form.page {
  display: inline;
}

.reconstruct-btn {
  max-width: fit-content;
  margin: 0;

  grid-area: reconstruct;
}


a.file:before {
  font-family: 'icons';
  font-size: 20px;

  margin-right: 2px;
  padding: 1px 3px;

  content: '\f016';
  vertical-align: middle;

  color: #5B4BA6;
}

a.file:hover:before {
  color: #FFF;
  background-color: #5B4BA6;
}

a.pdf:before {
  content: '\f1c1';
}

a.txt:before {
  content: '\f0f6';
}

a.svg:before {
  content: '\f1c9';
}

a.eps:before, a.tif:before, a.tiff:before {
  content: '\f03e';
}

a.uv:before, a.flo:before {
  content: '\f1c0';
}

a.video:before, a.mpg:before, a.mpeg:before, a.avi:before {
  content: '\f008';
}


.files {
  margin: 10px 0;

  grid-area: files;
}

.files a {
  margin: 0 5px;
}

#files-text {
  font-weight: bold;

  display: inline;

  color: black;
}
