/* soft color */
a.thumb, table.pars, table.pars caption {
  color: #484848;
}


/* border color */
div.parameters, .paging a:hover {
  border: 1px solid #D1CAE8;
}

/* background color */
table.pars tr:hover, table.pars caption {
  background-color: #D1CAE8;
}

.archive-description {
  max-width: 550px;

  text-align: justify;
}

#experiment-id {
  font-weight: bold;

  display: inline;

  color: #5952A6;
}

#results, #results p {
  font-size: 12px;
}

.record, #footer {
  clear: both;
}

.record {
  display: grid;

  margin-top: 2rem;
  margin-bottom: 2rem;

  grid-auto-rows: max-content auto auto 1fr;
  grid-gap: 5px;
  grid-template-areas: 'info images'
  'params images'
  'files files'
  'reconstruct reconstruct';
  grid-template-columns: max-content auto;
}

.record header {
  grid-area: info;
}

.images-container {
  display: grid;
  justify-content: start;

  grid-area: images;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.images-container > a {
  display: grid;

  padding: 5px;

  transition: .3s cubic-bezier(.63, .1, .17, .77);

  border: 1px solid #D1CAE8;
  border-radius: 3px;
  background-color: #EEE;

  grid-template-columns: 1fr;
  grid-template-rows: 4fr min-content;
  justify-items: center;
}

.images-container > a:hover {
  border: 1px solid #7D75DA;
  background-color: #D1CAE8;
}

.thumbnail {
  width: 100%;
}

.image-name {
  max-width: 128px;

  text-align: center;

  justify-self: center;
}

div.parameters, a.thumb {
  margin: 0 10px 5px 0;

  border-style: solid;
  border-radius: 5px;
  background-color: #EEE;
}

.parameters-container {
  grid-area: params;
}

div.parameters {
  width: max-content;
  height: min-content;
  padding: 3px;
}

table.pars th {
  font-weight: normal;

  padding: 0 1ex;

  text-align: right;
}

table.pars td {
  max-width: 25ex;
  padding: 0 1ex;

  text-align: right;

  color: #000;
  background-color: #FFF;
}

table.pars tr:hover {
  color: #000;
}

.paging {
  display: flex;
  justify-content: center;

  padding: 7px;

  border-radius: 3px;
  background-color: #EEE;
}

.paging a {
  font-size: 12px;
  font-weight: bold;

  margin: 0 3px;
  padding: 6px;

  transition: .2s ease-out;

  color: #5952A6;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 1px 1px 2px #C8C6DD;
}

.paging a:hover {
  transform: translateY(2px);

  border: 1px solid #5952A6;
}

.paging .active-page {
  color: #FFF;
  border: 1px solid #D1CAE8;
  background-color: #5952A6;
}

.paging > input[type='submit'] {
  transition: .2s cubic-bezier(.63, .1, .17, .77);

  background-color: #FFF;
}

.paging > input[type='submit']:hover {
  transform: translateY(2px);

  border: 1px solid;
}

form.paging {
  display: inherit;

  padding: 0 10px;
}

form.paging p {
  font-weight: bold;
  line-height: normal;

  margin: 5px auto;

  color: #5952A6;
}

form.paging input {
  font-weight: bold;

  margin: 0 5px;

  text-align: center;

  color: #5952A6;
  border: 1px solid lightgray;
  border-radius: 3px;
}

form.paging input[type=number] {
  min-width: 60px;
}

/* Chrome/Safari number input arrow hide */
form.paging input::-webkit-outer-spin-button, form.paging input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

/* Firefox number input arrow hide */
form.paging input[type=number] {
  -moz-appearance: textfield;
}

.reconstruct-btn {
  max-width: min-content;
  margin: 0;

  transition: all .3s cubic-bezier(.63, .1, .17, .77);

  grid-area: reconstruct;
}


a.file:before {
  font-family: 'icons';
  font-size: 20px;

  margin-right: 2px;
  padding: 1px 3px;

  content: '\f016';
  transition: all .3s cubic-bezier(.63, .1, .17, .77);
  vertical-align: middle;
}

/* a.file:hover:before {
  color: #FFF;
  border-radius: 3px;
  background-color: #5B4BA6;
} */

a.pdf:before {
  content: '\f1c1';
}

a.txt:before {
  content: '\f0f6';
}

a.svg:before {
  content: '\f1c9';
}

a.eps:before, a.tif:before, a.tiff:before {
  content: '\f03e';
}

a.uv:before, a.flo:before {
  content: '\f1c0';
}

a.video:before, a.mpg:before, a.mpeg:before, a.avi:before {
  content: '\f008';
}


.files {
  margin: 10px 0;

  grid-area: files;
}

.files a {
  display: inline-block;

  margin: 0 5px;
  padding: 5px;

  transition: .3s cubic-bezier(.63, .1, .17, .77);

  border: 1px solid #D1CAE8;
  border-radius: 3px;
  background-color: #EEE;
}

.files a:hover {
  color: #544E88;
  border: 1px solid #544E88;
  background-color: #D8D5E4;
}

#files-text {
  font-weight: bold;

  display: inline;

  color: black;
}
