.container {
    margin: 5px 20px;
    padding: 5px;
}

.setContainer {
    height: auto;
    max-height: 360px;
    border: 1px solid black;
    border-radius: 3px;
    overflow-y: hidden;
    overflow-x: auto;
    width: auto;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-wrap: nowrap;
}

/* Two rows. Vertical scroll. */
/*.setContainer {
    height: auto;
    max-height: 360px;
    border: 1px solid black;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}*/

.blobSet{
    background-color: #EEE;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blobSet-span {
    text-align: center;
}

.blobSet:hover{
    background-color: #cd5757;
}

.blobSet img {
    height: 128px;
    margin: 15px 15px;
}

.blobTitle {
    flex: 0 1 100%;
    text-align: center;
    width: 1px;
}

.upload-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
}

.upload-dialog > div:nth-of-type(odd) {
    background-color: #e3e2e7;
}

.upload-element {
    flex-grow: 1;
    flex-basis: 25%;
}

.upload-row > img {
    display: none;
    width: 100%;
    max-width: 160px;
}

.upload-element:first-child {
    text-align: center;
}

.blobThumbnail {
    width: auto;
    height: 100%;
}
