.editorContentWrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inputs-text {
  font-size: 20px;
  font-weight: 300;

  width: 90px;
  padding-bottom: 5px;
}

#left-container {
  overflow: auto;

  max-width: 100%;
  max-height: auto;
}

.blobContainer {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.blobEditorImage {
  -webkit-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
}

.blobEditorVideo {
  min-height: 300px;
}

.blobEditorAudio {
  min-width: 400px;
  width: 100%;
}

.audioThumbnail {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  min-height: auto;
  max-height: 600px;

  animation: container-entrance .5s cubic-bezier(.69,-.02,.46,1.28);
}

.zoom-container {
  display: flex;

  padding: 15px 0 15px;
}

.zoom-info {
  font-size: 14px;

  padding: 5px;
}

#editor-zoom-value {
  display: inline-block;

  width: 68px;
}

#editor-zoom {
  width: 80%;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  max-width: 80%;
}

.image-container {
  overflow: auto;

  margin: 0 5px 5px 5px;

  animation: container-entrance .5s cubic-bezier(.69,-.02,.46,1.28);
}

.editor-input:hover {
  transition: all .3s ease-in;

  background-color: #AE9DEB;
}

.editor-input {
  font-size: 14px;

  max-width: 200px;
  padding: 5px;

  cursor: pointer;
  text-align: center;
}

.editor-input:not(:last-child) {
  border-bottom: 1px solid #938FA6;
}

.blobsList {
  width: 175px;
}

.blobsList-right {
  animation: container-entrance .5s cubic-bezier(.69,-.02,.46,1.28);
  text-align: right;
}

div[class^='blobSet_'] > span {
  font-family: sans-serif;
  font-size: 14px;
}

.editor-input-selected {
  background-color: #E2DAE6;
}

.inputListContainerLeft {
  display: flex;
  flex-flow: column;

  padding-bottom: 10px;
}

.inputListContainerRight {
  display: flex;
  flex-flow: column;
}

#canvas-container {
  overflow: auto;

  max-width: 320px;
  height: 180px;
}

#canvas-container > canvas {
  height: 180px;

  image-rendering: auto;
}

.cropper-container img {
  image-rendering: auto;
}

.broken-image-text {
  display: block;
  text-align: center;
  margin: 5px 0 0 10px;
}