.editorContentWrapper {
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.inputs-text {
  width: 90px;
  padding-bottom: 5px;

  font-size: 20px;
  font-weight: 300;
}

.leftContainer {
  overflow: auto;

  max-width: 100%;
  max-height: auto;
}

.blobContainer {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.blobEditorImage {
  -webkit-transform-origin: 1px 1px;
          transform-origin: 1px 1px;

  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: auto;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.zoom-container {
  padding: 15px 0px 15px;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  max-width: 80%;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.image-container {
  overflow: auto;

  width: 100%;
  max-width: 99%;
  max-height: 600px;
  margin: 5px;
}

.editor-input:hover {
  background-color: #BCD2EE;
}

.editor-input {
  cursor: pointer;
}

.blobsList-right {
  text-align: right;
}

.editor-input-selected {
  background-color: #b6bcc4;
}
