.editorContentWrapper {
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.inputs-text {
  width: 90px;
  padding-bottom: 5px;

  font-size: 20px;
  font-weight: 300;
}

.leftContainer {
  overflow: auto;

  max-width: 100%;
  max-height: auto;
}

.blobContainer {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.blobEditorImage {
  -webkit-transform-origin: 1px 1px;
  transform-origin: 1px 1px;

  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.blobEditorVideo {
  min-height: 300px;
}

.blobEditorAudio {
  min-width: 400px;
}

.audioThumbnail {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: auto;
  max-height: 600px;

  animation: container-entrance 0.5s cubic-bezier(.69,-0.02,.46,1.28);

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.zoom-container {
  padding: 15px 0px 15px;
}

#editor-zoom-value {
  display: inline-block;
  width: 100px;
}

#editor-zoom {
  width: 80%;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 80%;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.image-container {
  overflow: auto;

  margin: 0 5px 5px 5px;
  animation: container-entrance 0.5s cubic-bezier(.69,-0.02,.46,1.28);
}

.editor-input:hover {
  background-color: #ae9deb;

  transition: all 0.3s ease-in;
}

.editor-input {
  max-width: 200px;
  padding: 5px;

  cursor: pointer;
  text-align: center;
}

.editor-input:not(:last-child) {
  border-bottom: 1px solid #938fa6;
}

.blobsList-left {
  min-width: 106px;
}

.blobsList-right {
  min-width: 106px;

  text-align: right;
  animation: container-entrance 0.5s cubic-bezier(.69,-0.02,.46,1.28);
}

.editor-input-selected {
  background-color: #e2dae6;
}

.inputListContainerLeft {
  display: flex;

  flex-flow: column;

  padding-bottom: 10px;
}

.inputListContainerRight {
  display: flex;

  flex-flow: column;
}
