footer {
  text-decoration: none;

  color: #555;

  font-size: 12px;
}

footer a:hover {
  color: #5b4ba6;
}

.footer-line a span {
  color: #000000;

  font-weight: bold;
}

footer p {
  margin: 0 auto;
}
