footer {
  font-size: 12px;

  text-decoration: none;

  color: #555;
}

footer a:hover {
  color: #5B4BA6;
}

.footer-line a span {
  font-weight: bold;

  color: #000;
}

footer p {
  font-size: 12px;

  margin: 0 auto;
}
