.pageheader {
  border-bottom: 1px solid #cecece;
  margin: 0;
}

.header {
  color: #555;
  margin-left: 20px;
}

.motto {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  align-items: center;
}

.header-motto:hover {
  color: #5b4ba6;
}

.header-img-link {
  width: auto;
  height: 60px;
  padding: 0 10px;
}

.header-title {
  flex-basis: 90%;
}

.header-motto {
  color: #555555;
  font-family: Arial,Helvetica,Tahoma,sans-serif;
  font-size: 22px;
}


#menu {
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  max-width: 922px;
  flex-basis: 100%;
}

#menu > a:hover {
  color: #5b4ba6;
}

#menu input[type="submit"] {
  background: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font-family: Verdana,Verdana,Arial,Helvetica,Tahoma,sans-serif;
}

#menu input[type="submit"]:hover {
  color: #5b4ba6;
}

#search-form {
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 90%;
}

.search-container {
  display: inline;
}
.search-container:hover > input[type="text"],
.search-container:hover > input[type="submit"],
input[type="submit"]  {
  background-color: #d4c9e9;
}

#searchbox {
  border-radius: 2px;
  padding: 1px 0;
  border: #d4c9e9 1px solid;
  font-weight: normal;
  width: 10em;
}

#searchbox:hover {
  background-color: #d4c9e9;
  border: #5b4ba6 1px solid;
  color: #5b4ba6;
}
