.pageheader {
  margin: 0;

  border-bottom: 1px solid #cecece;
}

.header {
  margin-left: 20px;

  color: #555;
}

.motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 9px;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-motto:hover {
  color: #5b4ba6;
}

.header-img-link {
  width: auto;
  height: 60px;
  padding: 0 10px;
}

.header-title {
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
}

.header-motto {
  color: #555555;

  font-family: Arial,Helvetica,Tahoma,sans-serif;
  font-size: 22px;
}


#menu {
  max-width: 922px;

  text-align: right;

  font-size: 14px;
  font-weight: normal;

  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

#menu > a:hover {
  color: #5b4ba6;
}

#menu input[type="submit"] {
  margin: 0;
  padding: 0;

  color: inherit;
  border: 0;
  background: #fff;

  font-family: Verdana,Verdana,Arial,Helvetica,Tahoma,sans-serif;
  font-size: 100%;
}

#menu input[type="submit"]:hover {
  color: #5b4ba6;
}

#search-form {
  padding-bottom: 2px;

  cursor: pointer;

  font-size: 90%;
}

.search-container {
  display: inline;
}
.search-container:hover > input[type="text"],
.search-container:hover > input[type="submit"],
input[type="submit"]  {
  background-color: #d4c9e9;
}

#searchbox {
  width: 10em;
  padding: 1px 0;

  border: #d4c9e9 1px solid;
  border-radius: 2px;

  font-weight: normal;
}

#searchbox:hover {
  color: #5b4ba6;
  border: #5b4ba6 1px solid;
  background-color: #d4c9e9;
}
