/* DISPLAY */

.di-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-none {
  display: none !important;
}

.di-inline{
  display: inline;
}

.di-block {
  display: block;
}

.di{
  display: inline;
}

.di-inline-block{
  display: inline-block;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between !important;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* PADDINGS AND MARGINS */
.p-x-10 {
  padding: 0 10px;
}

.m-x-10 {
  margin: 0 10px;
}

.m-y-5 {
  margin: 5px 0;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-0-a {
  margin: 0 auto;
}

.vertical-align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.fw {
  width: 100% !important;
}

.overflow-auto {
  overflow: auto;
}

.disable-btn {
  background-color: gray !important;
}
