/* DISPLAY */

.di-flex {
    display: flex;
}

.di-none {
    display: none;
}

.di-inline{
    display: inline;
}

.di-block {
    display: block;
}

.di{
    display: inline;
}

.p-x-10 {
    padding: 0 10px;
}

.m-x-10 {
    margin: 0 10px;
}

.m-r-10 {
    margin-right: 10px;
}


.vertical-align {
    align-items: center;
}

.fw {
    width: 100% !important;
}
