#inpaintingControls {
  display: grid;
}

.color-picker-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.color-picker-label {
  cursor: pointer;
}

.color-picker-circle {
  position: relative;

  overflow: hidden;

  width: 20px;
  height: 20px;
  margin: 0 5px;

  cursor: pointer;

  border: solid 2px #DDD;
  border-radius: 40px;
}

.color-picker {
  position: absolute;
  top: -7px;
  right: -7px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  border: none;
}

.color-picker-label {
  cursor: pointer;
}

.blobEditorCanvas {
  cursor: crosshair;

  background-size: cover;
}

#erase-btn:active, .activated {
  color: red;
}

#size-selector-container {
  display: flex;
  align-items: center;
}

#size-selector {
  cursor: pointer;
}

#closeFigure {
  cursor: pointer;
}
