#inpaintingControls {
  display: grid;

  grid-gap: 5px;
}

#inpainting-buttons {
  display: grid;

  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

#inpainting-buttons > button {
  padding: 5px 0;

  cursor: pointer;

  border: 1px solid #C6C6C6;
  border-radius: 2px;
}

#inpainting-buttons > button:hover {
  padding: 5px 0;

  cursor: pointer;

  border: 1px solid #A8A8A8;
  -webkit-box-shadow: 2px 2px 3px #9997999;
     -moz-box-shadow: 2px 2px 3px #9997999;
          box-shadow: 2px 2px 3px #9997999;
}

.color-picker-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.color-picker-label {
  cursor: pointer;
}

.color-picker-circle {
  position: relative;

  overflow: hidden;

  width: 20px;
  height: 20px;
  margin: 0 5px;

  cursor: pointer;

  border: solid 2px #DDD;
  border-radius: 40px;
}

.color-picker {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 35px;
  height: 35px;

  cursor: pointer;

  border: none;
}

.blobEditorCanvas {
  cursor: crosshair;

  background-size: cover;
}

#erase-btn:active, .activated {
  color: #E55252FC;
  border: 1px solid #E55252FC !important;
}

#size-selector-container {
  display: flex;
  align-items: center;
}

#size-selector-container > label {
  padding-right: 5px;
}
