.container {
  margin: 5px 20px;
  padding: 5px;
}

.setContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

  width: auto;
  height: auto;
  max-height: 360px;
  margin: 5px 0;
  padding: 0;

  border: 1px solid #cacaca;
  border-radius: 3px;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* Two rows. Vertical scroll. */
/*.setContainer {
height: auto;
max-height: 360px;
border: 1px solid black;
border-radius: 3px;
overflow-y: auto;
overflow-x: auto;
width: auto;
padding: 0;
margin: 5px 0;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}*/

.blobSet{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 3px;

  cursor: pointer;

  border-radius: 5px;
  background-color: #EEE;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.setContainer > div {
  margin: 10px 0;
}

.blobSet-span {
  text-align: center;
}

.blobSet:hover{
  background-color: #558ace;
}

.blobSet img {
  height: 128px;
  margin: 10px 15px;
}

.blobTitle {
  width: 1px;

  text-align: center;

  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.upload-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 5px 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-dialog > div:nth-of-type(odd) {
  background-color: #e3e2e7;
}

.upload-element {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.upload-row > img {
  display: none;

  width: 100%;
  max-width: 160px;
}

.upload-element:first-child {
  text-align: center;
}

.ui-widget-header {
    margin: 0;

    text-align: center;

    border: 0;
    border-bottom: 2px solid rgb(162, 162, 162);
    border-radius: 0;
    background: #cecece;

    font-size: 20px;
    font-weight: normal;
}

.ui-dialog-title {
  width: 100% !important;
}
