@charset "UTF-8";
@font-face {
    font-family: _Verdana;
    src: url('../fonts/verdana.ttf') format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: _Verdana;
    src: url('../fonts/verdanab.ttf') format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: _Verdana;
    src: url('../fonts/verdanai.ttf') format("truetype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: _Verdana;
    src: url('../fonts/verdanaz.ttf') format("truetype");
    font-weight: bold;
    font-style: italic
}

body {
    margin: 0;
    color: #000;
    background: #fff;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: .9em
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Verdana, _Verdana, Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    color: #484848
}

h1 {
    font-size: 140%;
    border: #adadad solid;
    border-width: 0 0 1px 0
}

h2 {
    font-size: 120%
}

h3 {
    font-size: 110%
}

h4,
h5 {
    font-size: 100%
}

a:link,
a:visited {
    color: #4e3f8c;
    text-decoration: none
}

a:active,
a:hover {
    color: #5b4ba6;
    text-decoration: underline
}

pre {
    padding: .1em .1em .1em .5em;
    margin: 0 0 0 .5em;
    background: #EEE;
    border: #cecece 1px solid;
    border-left: #cecece 3px solid;
    word-wrap: break-word;
    font-family: "Andale Mono", "Lucida Console", Monaco, "Courier New", monospace
}

code {
    font-family: "Andale Mono", "Lucida Console", Monaco, "Courier New", monospace;
    font-size: 80%
}

blockquote {
    margin: 0 2em;
    padding-left: .5em;
    border-left: #d4c9e9 2px solid
}


#main {
    margin: 1em 0;
    padding: 0;
    width: 100%;
    min-height: 40em
}

#pagetitle {
    padding: 0;
    margin: .2em 1.3em 0 1.3em;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #484848
}

#pageauthor {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 110%;
    color: #000
}

#content {
    max-width: 128em;
    text-align: left;
    padding: 0 2em;
    margin: 0
}

#content .headline {
    font-size: 120%;
    width: 80%;
    margin: auto
}

#content p {
    text-align: justify
}

#content hr {
    width: 20%;
    color: #cecece;
    height: 1px
}

#content hr.clear {
    clear: both;
    padding: 0;
    margin: 0;
    height: 1px;
    border: 0;
    visibility: hidden
}

#content ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#content ul li {
    background: url('bullet_black.png') left 2px no-repeat;
    padding-left: 18px
}

#content ol li {
    background: 0;
    padding-left: 0
}

#content dl dd {
    background: 0;
    margin-left: 0;
    padding-left: 0
}

#content .toc {
    background: #fff;
    float: right;
    max-width: 30%;
    text-align: left;
    padding: .5em;
    margin: 0 0 1em 1em;
    border: #cecece 1px solid
}

#content .toc:before {
    content: "Content";
    position: relative;
    top: -1em;
    background: #fff;
    padding: .2em .5em
}

#content .toc ol {
    padding: 0;
    margin: 0
}

#content .toc li {
    list-style-type: none;
    background: url('bullet_black_mini.png') left 2px no-repeat;
    padding-left: 18px
}

#content .toc a {
    color: black
}

#content .floatleft {
    float: left
}

#content .floatright {
    float: right
}

#content table {
    margin: auto
}

#content table th {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    vertical-align: middle
}

#content table {
    background: white
}

.autoindex table tr:hover {
    background: #eaeaea
}

.autoindex table td:hover {
    background: #e3e3e3
}

.autoindex table {
    margin: 0!important
}

ul#xlinks {
    text-align: left;
    margin: .8em 0;
    list-style-type: none;
    padding: 1px 2em;
    border-bottom: 1px solid #adadad;
    background: inherit
}

ul#xlinks li {
    display: inline;
    background: 0;
    padding: 0
}

ul#xlinks li a {
    padding: 1px 4px;
    border: 1px solid #a4a4a4;
    border-radius: 4px 4px 0 0;
    background-color: #d4c9e9;
    color: #555;
    margin-right: 0;
    text-decoration: none;
    border-bottom: 0
}

ul#xlinks a:hover {
    background: #fff
}

ul#xlinks.article li.article a,
div.demo ul#xlinks li.demo a,
div.archive ul#xlinks li.archive a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding-top: 1px
}

#locked,
#status,
#citation {
    padding: .1em 2em;
    margin: 0 0 1em 0;
    border-top: 1px #e4e4e4 solid;
    border-bottom: 1px #e4e4e4 solid
}

#status.workshop {
    background: #ffe3e3
}

#status.published {
    background: #e3ffe5
}

#citation {
    background: #e3f3ff
}

#status a,
#citation a {
    color: black
}

#locked,
#citation {
    font-size: 80%
}

#status .biblio {
    max-width: 64em;
    position: relative;
    text-align: left
}

#status .biblio .bibtex {
    font-size: 80%;
    position: absolute;
    top: 0;
    right: 0
}

#status .biblio .bibtex pre {
    position: absolute;
    top: .9em;
    right: -1.2em;
    z-index: 2;
    display: none;
    background: #fff;
    border: 1px #adadad solid;
    color: #000;
    word-wrap: normal;
    width: auto;
    padding: 1.2em
}

#status .bibtex:hover pre {
    display: block
}

#status .biblio dl {
    padding: 0;
    margin: 0
}

#status .biblio dl pre {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: 0
}

#status .biblio dl dt {
    text-align: right;
    float: left;
    width: 5em;
    background: url('bullet_black_mini.png') right top no-repeat;
    padding-right: 1.5em
}

#status .biblio dl dd {
    margin-left: 6.5em
}

.siims img.siims-logo {
    float: left;
    margin: .2em 1em 1em .1em;
    width: 5em
}

iframe#pdfviewer {
    width: 100%;
    height: 90em;
    border: 0
}

button,
input[type="reset"],
input[type="submit"] {
    background-color: #f6f6f6;
    border: #808080 1px solid;
    margin: 1px;
    padding: 1px;
    border-radius: 2px
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border: #d6d6d6 1px solid
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="radio"],
input[type="checkbox"] {
    border: #a4a4a4 1px solid;
    margin: 1px;
    padding: 1px;
    border-radius: 2px
}

#content #feedlink {
    color: #555!important;
    float: right;
    background: url('bullet_feed.png') left center no-repeat;
    padding-left: 14px
}

#content .feedbutton,
#content feedbutton:hover {
    border: 0;
    margin: 0;
    padding: 0;
    background: 0;
    font-weight: normal;
    font-size: 80%;
    text-transform: lowercase;
    color: #555!important
}

#content a[href$=".pdf"],
#content a[href$=".mp4"],
#content a[href$=".zip"],
#content a[href$=".gz"],
#content a[href$=".bz2"],
#content a[href$=".xz"],
#content a[href$=".tgz"],
#content a[href$=".tbz"],
#content a[href$=".txz"],
#content a[href^="https://twitter.com/"] {
    padding-left: 18px
}

#content a[href$=".pdf"] {
    background: url('page_white_acrobat.png') left center no-repeat
}

#content a[href$=".mp4"] {
    background: url('film.png') left center no-repeat
}

#content a[href$=".zip"],
#content a[href$=".gz"],
#content a[href$=".bz2"],
#content a[href$=".xz"],
#content a[href$=".tgz"],
#content a[href$=".tbz"],
#content a[href$=".txz"] {
    background: url('compress.png') left center no-repeat
}

#content a[href^="https://twitter.com/"] {
    background: url('twitter.png') left center no-repeat
}

#content div.archive,
#content div.inlist {
    background: url('bullet_black.png') top left no-repeat;
    padding-left: 16px;
    margin: .5em 0
}

#content div.archive .title,
#content div.inlist .title {
    font-weight: bold;
    text-align: left
}

#content div.inlist {
    font-size: 85%
}

#content div.inlist .title {
    font-size: 115%
}

.autoindex table {
    border: 1px solid #e4e4e4;
    background: white
}

@media print {
    .noprint,
    .bibtex,
    .toc {
        display: none!important
    }
    #content {
        font-family: "Times New Roman", serif;
        font-size: 18pt
    }
    #content a {
        padding-right: 0!important;
        background: transparent!important
    }
    #content a.toggle {
        color: black!important
    }
    #content .toggleable {
        display: block!important
    }
}
