.param-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 3px 4%;

  border-bottom: 0.5px solid rgba(225, 228, 241, 0.75);

  font-size: 14px;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  width: 400px;
  height: 10px;
  margin: 0 5px 0 0;
  padding: 0;

  border-radius: 5px;
  outline: none;
  background: #d7dcdf;

  -webkit-appearance: none;
}

.range-slider__range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;

  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;

  border-radius: 50%;
  background: #2c3e50;

  -webkit-appearance: none;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #558ace;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #558ace;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;

  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;

  border: 0;
  border-radius: 50%;
  background: #2c3e50;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #558ace;
}

.range-slider__range:active::-moz-range-thumb {
  background: #558ace;
}

.range-slider__value {
  position: relative;

  display: inline-block;

  width: 100px;
  padding: 5px 10px;

  text-align: center;

  color: #fff;
  border: none;
  border-radius: 3px;
  background: #2c3e50;

  line-height: 20px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;

  width: 0;
  height: 0;

  content: '';

  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
}

::-moz-range-track {
  border: 0;
  background: #d7dcdf;
}

input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

.label-param {
  width: 100%;

  background-color: rgb(233, 233, 233);
}

.label-param h3 {
  margin: 5px 0;

  font-size: 16px;
  font-weight: bold;
}

.input-text-param {
  width: 300px !important;
}

.param-container span {
  margin-right: auto;
}

.maxmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  min-width: 80px;
  margin: 0 10px;
}

.maxmin span {
  color: rgb(121, 121, 121);

  font-size: 10px;
}

.param-info-img {
  height: 14px;

  cursor: help;
}

.param-label {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.param-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-preferred-size: 53%;
  flex-basis: 53%;

  min-height: 30px;
}

.param-comments {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;

  text-align: right;

  color: rgb(164, 164, 164);

  font-size: 12px;
}

.select-param {
  min-width: 80px;
  height: 30px;

  color: #fff;
  border: none;
  border-radius: 3px !important;
  background: #2c3e50;
}

.select-param::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 0 1em;

  content: '\25BC';
  pointer-events: none;

  background: #34495e;
}

.checkbox-param {
    visibility: hidden;

    margin-bottom: 20px;

    cursor: pointer;
}

.checkbox-param:after {
  position: absolute;

  visibility: visible;

  width: 30px;
  min-width: 30px;
  height: 30px;

  content: "";
  cursor: pointer;
  text-align: center;

  color: #34495e;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 3px;
  background: #d7dcdf;

  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

.checkbox-param:checked:after {
    content: '\2714';

    color: #34495e;
    border: 1px solid rgb(223, 221, 221);
    background: #d7dcdf;
}
