.file_download {
  display: inline-block;

  margin: 5px 10px;
  padding: 3px 5px;

  cursor: pointer;
  text-decoration: inherit;

  border: 1px solid #8e8e8e;
  border-radius: 5px;
  background-color: #f7f5fb;
  -webkit-box-shadow: 1px 1px 2px #999799;
  box-shadow: 1px 1px 2px #999799;
}

.file_download:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);

  -webkit-box-shadow: 2px 2px 3px #999799;
  box-shadow: 2px 2px 3px #999799;
}

.file-icon {
  height: 16px;
  margin-right: 5px;
  padding-top: 3px;
}

.text_file_content {
  overflow: auto;

  max-height: 500px;
  padding: 10px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #eceaec;
}

.result-msg-box {
  min-height: 20px;
  margin: 10px 0;
  padding: 15px;

  color: #382f18;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FFFDC1;
}

.results-container > div {
  padding-bottom: 10px;
}

.results-container > div:not(:last-child)  {
  border-bottom: 1px solid #eaeaea;
}

.gallery-item-selector:hover {
  background-color: #ae9deb;
}

.gallery-item-selector {
  max-width: 200px;
  padding: 5px;

  cursor: pointer;
  text-align: center;
}

.gallery-item-selector:not(:last-child) {
  border-bottom: 1px solid #938fa6;
}

.gallery-blobList-left{
  display: flex;
  flex-flow: column;
}

.gallery-item-selected {
  background-color: #e2dae6;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  height: 600px;

  animation: container-entrance 0.5s cubic-bezier(.69, -0.02, .46, 1.28);
}

.gallery-img {
  flex-shrink: 0;

  padding: 5px 5px;

  -webkit-transform-origin: 1px 1px;
  transform-origin: 1px 1px;

  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.gallery-blob-container {
  overflow: auto;

  min-height: 300px;
  margin: 0 5px 5px 5px;

  animation: container-entrance 0.5s cubic-bezier(.69, -0.02, .46, 1.28);
}

.gallery-item-list {
  display: flex;
  flex-flow: column;
  max-height: 500px;
  overflow-x: auto;
}

.gallery-item-list-right {
  min-width: 106px;
  text-align: right;
  animation: container-entrance 0.5s cubic-bezier(.69,-0.02,.46,1.28);
}

.blobs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  max-width: 80%;
}

div[class^="html_text_"] {
  margin-top: 10px;
}