.three_d_viewer {
  width: 100%;
  height: 60vh;
}

.file_download {
  display: inline-block;

  margin: 5px 10px;
  padding: 3px 5px;

  cursor: pointer;
  text-decoration: inherit;

  border: 1px solid #8E8E8E;
  border-radius: 5px;
  background-color: #F7F5FB;
  -webkit-box-shadow: 1px 1px 2px #999799;
          box-shadow: 1px 1px 2px #999799;
}

.file_download:hover {
  -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);

  -webkit-box-shadow: 2px 2px 3px #999799;
          box-shadow: 2px 2px 3px #999799;
}

.file-icon {
  height: 16px;
  margin-right: 5px;
  padding-top: 3px;
}

.text_file_content {
  font-size: 14px;

  overflow: auto;

  max-height: 500px;
  padding: 10px;

  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #ECEAEC;
}

.result-msg-box {
  min-height: 20px;
  margin: 10px 0;
  padding: 15px;

  color: #382F18;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FFFDC1;
}

.results-container > div {
  padding-bottom: 10px;
}

.results-container > div:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
}

.gallery-item-selector:hover {
  background-color: #AE9DEB;
}

.gallery-item-selector {
  font-size: 14px;

  max-width: 200px;
  padding: 5px;

  cursor: pointer;
  text-align: center;
}

.gallery-item-selector:not(:last-child) {
  border-bottom: 1px solid #938FA6;
}

.gallery-blobList-left {
  display: flex;
  flex-flow: column;

  width: 175px;
}

.gallery-item-selected {
  background-color: #E2DAE6;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  max-height: 600px;

  animation: container-entrance .5s cubic-bezier(.69, -.02, .46, 1.28);
}

.gallery-img {
  align-self: flex-start;
  flex-shrink: 0;

  margin: 0 5px 5px;

  -webkit-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
}

.gallery-blob-container {
  display: flex;
  overflow: auto;
  align-items: center;

  margin: 0 5px 5px 5px;

  animation: container-entrance .5s cubic-bezier(.69, -.02, .46, 1.28);
}

.gallery-item-list {
  display: flex;
  overflow-x: auto;
  flex-flow: column;

  width: 175px;
  max-height: 500px;
}

.gallery-item-list-right {
  animation: container-entrance .5s cubic-bezier(.69,-.02,.46,1.28);
  text-align: right;
}

.blobs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  width: calc(100% - 175px);
  max-width: calc(100% - 175px);
}

.blobs-wrapper-compare {
  width: calc(100% - 350px);
  max-width: calc(100% - 350px);
}

div[class^='html_text_'] {
  margin-top: 10px;
}

.gallery-video-container {
  display: flex;
  overflow: auto;

  margin: 0 5px 5px 5px;

  animation: container-entrance .5s cubic-bezier(.69, -.02, .46, 1.28);
}

.video-tools {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: calc(100% - 350px);

  border: 1px solid black;
  border-radius: 2px;
  background-color: #efefef;
  -webkit-box-shadow: 0 5px 15px -7px rgba(0, 0, 0, .75);
     -moz-box-shadow: 0 5px 15px -7px rgba(0, 0, 0, .75);
          box-shadow: 0 5px 15px -7px rgba(0, 0, 0, .75);
}

.stop-btn, .increase_speed, .decrease_speed {
  height: 15px !important;
}

.play-stop-container {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  justify-content: center;
  grid-gap: 15px;
}

.video-tools>div>img {
  height: 30px;
}

.video-tools>div {
  display: inherit;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.video-tools>div:not(:first-child) {
  border-left: 1px solid black;
}

.gallery-video-container > div {
  display: flex;
}

.gallery-video-container > div > video {
  align-self: flex-start;
}

.speed_control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.pause-btn {
  height: 20px !important;
}

.loop[status="off"]{
  opacity: 0.4;
}