.button-container {
  width: 100%;

  text-align: center;
}

.run-btn {
  margin-top: 20px;
  padding: 5px 15px;

  color: white;
  background-color: #5d8cb1;

  font-size: 18px;
}

.run-btn:hover {
  background-color: #3776a8;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.loader-text {
  margin-bottom: 10px;

  text-align: center;

  font-family: Verdana, "Geneva", sans-serif;
}

.loader-cicle {
  position: absolute;
  left: 50%;

  display: inline-block;

  width: 16px;
  height: 16px;
  margin-left: -10px;

  -webkit-animation: 3s infinite ease-in-out;
  -moz-animation: 3s infinite ease-in-out;
  -o-animation: 3s infinite ease-in-out;

  border-radius: 50%;
}

.loader-first-circle {
  -webkit-animation: kiri 1.2s infinite ease-in-out;
  -moz-animation: kiri 1.2s infinite ease-in-out;
  -o-animation: kiri 1.2s infinite ease-in-out;

  background: #5B4BA7;
}

.loader-second-circle {
  z-index: 100;

  background: #D4C9E9;
}

.loader-third-circle {
  -webkit-animation: kanan 1.2s infinite ease-in-out;
  -moz-animation: kanan 1.2s infinite ease-in-out;
  -o-animation: kanan 1.2s infinite ease-in-out;

  background: #8E77C2;
}

.element-appear {
  -webkit-animation: element-appear 1s forwards ease-in;
  -moz-animation: element-appear 1s forwards ease-in;
  -o-animation: element-appear 1s forwards ease-in;
}

.run-msg-box {
  min-height: 20px;
  margin: 10px;
  padding: 15px;

  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
}

.run-error {
  border-color: #ebccd1;
  background-color: #f2dede;
}

.run-error span {
  color: #a94442;
}

.run-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.run-success span {
  color: #3c763d;
}


/* Animations */

@-webkit-keyframes element-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes element-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
  }
  100% {
    z-index: 200;

    -webkit-transform: translateX(20px);
  }
}

@-webkit-keyframes kiri {
  0% {
    z-index: 200;

    -webkit-transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(-20px);
  }
}
