html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  image-rendering: pixelated;
}

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #484848;

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  font-weight: normal;
}

h1 {
  border: #adadad solid;
  border-width: 0 0 1px 0;

  font-size: 140%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4, h5 {
  font-size: 100%;
}

a:link {
  color: #555555;
}

a {
  text-decoration: none;
}

a:visited {
  color: #555555;
}

a:hover {
  color: #5b4ba6;
}

#pageTitle {
  color: #484848;

  font-size: 20px;
  font-weight: bold;
}

.citation {
  margin: 15px 0;
  padding: 0 25px;

  border-top: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
  background: #e3f3ff;

  font-size: 12px;
}


/*Cropper image pixelated*/

.cropper-view-box {
  image-rendering: pixelated;
}


/*Cropper crop margin to avoid scrollbars*/

.cropper-container {
  margin: 10px;
}

.btn {
  margin: 5px 10px 10px 0;
  padding: 8px;

  text-decoration: none;

  color: #333;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #e6e6e6;
  -webkit-box-shadow: 1px 1px 2px #999799;
  -moz-box-shadow: 1px 1px 2px #999799;
  box-shadow: 1px 1px 2px #999799;

  font-family: Arial;
  font-size: 15px;
}

.btn:hover {
  text-decoration: none;

  background: #d9d9d9;
}
