@font-face {
  font-family: 'icons';

  src: url('../assets/fontawesome-webfont.ttf') format('truetype');
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;

  color: #484848;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

h4, h5 {
  font-size: 95%;
}

p {
  font-size: 14px;
}

label {
  font-size: 14px;
}

a:link {
  color: #555;
}

a {
  text-decoration: none;
}

a:visited {
  color: #555;
}

a:hover {
  color: #5B4BA6;
}

#pageTitle {
  font-family: Arial,Helvetica,Tahoma,sans-serif;
  font-size: 22px;
  font-weight: bold;

  color: #484848;
}

.citation {
  font-size: 12px;

  margin: 15px 0;
  padding: 0 25px;

  border-top: 1px #E4E4E4 solid;
  border-bottom: 1px #E4E4E4 solid;
  background: #E3F3FF;
}


/*Cropper image pixelated*/

.cropper-view-box {
  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: auto;
}


/*Cropper crop margin to avoid scrollbars*/

.cropper-container {
  margin: 0 10px 10px 10px;
}

.btn {
  font-family: Arial;
  font-size: 13px;

  margin: 5px 10px;
  padding: 5px;

  cursor: pointer;
  text-decoration: none;

  color: #333;
  border: none;
  border-radius: 5px;
  background: #E6E6E6;
  -webkit-box-shadow: 1px 1px 2px #999799;
          box-shadow: 1px 1px 2px #999799;
}

.btn:hover {
  text-decoration: none;

  background: #D9D9D9;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  margin-bottom: 10px;
  /*border: #adadad solid;*/

  border-width: 0 0 1px 0;
}

.information-icon {
  height: 18px;
  margin-left: 15px !important;
}

.container-title {
  font-size: 19px !important;
}

div.ui-tooltip {
  max-width: 800px;
}

hr.separator {
  clear: both;

  height: 1px;
  padding: 0 10px;

  border: 0;
  background-image: -webkit-linear-gradient(left, #F0F0F0, #8C8B8B, #F0F0F0);
  background-image:    -moz-linear-gradient(left, #F0F0F0, #8C8B8B, #F0F0F0);
  background-image:     -ms-linear-gradient(left, #F0F0F0, #8C8B8B, #F0F0F0);
  background-image:      -o-linear-gradient(left, #F0F0F0, #8C8B8B, #F0F0F0);
}

.hand, select {
  cursor: pointer;
}

iframe {
  width: 90%;
  max-height: 100%;
  margin-left: 5%;
}

.imageRendering {
  -ms-interpolation-mode: nearest-neighbor !important;   /* IE 7+ (non-standard property) */

  image-rendering: -webkit-optimize-contrast !important; /* Safari 6, UC Browser 9.9 */
  image-rendering: -webkit-crisp-edges !important;       /* Safari 7+ */
  image-rendering: -moz-crisp-edges !important;          /* Firefox 3.6+ */
  image-rendering: -o-crisp-edges !important;            /* Opera 12 */
  image-rendering: pixelated !important;                 /* Chrome 41+ and Opera 26+  */
}

video {
  padding: 0 5px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}