html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

  -ms-interpolation-mode: nearest-neighbor;

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #484848;

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  font-weight: normal;
}

h1 {}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4, h5 {
  font-size: 100%;
}

a:link {
  color: #555555;
}

a {
  text-decoration: none;
}

a:visited {
  color: #555555;
}

a:hover {
  color: #5b4ba6;
}

#pageTitle {
  color: #484848;

  font-family: Arial,Helvetica,Tahoma,sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.citation {
  margin: 15px 0;
  padding: 0 25px;

  border-top: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
  background: #e3f3ff;

  font-size: 12px;
}


/*Cropper image pixelated*/

.cropper-view-box {
  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}


/*Cropper crop margin to avoid scrollbars*/

.cropper-container {
  margin: 0 10px 10px 10px;
}

.btn {
  margin: 5px 10px;
  padding: 8px;

  cursor: pointer;
  text-decoration: none;

  color: #333;
  border: none;
  border-radius: 5px;
  background: #e6e6e6;
  -webkit-box-shadow: 1px 1px 2px #999799;
  box-shadow: 1px 1px 2px #999799;

  font-family: Arial;
  font-size: 15px;
}

.btn:hover {
  text-decoration: none;

  background: #d9d9d9;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 10px;
  /*border: #adadad solid;*/

  border-width: 0 0 1px 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.information-icon {
  height: 18px;
  margin-left: 15px !important;
}

.container-title {
  font-size: 23px !important;
}

div.ui-tooltip {
  max-width: 800px;
}

hr.separator {
  height: 1px;
  padding: 0 10px;

  border: 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.hand, select {
  cursor: pointer;
}
