.tabs {
  display: inline-block;

  width: 100%;
  padding: 3px 0px;

  border-bottom: 0.5px solid #c6c6c6;
}

.tabs a:first-child {
  margin-left: 25px;
}

.tabs a {
  padding: 2px 6px;

  text-decoration: none;

  color: #000000;
  border-radius: 5px 5px 0 0;
  background-color: #d4c9e9;

  font-family: Arial;
  font-size: 14px;
}

.tabs a:hover {
  opacity: 1;
  border: 0.2px solid #88898b;
  border-bottom: none;
}

.selectedTab {
  opacity: 1;
  border: 0.2px solid #88898b;
  border-bottom: none;
  background-color: #ffffff !important;
}
