/* app css stylesheet  */

/* Image Selection */

.selected-image {
  border-color: red;
  border-style: solid;
  border-width: thick;  
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
}


/** Detail View **/

img.demo {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.demo:first-child {
  display: block;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.demo-thumbs {
  margin: 0;
  list-style: none;
}

ul.demo-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.demo-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.demo-thumbs img:hover {
  cursor: pointer;
}


/*
body {
  padding-top: 20px;
}


.demo-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.demos {
  list-style: none;
}


.demos li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}



ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}*/

/* Table of parameters */

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

