fastapi==0.92.0
uvicorn==0.20.0
pydantic==1.10.4
imageio==2.9.0
ipython==7.31.1
numpy==1.22.0
opencv-python==4.5.3.56
Pillow==9.3.0
python-magic==0.4.24
requests==2.26.0
tifffile==2021.8.8
result==0.8.0
imagecodecs==2021.8.26
cryptography==37.0.4
python-multipart==0.0.18
lxml==5.1.0