backports.functools-lru-cache==1.5
cheroot==6.4.0
CherryPy==17.0.0
configparser==3.5.0
jaraco.functools==1.20
ipython==5.1.0
more-itertools==4.3.0
numpy==1.15.0
opencv-python==3.4.2.17
portend==2.3
pylint==2.3.1
python-magic==0.4.15
pytz==2018.5
requests==2.22.0
six==1.11.0
tempora==1.13
tifffile==0.15.1
