{% extends "base.html" %} 
{% load filters %}
{% block title %}Password recovery{% endblock %} 
{% block bodyid %}password-reset{% endblock %}
{% block content %}

<div class="container-centered">
    <a href="/cp2/">
        <img src="/cp2/static/images/IPOL-header-logo.png" class="navbar-brand">
    </a>
    <h2>Create a new password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Reset Password">
    </form>
</div>

{% endblock %}