{% extends "base.html" %} 
{% load filters %}
{% block title %}Password recovery{% endblock %} 
{% block bodyid %}password-reset{% endblock %}
{% block content %}

<div class="container-login">
    <a href="/cp2/">
        <img src="/cp2/static/images/IPOL-header-logo.png" class="navbar-brand">
    </a>
    <h2>Email sent</h2>
    <p>We've sent you an instructions to reset your password to the email specified in the previous step.</p>
    <p>If you don't receive said email please try again or reach us. Please conside checking your email spam folder.</p>
</div>

{% endblock %}