{% extends "base.html" %} {% block title %}createBlob{% endblock %} {% block bodyid %}password-reset{% endblock %} 

{% block content %}

<!--Reset Password-->
<div id="password-reset-container" class="container-login">
    <a href="/cp2/">
        <img src="/cp2/static/images/IPOL-header-logo.png" class="navbar-brand">
    </a>
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST" action="ajax_send_password_recovery">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email-input" placeholder="example@email.com" required>
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
</div> 

{% endblock %}