<%include file="header.html" />

<%
	height = app.cfg['meta']['height']
	if height < 310:
		height = 310
	hastruth = app.cfg['meta']['hastruth']
%>

<%include file="wait_info.html" />

<h2>Input Image</h2>

<div class="gallery" style="height:${height}px">
	<ul class="index">
		<li> <a href="#">I<sub>1</sub><span>
				<img src="${app.work_url + 'a.png'}" />
			</span></a>
		</li>
		<li> <a href="#">I<sub>2</sub><span>
				<img src="${app.work_url + 'b.png'}" />
			</span></a>
		</li>
		%if hastruth:
		<li> <a href="#">ground truth<span>
				<img src="${app.work_url + 't.png'}" />
			</span></a>
		</li>
		%endif
	</ul>
</div>

<%include file="footer.html" />
