<!DOCTYPE html PUBLIC>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
      <h1>List of demos</h1>
      <ul>
    <a href="/demo">add demo</a><br></br>
    <table>
    %for demo_info in list_demos:
        <tr>
        <td>
            <a href="/get_blobs_of_demo?demo_name=${demo_info["name"]}">${demo_info["name"]}</a>
        </td>
        <td>
                ${demo_info["length"]} sets
        </td>
        </tr>
    %endfor
      </ul>
    </table>
    </body>
</html>
