<!DOCTYPE html PUBLIC>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
      <ul>
    <a href="index">return</a>
    <h1>Blob list of demo ${demo[demo_name]["name"]}</h1>
        This demo is a template:
        %if demo[demo_name]["is_template"] == 1:
            Yes
        %else:
            No
            %if demo[demo_name]["template_id"] == 0:
                <br>
                You don't use template.<br>
                Do you want use a template ?
            %else:
                <br>
                You use template: ${demo["use_template"]["name"]}<br>
                Do you want to change template used ?
            %endif
            <form action="/use_template" method="post">
                <input type="hidden" name="demo[id]" value="${demo_name}">
                <select name="name_template" value="">
                <option>None</option>
                %for item in tmpl_list:
                    <option>${tmpl_list[item]["name"]}</option>
                %endfor
                </select>
                <br>
                <input type="submit" value="Submit">
            </form>
        %endif
    <br>
    <a href="blob?demo_name=${demo_name}">            add blob                    </a><br>
    <a href="archive?demo_name=${demo_name}">         add archive (zip, tar, tgz) </a><br>
    <a href="op_remove_demo?demo_name=${demo_name}">  remove this demo            </a><br>
    <br>
    %if len(blobs_list):
        <h1>Demo blob list </h1>
        %for blob_set in blobs_list:
            <table  style=' background-color:#EEEEEE;
                            margin:5px;float:left;
                            text-align:center;vertical-align:middle;'>
                <tr>
                %for idx in range(1,blob_set[0]['size']+1):
                    <td>
                    <a href="edit_blob?blob_id=${blob_set[idx]["id"]}&demo_name=${demo_name}">
                    <img src="${blob_set[idx]["url_thumb"]}"> </img></a>
                    </td>
                %endfor
                </tr>
                <tr>
                %for idx in range(1,blob_set[0]['size']+1):
                    <td style="align:center">${blob_set[idx]['title']}
                        (pos:${blob_set[idx]["pos_in_set"]})
                        <a href="op_remove_blob_from_demo?demo_name=${demo_name}&blob_set=${blob_set[0]['set_name']}&blob_id=${blob_set[idx]["id"]}">
                            delete
                        </a>
                    </td>
                %endfor
                </tr>
                <tr>
                    <td colspan="20" align="center">
                    ${blob_set[0]['set_name']} (size:${blob_set[0]['size']})
<!--                    <a href="op_remove_blobset_from_demo?demo_name=${demo_name}&blob_set=${blob_set[0]['set_name']}">
                        delete set
                    </a> -->
                    </td>
                </tr>
            </table>
            <div style="clear:both"></div>
            <br/>
        %endfor
    %endif

	%if len(tmpl_blobs):
    <h1>Demo template blob list</h1>
    %for blob_set in tmpl_blobs:
        <table style="margin:5px">
        <tr>
        %for idx in range(1,blob_set[0]['size']+1):
            <td>
            <a href="edit_blob?blob_id=${blob_set[idx]["id"]}&demo_name=${demo_name}">
            <img src="${blob_set[idx]["url_thumb"]}"> </img></a>
            </td>
        %endfor
        <tr>
        <tr>
            <td colspan="20" align="center">
            Name of the set:'${blob_set[0]['set_name']}'
            </td>
        <tr>
        </table>
        <br>
    %endfor
  %endif
      </ul>
    </body>
</html>
