<!DOCTYPE html PUBLIC>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
      <ul>
	<a href="index">return</a>
	<h1>List of blobs of ${demo[demo_name]["name"]}</h1>
	This demo is a template:
	%if demo[demo_name]["is_template"] == 1:
	Yes
	%else:
	No
	%if demo[demo_name]["template_id"] == 0:
	<br>
	You don't use template.<br>
	Do you want use a template ?
	%else:
	<br>
	You use template: ${demo["use_template"]["name"]}<br>
	Do you want to change template used ?
	%endif
	<form action="/use_template" method="post">
	  <input type="hidden" name="demo[id]" value="${demo_name}">
	  <select name="name_template" value="">
	    <option>None</option>
	    %for item in tmpl_list:
        <option>${tmpl_list[item]["name"]}</option>
	    %endfor
	  </select>
	  <br>
	  <input type="submit" value="Submit">
	</form>
	%endif
	<br>
	<a href="blob?demo_name=${demo_name}">add blob</a><br>
	<a href="zip?demo_name=${demo_name}">add zip</a><br>
	<a href="op_remove_demo?demo_name=${demo_name}">remove this demo</a><br><br>
	%if len(blobs_list):
    <h1>List of blob of this demo</h1>
    %for blob_set in blobs_list:
        <table style="margin:5px">
        <tr>
        %for idx in range(1,blob_set[0]['size']+1):
            <td>
            <a href="edit_blob?blob_id=${blob_set[idx]["id"]}&demo_name=${demo_name}">
            <img src="${blob_set[idx]["url_thumb"]}"> </img></a>
            </td>
        %endfor
        <tr>
        <tr>
            <td colspan="2" align="center">
            ${blob_set[1]['title']}
            <a href="op_remove_blob_from_demo?demo_name=${demo_name}&blob_id=${blob_set[idx]["id"]}">
                delete
            </a>
            </td>
        <tr>
        </table>
        <br>
    %endfor
  %endif

	%if len(tmpl_blobs):
    <h1>List of blob of the demo template</h1>
    %for blob_set in tmpl_blobs:
        <table style="margin:5px">
        <tr>
        %for idx in range(1,blob_set[0]['size']+1):
            <td>
            <a href="edit_blob?blob_id=${blob_set[idx]["id"]}&demo_name=${demo_name}">
            <img src="${blob_set[idx]["url_thumb"]}"> </img></a>
            </td>
        %endfor
        <tr>
        <tr>
            <td colspan="2" align="center">
            ${blob_set[1]['title']}
            </td>
        <tr>
        </table>
        <br>
    %endfor
  %endif
      </ul>
    </body>
</html>
