<!DOCTYPE html PUBLIC>
<html>
    <head>
      <meta charset="utf-8" />
    </head>
    <body>
      <form action="/add_blob" method="post" enctype="multipart/form-data">
	<div>
	Name demo: <br>
	<input type="text" name="demo[name]" value="">
	<br></br>
	Tag:
	<select name="demo[tag][]" multiple="multiple">
	  %for item in the_list:
	  <option >${item}</option>
	  %endfor
	</select>
	<br></br>
	<input type="text" name="demo[tag][]" value="">
	<br></br>
	<input type="text" name="demo[tag][]" value="">
	<br></br>
	<input type="file" name="demo[blob]">
	<br></br>
	<input type="submit" value="Submit">
	</div>
      </form>
    </body>
</html>
