[Unit]
Description=Run demorunner-docker (for limule, with gpu)
After=network.target

[Service]
ExecStart=/home/ipol/ipolDevel/ipol_demo/modules/demorunner-docker/bin/ipol-demorunner
ExecStartPre=-/home/ipol/.cargo/bin/cargo install --git https://github.com/kidanger/ipol-demorunner.git --rev 2bb39ccd8193178055ee6802a702061dd6227666 --root . --target-dir target --debug --force --locked
TimeoutStartSec=300
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/demorunner-docker/
Environment=ROCKET_PROFILE=ipol-limule-gpu
RestartSec=10
Restart=always
SyslogIdentifier=demorunner-docker-gpu

[Install]
WantedBy=default.target


