[Unit]
Description=Run demorunner (for limule)
After=docker.service

[Service]
ExecStart=/usr/bin/docker compose up --build
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/demorunner/
Environment=UID=1005
Environment=GID=1005
Environment=PORT=3002
Environment=IPOL_HOST=ipolcore.ipol.im
Environment=IPOL_URL=https://ipolcore.ipol.im
TimeoutStartSec=300
RestartSec=10
Restart=always
SyslogIdentifier=demorunner

[Install]
WantedBy=default.target
