[Unit]
Description=Run demorunner (for limule)
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name ipol-demorunner -p 127.0.0.1:3002:9004 --env HOME=/home/ipol --user 1005:1005 -v /home/ipol/ipolDevel:/home/ipol/ipolDevel --workdir /home/ipol/ipolDevel/ipol_demo/modules/demorunner/ registry.ipol.im/ipol-debian-demorunner python3 main.py demorunner.conf
TimeoutStartSec=300
ExecStop=/usr/bin/docker stop ipol-demorunner
SyslogIdentifier=demorunner

[Install]
WantedBy=default.target
