[Unit]
Description=Run demorunner-docker (for limule)
After=network.target

[Service]
ExecStart=/home/ipol/ipolDevel/ipol_demo/modules/demorunner-docker/bin/ipol-demorunner
ExecStartPre=-/home/ipol/.cargo/bin/cargo install --git https://github.com/ipol-journal/ipol-demorunner.git --rev f4c094312b3a89a66665c80e9c44b4868a371e6a --root . --target-dir target --debug --force --locked
TimeoutStartSec=300
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/demorunner-docker/
Environment=ROCKET_PROFILE=ipol-limule
Environment=ROCKET_ADDRESS=0.0.0.0
Environment=RUST_LOG=info,ipol_demorunner=debug
RestartSec=10
Restart=always
SyslogIdentifier=demorunner-docker

[Install]
WantedBy=default.target
