.archive-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.archive-pagination {
    display: flex;
    gap: 1rem;
}

.page-input i {
    transform: translateX(-2rem);
}

#page-input {
    padding: 0.5rem;
    border: 2px solid #555;
    border-radius: var(--border-radius);
    font-size: var(--fs-normal);
    width: 4rem;
    transition: all 0.3s ease-in-out;
}

.experiment-container {
    display: flex;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1rem auto;
    max-width: 80%;
    flex-wrap: wrap;
    align-items: center;
    place-content: space-around;
}

.experiment {
    width: 100%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.experiment-info {
    padding: 1rem;
}

.files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.img-container {
    width: 100%;
    height: auto;
}

.img-container > img {
    width: 100%;
    height: auto;
}

.params {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
}
