#editBlobForm {
    padding: 1rem 0;
}

#editor-dialog {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 4px;
}

#add-editor-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#add-editor-input {
    font-size: var(--fs-normal);
    padding: 0.5rem;
    border-radius: 4px;
}

.editor {
    border: 1px solid;
    padding: 1rem;
    margin: 0.5rem 0;
}

#editors-btn-close {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.form-item {
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.form-item:last-child {
    justify-content: flex-end;
    flex-direction: row;
    flex: 0 0 100%;
}

#DetailsBlob {
    display: grid;
    max-width: 80%;
    margin: 1rem auto;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    align-items: stretch;
    gap: 2rem;
}

#blob-upload, #container-vr {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: flex-end;
}

#blob-upload > i, #container-vr > i {
    position: absolute;
    padding: 1rem;
    background-color: var(--color-button-remove);
    border-radius: 2px;
    margin: 2px;
}
/* 
#removeVRFile {
    position: absolute;
    padding: 1rem;
} */

#DetailsBlob #thumbnail,
#DetailsBlob #thumbnail_vr {
    max-width: 100%;
    padding: 1rem 0;
}

#DetailsBlob label {
    flex: 0 1 100%;
    font-size: 1.1rem;
    font-weight: var(--fw-regular);
    text-decoration: underline;
    text-decoration-color: var(--color-dark-purple);
    margin: 0.2rem 0;
}

#DetailsBlob input {
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 2px solid var(--color-darkgray);
    border-radius: var(--border-radius);
    text-align: center;
    line-height: 2rem;
    flex: 0 1 100%;
}

#blobRepresentation {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
}

#DetailsBlob h2 {
    text-decoration: none;
    font-weight: var(--fw-medium);
}

#blobThumbnail, #vrThumbnail {
    /* max-width: 100%;
    padding: 1rem; */
    text-decoration: underline;

}

#removeFile {
    padding: 8px 8px 8px 8px;
    background-color: lightcoral;
    border-color: red;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

#removeVr {
    border-radius: var(--border-radius);
    background-color: lightcoral;
    border-color: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    margin-top: 20px;
}

#template-dropdown {
    padding: 0.5rem;
    background-color: var(--color-blue);
    border: 0;
    color: var(--color-white);
}

.templates-head {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}