body#DemoList header {
    background: linear-gradient(180deg, #d0bad966, white);
}

#navbar {
    display: flex;
    padding: 1rem;
    align-items: center;
    align-content: center;
    gap: 2rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: var(--fw-medium);
}

.navbar-brand {
    padding: 0 0.5rem;
}

.navbar-brand > img {
    height: 3.5rem;
    transition: all 0.5s ease-in-out;
}

.navbar-brand > img:hover {
    transform: scale(1.1);
}

.navbar-default {
    border-color: #f8f8f8;
    padding-top: 4px;
}

.nav-links {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

.nav-links > a:not(:first-child) {
    background: linear-gradient(var(--color-shadow-purple) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}

.nav-links > a:not(:first-child):hover {
    --p: 100%;
    color: #fff;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    align-content: center;
    padding: 0 2rem;
}

#nav-demo {
    font-weight: var(--fw-medium);
    text-decoration: none;
    border: 1px solid transparent;
}

.nav-item a {
    color: #337ab7;
}

#logout-btn, .fa-sign-out-alt {
    color: black;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: #63636333 0px 15px 25px 0px;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}

.dropdown > button {
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
    border: 0;
    background: none;
    padding-block: 1rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0;
    min-width: 100%;
    gap: 1rem;
    border: 1px solid var(--color-lightgray);
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 0.3rem 0.5rem;
    font-size: var(--fs-medium);
    font-weight: var(--fw-thin);
}

.dropdown-content a:hover {
    text-decoration: underline;
    font-weight: var(--fw-medium);
}