/* ////////// SEARCH AND PAGINATION /////////// */
.demos-head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.demos-head > h1 {
    background-image: linear-gradient(90deg, #3e0843ab, #4f056a, #3e08438f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

input .demo_selector {
    margin-left: 0;
}

#demo_selector {
    padding: 0.5rem;
    border: 2px solid #555;
    border-radius: var(--border-radius);
    font-size: var(--fs-normal);
    /* box-shadow: #63636333 0px 0px 10px 3px; */
    width: 350px;
    transition: all 0.3s ease-in-out;
}

#demo_selector:hover {
    box-shadow: var(--box-shadow);
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
}

.pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pagination a {
    text-decoration: none;
    color: var(--color-black);
}

.pagination a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.pageCount {
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: auto;
    text-align: center;
    margin: auto;
}

#pageMax {
    width: 25%;
    height: 50px;
    background-color: #444B6E;
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 1px;
}

.pagination .btn > img {
    color: red;
}

#search-form input[type=submit] {
    display: none;
}


/* ////////// DEMO LIST /////////// */

#demo-list-container {
    width: 80%;
    margin: 1rem auto;
}

#demos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
    padding: 1rem 0;
    margin: 1rem auto;
    gap: 1.5rem;
}

.demo-card {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    border-color: var(--color-dark-purple);
    box-shadow: rgb(99 99 99 / 20%) 0px 0px 10px 3px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.demo-title {
    font-weight: var(--fw-medium);
    flex-basis: 50%;
}
.demo-info { 
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
.card-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 1rem;
}

.card-buttons a {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.demo-title > h1 {
    color: var(--color-dark-blue);
    font-size: 1.5rem;
    padding: 0.4rem 0;
    font-weight: var(--fw-medium);
}

.demo-card > a.btn {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    color: gray;
    background-color: white;
}

.demo-card > p {
    padding: 0.5rem;
}

.demo-card > p:nth-child(2) {
    background-color: var(--color-lightgray);
    border-radius: 0.5rem;
}

.demo-info > p {
    font-size: 1rem;
    padding: 0.25rem;
    font-weight: var(--fw-regular);
    display: inline-block;
}

.demo-id {
    display: inline-block;
    color: var(--color-dark-purple);
    border: 2px solid var(--color-dark-purple);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.25rem;
    font-weight: var(--fw-regular);
    display: inline-block;
}

/* //////// ADD DEMO MODAL ///////// */
.addDemos {
    position: fixed;
    right: 0;
    top: 100%;
    transform: translateY(-100%);
}

#DemoForm {
    display: flex;
    flex-direction: column;
}

#newDemo-formFields,
#newDemo-buttons {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 0 10%;
    margin: 1rem;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
}

#newDemo-buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

#newDemo-formFields input,
#newDemo-formFields select {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.addDemos > button {
    margin: 3rem;
    background-color: #76568a;
    color: var(--color-white);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 1rem;
    box-shadow: #63636333 0px 2px 4px 2px;
    border: 3px solid var(--color-shadow-purple);
    border-radius: 50%;
}

#fond {
    position: absolute;
    z-index: 10;
    /* background-color: #000; */
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(140deg, #36223a 0 80%, gray);
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 11;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    height: min-content;
    min-width: 25%;
    max-width: 90%;
    text-align: center;
    transform: translate(-50%, -51%);
}

/* .addDemos #modal a {
    border: 4px solid lightskyblue;
    padding: 5px 5px 5px 5px;
    background-color: inherit, transparent;
    background-color: inherit;
    border-radius: var(--border-radius);
    color: black;
    height: 25%;
    width: 25%;
    font-size: 20px;
} */


#DemoForm button {
    background-color: var(--color-button-confirm);
    border: none;
    font-size: var(--fs-normal);
    padding: 1rem;
    font-weight: var(--fw-bold);
    margin: 0 1rem;
    border-radius: var(--border-radius);
}

#modal .close {
    background-color: var(--color-button-close);
}

#SelectDemoState {
    border: 1px solid black;
    border-radius: 4px;
}

#addDemo {
    margin-top: 15%;
    text-align: center;
}

#DemoForm p {
    margin: 1rem;
}

#id_DemoId {
    margin: 1rem;
}

input#id_DemoId {
    padding-left: 50px;
    border: 2px solid black;
    padding-right: 25px;
}

#id_Title {
    margin-left: 10px;
}

input#id_Title {
    width: 45%;
    border: 2px solid black;
    padding: 1rem;
}

#DemoForm p {
    width: 90%;
}

#can_edit {
    color: var(--color-danger);
}