@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap');

:root {
    --main--color: #eee;

    --fs-small: 0.75rem:
    --fs-normal: 1rem:
    --fs-medium: 1.25rem:
    --fs-large: 1.5rem:
    --fs-xlarge: 2rem:
    
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;

    --border-radius: 4px;

    --color-white: #eee;
    --color-blue: #337ab7;
    --color-shadow-purple: #a170a6;
    --color-dark-purple: #58237c;
    --color-lightgray: #ebebebd5;
    --color-darkgray: #363636d5;

    --color-danger: #ce3c6f;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

h1 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

h2 {
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
}

h3 {
    font-size: 1.2rem;
    font-weight: var(--fw-thin);
}

h4 {
    font-size: 1rem;
    font-weight: var(--fw-thin);
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid var(--color-darkgray);
    border-radius: 4px;
    text-decoration: none;
    color: var(--color-darkgray);
    background-color: var(--color-lightgray);
}

.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-white);
}

body#Logout {
    background-color: rgb(0, 0, 0);
}

.container-centered {
    margin: 1rem auto;
    width: 80%;
    padding-bottom: 1rem;
}

#demoextras-texts > p {
    line-height: 2rem;
}

#editDemoExtras {
    padding: 1rem 0;
}

.extras-info {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid var(--color-shadow-purple);
    border-radius: 4px;
    max-width: fit-content;
    text-align: center;
    align-items: center;
}

ul li:before{
    content: '\2713';
    margin: 0 1em;    /* any design */
}


.button_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    text-decoration: None;
}

.forgot {
    color: #337ab7;
    text-decoration: none;
    margin: 10px;
}

.form-logout {
    text-align: center;
    margin-top: 100px;
}

.form-logout h2 {
    font-size: 40px;
    margin: 40px;
    font-weight: var(--fw-regular);
}

/* #content article {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #337ab7;
    position: relative;
    margin-right: 15%;
} */

article a {
    text-decoration: None;
}

/* #content article a {
    text-decoration: None;
    list-style-type: None;
    color: blue;
}

#content a {
    text-decoration: None;
}

#content a li {
    display: inline-block;
    margin: 5px 5% 10px 15px;
    color: #3479b7;
}

#content ul {
    text-decoration: None;
    margin-bottom: 5px;
} */

.identity {
    border: 3px solid #9a9a9a;
    padding: 10px 10px 15px 10px;
    height: 10px;
    max-width: 20%;
    text-align: center;
    font-size: 15px;
    font-weight: var(--fw-bold);
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #9a9a9a;
    border-radius: 15px;
}

.DemoInformation li {
    width: 40%;
}

.module {
    border: 2px solid lightgray;
    margin: 10px 50% 10px 10px;
    padding: 10px 10px 10px 30px;
    border-radius: var(--border-radius);
    font-size: 17px;
}

#buttonAddTemplate {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: var(--border-radius);
}

#Templates article {
    margin-top: 30px;
    margin-right: 50%;
    border: 2px solid lightgray;
    font-size: 20px;
}

#Templates h1 {
    margin-bottom: 50px;
}

#modal #titleAddTemplate {
    font-size: 25px;
    text-align: center;
    margin-left: 15%;
    color: #337ab7;
    font-weight: var(--fw-bolder);
}

#modal #labelAddTemplate {
    margin-top: 30px;
    color: #337ab7;
    margin-right: 15px;
    margin-bottom: 35px;
}

#modal #Template_name {
    border-radius: 2px;
    width: 50%;
    border: solid 2px lightblue;
}

div.block {
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 3px double black;
    padding: 25px 0px 0px 2%;
    max-width: 85%;
}

#myContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.demo_id {
    margin-bottom: 20px;
}

#TemplatesDetails h2 {
    margin-left: 25px;
    font-size: 30px;
    font-weight: var(--fw-regular);
    margin-top: 50px;
}

#TemplatesDetails #addBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin-left: 50px;
    margin-right: 25px;
}

#TemplatesDetails #deleteTemplate {
    border-radius: var(--border-radius);
    background-color: lightcoral;
    border-color: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-left: 15px;
    font-size: 14px;
}

.buttonDelete {
    /* border-radius: 2px;
    background-color: black;
    border-color: black;
    text-decoration: none;
    color: white;  */
    /* padding: 5px 5px 5px 5px; 
    border-radius: 10px; */
    margin-top: 15px;
    border-radius: 10px;
    background-color: lightcoral;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
}

#TemplatesDetails #content h3 {
    color: black;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 22px;
}

.demoUsingTemplate a {
    color: #2e6da4;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
}

.demoUsingTemplate {
    border: 2px solid #2e6da4;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 25px 50px;
    max-width: 50%;
}

#blobCreation {
    border: 2px solid lightslategray;
    padding: 50px 0px 50px 40px;
    margin: 30px 30% 30px 10%;
}

#createBlobForm input {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    width: 40%;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

#createBlobForm label {
    width: 30%;
    font-size: 15px;
    background-color: #ccc;
    padding: 7px 12px;
}

#ButtonAddBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

#addBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin-left: 50px;
    margin-right: 25px;
}

#blobCreation #thumbnail {
    max-width: 350px;
    max-height: 350px;
}

#blobCreation #thumbnail_vr {
    max-width: 350px;
    max-height: 350px;
    margin-left: 10%;
}

#createBlob h2 {
    margin: 50px 50px 0px 50px;
}

#nameOfTemplate {
    text-decoration: underline;
    font-size: 35px;
}

#goPreviousPage {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin-left: 10%;
}

#DetailsBlob {
    border: 2px solid lightslategray;
    padding: 20px 0px 50px 40px;
    margin: 30px 30% 30px 10%;
}

#DetailsBlob #thumbnail {
    max-width: 300px;
    max-height: 300px;
}

#DetailsBlob #thumbnail_vr {
    max-width: 300px;
    max-height: 300px;
}

#DetailsBlob label {
    width: 30%;
    font-size: 15px;
    background-color: #ccc;
    padding: 7px 12px;
}

#DetailsBlob input {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    width: 40%;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

#setName {
    margin-left: 10%;
    margin-top: 30px;
    font-size: 30px;
}

#blobRepresentation {
    display: inline-flex;
    width: 100%;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 20px;
}

#blobThumbnail {
    text-align: center;
    width: 250px;
}

#vrThumbnail {
    text-align: center;
    margin-left: 10%;
    width: 100%;
    margin-right: 10%;
}

#removeFile {
    padding: 8px 8px 8px 8px;
    background-color: lightcoral;
    border-color: red;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

#removeVr {
    border-radius: var(--border-radius);
    background-color: lightcoral;
    border-color: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    margin-top: 20px;
}