@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap');

:root {
    --main--color: #eee;

    --fs-small: 0.75rem;
    --fs-normal: 1rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 2rem;
    
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;

    --border-radius: 4px;

    --color-white: #eee;
    --color-blue: #5e7b93;
    --color-shadow-purple: #a170a6;
    --color-dark-purple: #58237c;
    --color-lightgray: #ebebebd5;
    --color-darkgray: #363636d5;

    --color-button-confirm: #50bf96;
    --color-button-close: #aaaaaa;

    --color-danger: #ce3c6f;
    --color-black: #000000;
    --color-light-black: #3b3b3b;

    --box-shadow: #63636333 0px 0px 10px 3px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

h1 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

h2 {
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
}

h3 {
    font-size: 1.2rem;
    font-weight: var(--fw-thin);
}

h4 {
    font-size: 1rem;
    font-weight: var(--fw-thin);
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid var(--color-darkgray);
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-darkgray);
    background-color: var(--color-lightgray);
    cursor: pointer;
}

.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-white);
}

.btn-dark {
    background-color: var(--color-black);
    border-color: var(--color-light-black);
    color: white;
}

button:disabled {
    pointer-events: none;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.di-none {
    display: none;
}

body#Logout {
    background-color: rgb(0, 0, 0);
}

.container-centered {
    margin: 1rem auto;
    width: 80%;
    padding-bottom: 1rem;
}

#demoextras-texts > p {
    line-height: 2rem;
}

#editDemoExtras {
    padding: 1rem 0;
}

.extras-info {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid var(--color-shadow-purple);
    border-radius: 4px;
    max-width: fit-content;
    text-align: center;
    align-items: center;
}

ul li:before{
    content: '\2713';
    margin: 0 1em;    /* any design */
}


.button_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    text-decoration: None;
}

.forgot {
    color: #337ab7;
    text-decoration: none;
    margin: 10px;
}

.form-logout {
    text-align: center;
    margin-top: 100px;
}

.form-logout h2 {
    font-size: 40px;
    margin: 40px;
    font-weight: var(--fw-regular);
}

#content h1 {
    padding: 1rem 2rem;
}

article a {
    text-decoration: None;
}

.identity {
    border: 3px solid #9a9a9a;
    padding: 10px 10px 15px 10px;
    height: 10px;
    max-width: 20%;
    text-align: center;
    font-size: 15px;
    font-weight: var(--fw-bold);
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #9a9a9a;
    border-radius: 15px;
}

.module {
    border: 2px solid lightgray;
    margin: 10px 50% 10px 10px;
    padding: 10px 10px 10px 30px;
    border-radius: var(--border-radius);
    font-size: 17px;
}

#blobCreation {
    border: 2px solid lightslategray;
    padding: 50px 0px 50px 40px;
    margin: 30px 30% 30px 10%;
}

#createBlobForm input {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    width: 40%;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

#createBlobForm label {
    width: 30%;
    font-size: 15px;
    background-color: #ccc;
    padding: 7px 12px;
}

#ButtonAddBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

#addBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    color: #fff;
}

#blobCreation #thumbnail {
    max-width: 350px;
    max-height: 350px;
}

#blobCreation #thumbnail_vr {
    max-width: 350px;
    max-height: 350px;
    margin-left: 10%;
}