#templates-header {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#template-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    max-width: 80%;
    margin: 1rem auto;
}

.template-usage {
    max-width: 80%;
    margin: 4rem auto;
}

#templateForm {
    margin: 1rem 0;
}

#templateForm > input {
    padding: 0.5rem;
    border: 2px solid var(--color-black);
    border-radius: 4px;
    min-width: 15rem;
}

#addTemplate-dialog > .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

#buttonAddTemplate {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: var(--border-radius);
}

#template-container article {
    border: 2px solid lightgray;
    font-size: 20px;
    min-width: 5rem;
    display: flex;
    align-items: center;
}

#template-container a {
    display: block;
    padding: 1rem;
    width: 100%;
    color: var(--color-black);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    text-decoration: None;
}

#template-container a > i {
    padding: 0 0.4rem;
}

#modal #labelAddTemplate {
    margin: 1rem;
}

#modal #Template_name {
    border-radius: 2px;
    width: 50%;
    border: solid 2px lightblue;
}

div.block {
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 3px double black;
    padding: 25px 0px 0px 2%;
    max-width: 85%;
}

#modal #saveTemplate {
    border-radius: var(--border-radius);
    background-color: var(--color-button-confirm);
    color: #fff;
    font-size: var(--fs-normal);
}

/* SHOW TEMPLATES */
.head {
    display: flex;
}
.set-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1rem auto;
    max-width: 80%;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.set {
    width: 100%;
    box-shadow: var(--box-shadow);

}

.set p {
    padding: 1rem;
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.set-images {
    display: flex;

    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.set-images > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row-reverse;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
    height: 300px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
}
.set-images > div > a {
    width: 100%;
    height: 100%;
}

.set-images img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .head {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #TemplatesDetails h2 {
    font-size: 1.5rem;
    font-weight: var(--fw-regular);
}

/* #TemplatesDetails #addBlob {
    border-radius: var(--border-radius);
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin-left: 50px;
    margin-right: 25px;
} */

/* #TemplatesDetails #deleteTemplate {
    border-radius: var(--border-radius);
    background-color: lightcoral;
    border-color: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-left: 15px;
    font-size: 14px;
} */

.buttonDelete {
    margin-top: 15px;
    border-radius: 10px;
    background-color: lightcoral;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
}

#TemplatesDetails #content h3 {
    color: black;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 22px;
}

.demos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    margin: 1rem auto;
    gap: 1rem;
    overflow: hidden;
    grid-auto-flow: dense;
    white-space: nowrap;
}

.demos-container a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    font-size: 1rem;
    font-weight: var(--fw-medium);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}


.slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  /* .author-info {
    background: #000000bf;
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    border: 1px solid #eee;
    font-size: 1.3rem;
    padding: 0.4rem;
    color: var(--color-button-close);
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}

  /* Don't need button navigation */
@supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
}