{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Archive module
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;

        }
        .ststsnok {
            color:red;

        }
        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}


    <div class="container">

        <h2>Archive module</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.archive.experiment_details' search=data.query %}
            {% include 'archive/searchbar.html' %}
        {% endwith %}

        <p>
            This module is responsible for storing the experiments made bay users.
            When a user select a file of his own instead of using ono of the files proposed by the demo,
            This file is uploaded and used to run the demo bt DEMO MODULE, then the result of this execution is sent to ARCHIVE MODULE to be stored.
            Some demos have 40000 experiments

            db structure:
            |Experiment| 1---m |exp_blob| n----1 |blob|

            Experiment has the demos's id
        </p>

        <p>
            Deleting a demo from this module deletes all the experiments of this demo in archive.
        </p>


        {# view.list_demos returns a tuple, so i can know if I must paint the -1 demo for testing or not#}
        {# todo this is kind of nasty, i would remove this from archive#}
        {% with data=view.list_demos %}


            {% if data.1  %}
                <div class="demo" id="demo_info_test}" >
                    <p style="padding-left: 20px">demo_id:-1  </p>
                    <a  href="{% url 'ipol.cp.archive.page' -1 %}">
                        <p style="padding-left: 20px">title: test </p>
                    </a>

                    <!--{#  boton Delete demo#}-->
                    <!--<div style="padding-left: 20px" >-->
                        <!--<a class="btn btn-primary" onclick="send_delete_demo_request('{% url 'ipol.cp.archive.delete_demo' -1  %}',-1 )">Delete</a>-->
                    <!--</div>-->

                </div>
            {% endif %}


            {% if data.0.status == "OK" %}

                {% if data.0.demo_list %}


                    {% for demo in data.0.demo_list%}

                        <div class="demo" id="demo_info_{{ demo.editorsdemoid }}" >
                            <p style="padding-left: 20px">demo_id:{{ demo.editorsdemoid }} </p>
                            <a  href="{% url 'ipol.cp.archive.page' demo.editorsdemoid %}">
                                <p style="padding-left: 20px">title: {{ demo.title }} </p>
                            </a>

                            <!--{#  boton Delete demo#}-->
                            <!--<div style="padding-left: 20px" >-->
                                <!--<a class="btn btn-primary" onclick="send_delete_demo_request('{% url 'ipol.cp.archive.delete_demo' demo.editorsdemoid  %}',{{ demo.editorsdemoid  }} )">Delete</a>-->
                            <!--</div>-->

                        </div>
                    {% endfor %}
                {% else %}

                    <p class="ststsnok">No demos available in Archive</p>
                    <p>
                        You can create test demo adding experiments to test demo from the
                        <a  href="{% url 'ipol.cp.status'%}">
                            status page
                        </a>
                    </p>

                {% endif %}

            {% else %}
                {% if data.0.error %}
                    <p class="ststsnok"> {{ data.0.error }}</p>
                {% else %}
                    <p class="ststsnok"> Could not conect to archive, check Archive Status</p>
                {% endif %}

            {% endif %}

        {% endwith %}

    </div>

{% endblock %}

{% block functionsjs %}


    <script>

        function send_delete_demo_request(wsurl,demo_id) {
            var deldemo = confirm('Delete this demo from archive module: ' + demo_id + '?');
            if (deldemo == true) {
                $.ajax({
                    type: 'GET',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {
                        //console.error(data.status);
                        var okhtml="<p class=\"ststsok\">Demo succesfully deleted from Archive.</p>";
                        $('#demo_info_'+ demo_id).html(okhtml);
                        window.location.reload(true);
                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Demo was not deleted</p>";
                        $('#demo_info_'+ demo_id).html(errorhtml);
                    }
                });
            }
        }
    </script>

{% endblock %}



