	<style type="text/css">
	    a:hover{
	        text-decoration: none;
        }
        .disabled_link, .disabled_link:hover{
            color: gray;
        }
    </style>

<!--
    Pagination variables:
        total_pages = total amount of pages
        current_page = current page number
        previous_page = previous page number
        next_page = next page number
        q = query wrote in the search bar
-->

{#  WS Pagination, remembers the current search #}
<div class="pagination">
    <span class="step-links">
        {% if previous_page > 0 %}
            <a href="?page={{ previous_page }}{%if q%}&q={{q}}{%endif%}" title="Go to previous page">< previous</a>
        {% else %}
            <a class="disabled_link">< previous</a>
        {% endif %}

        <span class="current">
            &nbsp;-&nbsp;
            Page {{ current_page }} of {{ total_pages }}
            &nbsp;-&nbsp;
        </span>

        {% if next_page > 0 %}
            <a href="?page={{ next_page }}{%if q%}&q={{q}}{%endif%}" title="Go to next page">next ></a>
        {% else %}
            <a class="disabled_link">next ></a>
        {% endif %}
    </span>
</div>