{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Demoinfo Authors' %}
{% endblock %}

{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/demoinfo_authors.css' %}"/>
{% endblock %}

{% block topmenu %}
    <!-- topmenu Section for demoinfo   -->
    {% include 'demoinfo/demoinfo_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2> {% blocktrans %} List of Authors {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.demoinfo.authors' %}
            {% include 'demoinfo/searchbar.html' %}
        {% endwith %}

        {#  Add Author btn #}
        <div class="container">
            <a class="btn btn-primary" onclick="send_get_author_request('{% url 'ipol.cp.demoinfo.create_author' %}' )">{% blocktrans %}Add a new Author{%  endblocktrans %}</a>
        </div>

        {#  Author list #}
        {% with data=list_authors %}

            {% if status == "OK" %}
                {% if data %}
                    {% for author in data %}
                        <div class="author row" id="author_info_{{ author.id }}" >
                            <div class="griditem col-sm-3"> {% trans 'ID' %}: <span class="badge">{{ author.id }}</span> </div>
                            <div class="griditem col-sm-3">{% trans 'Name' %}: {{ author.name }} </div>
                            <div class="griditem col-sm-3">{% trans 'Email' %}: {{ author.mail}} </div>

                            <div class="griditem col-sm-3">
                                {#  btn Delete author,ajax call, needs delete url for ajax call and htmlid to append result msg #}
                                <a class="btn btn-primary" onclick="send_delete_author_request('{% url 'ipol.cp.demoinfo.delete_author' author.id %}',{{ author.id }} )" title="Delete {{ author.name }}">{% trans 'Delete' %}</a>

                                {#  btn Edit author #}
                                <a class="btn btn-primary" onclick="send_get_author_request('{% url 'ipol.cp.demoinfo.edit_author' author.id %}', {{ author.id }}  )" title="Edit {{ author.name }}'s information">{% trans 'Edit' %}</a>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p class="ststsnok"> {% blocktrans %}No Authors available.{%  endblocktrans %}</p>
                {% endif %}

            {% else %}
                <p class="ststsnok"> {% blocktrans %}Could not connect to demoinfo authors, please check DemoInfo Status {% endblocktrans %}</p>
            {% endif %}

            {#  WS Pagination, remembers the current search #}
            <div class="pagination">
                <span class="step-links">
                    {% if has_previous %}
                        <a href="?page={{ previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'Previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ number }} {% trans 'of' %} {{ num_pages }}.
                    </span>

                    {% if has_next %}
                        <a href="?page={{ next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'Next' %}</a>
                    {% endif %}
                </span>
            </div>
        {% endwith %}

    </div>


    {#  Modals #}

    <!-- Modal author show/edit -->
    <div class="modal fade" id="createAuthorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createAuthorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create Author</h3>
                </div>
                <div class="modal-body" id="createAuthorFormmodalbody">
                    <div id="createauthor_modal_errordiv"></div>
                    {% crispy authorform %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block functionsjs %}
    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/demoinfo_authors.js' %}"></script>
{% endblock %}
