{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Demoinfo Editors' %}
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;

        }
        .ststsnok {
            color:red;

        }
        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
    </style>

{% endblock %}


{% block topmenu %}
    <!-- topmenu Section for demoinfo   -->
    {% include 'demoinfo/demoinfo_menu.html' %}

{% endblock %}


{% block content %}


   <div class="container">
    <h2> EDITORS NOT IMPLEMETED YET</h2>
    </div>


{##}
{#    <div class="container">#}
{##}
{#        <h2> EDITORS LIST</h2>#}
{##}
{#        {% with data=view.list_editors %}#}
{##}
{#            {% if data.status == "OK" %}#}
{##}
{#                {% if data.demo_list %}#}
{#                    {% for demo in data.demo_list%}#}
{##}
{#                        <div class="demo" id="demo_info_{{ demo.id }}" >#}
{#                            <a  href="#">#}
{#                                <p style="padding-left: 20px">demo_id:{{ demo.id }} </p>#}
{#                            </a>#}
{#                            <p style="padding-left: 20px">title:{{ demo.title }} </p>#}
{#                            <p style="padding-left: 20px">abstract:{{ demo.abstract }} </p>#}
{#                            <p style="padding-left: 20px">zipURL:<a  href="#">{{ demo.zipURL }}</a> </p>#}
{#                            <p style="padding-left: 20px">editorsdemoid:{{ demo.editorsdemoid }} </p>#}
{#                            <p style="padding-left: 20px">stateID:{{ demo.stateID }} </p>#}
{#                            <p style="padding-left: 20px">demodescriptionID:{{ demo.demodescriptionID }} </p>#}
{#                            <p style="padding-left: 20px">modification:{{ demo.modification }} </p>#}
                            {#  boton Delete demo#}
{#                            <div style="padding-left: 20px" >#}
{#                                <a class="btn btn-primary" onclick="send_delete_demo_request('urldelete',{{ demo.demo_id  }} )">Delete</a>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{##}
{#                    <p class="ststsnok">No demos available in Demoinfo</p>#}
{#                    <p>#}
{#                        You can create test demo adding experiments to test demo from the#}
{#                        <a  href="{% url 'ipol.cp.status'%}">#}
{#                            status page#}
{#                        </a>#}
{#                    </p>#}
{##}
{#                {% endif %}#}
{##}
{#            {% else %}#}
{##}
{#                <p class="ststsnok"> Could not conect to archive, check Archive Status</p>#}
{##}
{#            {% endif %}#}
{##}
{#        {% endwith %}#}
{##}
{#    </div>#}


{% endblock %}
{% block functionsjs %}
        <script>

        function send_delete_demo_request(wsurl,demo_id) {
            var deldemo = confirm('delete this demo: ' + demo_id);
            if (deldemo == true) {
                $.ajax({
                    type: 'GET',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {
                        //console.error(data.status);
                        var okhtml="<p class=\"ststsok\">Demo Deleted</p>";
                        $('#demo_info_'+ demo_id).html(okhtml);

                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Demo not deleted sucessfully, refresh page</p>";
                        $('#demo_info_'+ demo_id).html(errorhtml);
                    }
                });
            }
        }
    </script>


{% endblock %}

