{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% trans 'Demos' %}
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;
        }
        .ststsnok {
            color:red;
        }
        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            //width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
        .griditem{
            padding-left: 20px
        }
    </style>

{% endblock %}


{% block topmenu %}

    <!-- topmenu Section for demoinfo   -->
    {% include 'demoinfo/demoinfo_menu.html' %}

{% endblock %}


{% block content %}


    <div class="container">

        <h2> {% blocktrans %} DEMOS LIST {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.demoinfo.demos' %}
            {% include 'demoinfo/searchbar.html' %}
        {% endwith %}

        {#  Add demo btn #}
        <div class="container">
            <a class="btn btn-primary" onclick="send_get_demo_request('{% url 'ipol.cp.demoinfo.create_demo' %}' )">{% blocktrans %}Add New Demo{%  endblocktrans %}</a>
        </div>

        {#  Demo list #}
        {% with data=list_demos %}

            {% if status == "OK" %}

                {% if data %}
                    {% for demo in data %}

                        <div class="demo row" id="demo_info_{{ demo.id }}" >
                            <div class="griditem col-sm-3"> {% trans 'id' %}:<span class="badge">{{ demo.id }}</span> </div>
                            <div class="griditem col-sm-3">{% trans 'editors id' %}:{{ demo.editorsdemoid }} </div>
                            <div class="griditem col-sm-3">{% trans 'title' %}:{{ demo.title}} </div>
                            <div class="griditem col-sm-3">{% trans 'abstract' %}:
                                <a class="abstractmodal" data-toggle="modal" data-abstract="{{ demo.abstract}}" >{{ demo.abstract|slice:"10" }}...</a>
                            </div>
                            <div class="griditem col-sm-3">{% trans 'URL' %}:<a  href="#">{{ demo.zipURL }}</a> </div>
                            <div class="griditem col-sm-3">{% trans 'state' %}:{{ demo.stateID }} </div>
                            {# <div class="griditem col-sm-3">{% trans 'DDL' %}:{{ demo.demodescriptionID }} </div>#}
                            <div class="griditem col-sm-3">{% trans 'last modification' %}:{{ demo.modification |date:"d M Y" }} </div>


                            <div class="griditem col-sm-3">
                                {#  btn Delete demo,ajax call, needs delete url for ajax call and  and htmlid to append result msg#}
                                <a class="btn btn-primary" onclick="send_delete_demo_request('{% url 'ipol.cp.demoinfo.delete_demo' demo.id %}',{{ demo.id }} )">{% trans 'Delete' %}</a>

                                {#  btn Edit demo #}
                                <a class="btn btn-primary" onclick="send_get_demo_request('{% url 'ipol.cp.demoinfo.edit_demo' demo.id %}', {{ demo.id }}  )">{% trans 'Edit' %}</a>

                                {#  btn Edit demo's DDL #}
                                <a class="btn btn-info" onclick="send_get_ddl_request('{% url 'ipol.cp.demoinfo.get_ddl' demo.id %}', {{ demo.id }} )">{% trans 'DDL' %}</a>

                            </div>

                        </div>
                    {% endfor %}
                {% else %}

                    <p class="ststsnok"> {% blocktrans %}No demos available.{%  endblocktrans %}</p>


                {% endif %}

            {% else %}

                <p class="ststsnok"> {% blocktrans %}Could not connect to demoinfo demos, check demoinfo Status{%  endblocktrans %}</p>

            {% endif %}


            {#  WS Pagination, remebers the current search #}
            <div class="pagination">
                <span class="step-links">
                    {% if has_previous %}
                        <a href="?page={{ previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ number }} {% trans 'of' %} {{ num_pages }}.
                    </span>

                    {% if has_next %}
                        <a href="?page={{ next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'next' %}</a>
                    {% endif %}
                </span>
            </div>
            {#  Django Pagination, remebers the current search #}
            {#            <div class="pagination">#}
            {#                <span class="step-links">#}
            {#                    {% if data.has_previous %}#}
            {#                        <a href="?page={{ data.previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'previous' %}</a>#}
            {#                    {% endif %}#}
            {##}
            {#                    <span class="current">#}
            {#                        {% trans 'Page' %} {{ data.number }} {% trans 'of' %} {{ data.paginator.num_pages }}.#}
            {#                    </span>#}
            {##}
            {#                    {% if data.has_next %}#}
            {#                        <a href="?page={{ data.next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'next' %}</a>#}
            {#                    {% endif %}#}
            {#                </span>#}
            {#            </div>#}


        {% endwith %}

    </div>

    {#  Modals #}

    <!-- Modal Abstract-->
    <div class="modal fade" id="ShowAbstractModalID" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Abstract</h3>
                </div>
                <div class="modal-body" id="modalbodyabstractid">
                {#  <input type="text" name="cafeId" id="cafeId" value=""/>#}

                </div>
                    {# <div class="modal-footer">#}
                    {# <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {#  </div>#}
            </div>
        </div>
    </div>


    <!-- Modal DDL show/edit -->
    <div class="modal fade" id="createDDLFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createDDLModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create DDL</h3>

                </div>
                <div class="modal-body" id="createDDLFormmodalbody">
                    <div id="createddl_modal_errordiv"></div>
                    {% crispy ddlform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" onclick="prettyPrint('id_ddlJSON')">{% trans 'Pretty Print' %}</button>
                    <button type="button" class="btn btn-default" onclick="prettyPrintundo('id_ddlJSON')">{% trans 'Ugly Print' %}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal DEMO show/edit -->
    <div class="modal fade" id="createDemoFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createDemoModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create Demo</h3>

                </div>
                <div class="modal-body" id="createDemoFormmodalbody">
                    <div id="createdemo_modal_errordiv"></div>
                    {% crispy demoform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block functionsjs %}

    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>
    <script>
        {#  global vars #}

        {#  modal abstract #}
        $modal_abstract_id='#ShowAbstractModalID';
        $modal_abstract_body_id='#modalbodyabstractid';
        $modal_abstract_id='#ShowAbstractModalID';
        $modal_abstract_class='.abstractmodal';


        {#  modal demo #}
        $modal_demo_msg_div='#createdemo_modal_errordiv';
        $modal_demo_id='#createDemoFormModalId';
        $modal_demo_header='div#createDemoModalheader';
        $form_demo_id='#Demoform';
        //hidden
        $form_demo_field_demo_id="#Demoform #id_id";
        {# $form_demo_field_demoddlid_id="#Demoform #id_demoddlid";#}
        //normal
        $form_demo_field_editorsdemo_id="#Demoform #id_editorsdemoid";
        $form_demo_field_title_id="#Demoform #id_title";
        $form_demo_field_abstract_id="#Demoform #id_abstract";
        $form_demo_field_zipURL_id="#Demoform #id_zipURL";
        //$form_demo_field_active_id="#Demoform #id_active";
        $form_demo_field_state_id="#Demoform #id_state";
        {#  $form_demo_field_ddljson_id="#Demoform #id_demoddlJSON";#}
        var $demoform = $($form_demo_id);


        {#  modal ddl #}
        $modal_ddl_msg_div='#createddl_modal_errordiv';
        $modal_ddl_id='#createDDLFormModalId';
        $modal_ddl_header='div#createDDLModalheader';
        $form_ddl_id='#DDLform';
        //hidden
        $form_ddl_field_demo_id="#DDLform #id_demoid";
        $form_ddl_field_ddl_id="#DDLform #id_ddlid";
        //normal
        $form_ddl_field_ddljson="#DDLform #id_ddlJSON";
        var $ddlform = $($form_ddl_id);
        
        {#  js error msg#}
        $ws_down=" check webservices are running, go to status page";

        {#  secure AJAX POST to ws ,from django docs #}
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).ready(function(){
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });

        {#  delete demo  #}
        function send_delete_demo_request(wsurl,demo_id) {
            var deldemo = confirm('delete this demo: ' + demo_id);

            if (deldemo == true) {
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {
                        console.log(data.status);
                        var okhtml="<p class=\"ststsok\">Demo Deleted</p>";
                        $('#demo_info_'+ demo_id).html(okhtml);
                        //todo better to only reload part of list, but shoul change django pagination for js pagination
                        window.location.reload(true);

                    },
                    error: function(data){
                        console.error(data.status);
                        var errorhtml="<p class=\"ststsnok\">Demo not deleted sucessfully, "+$ws_down+"</p>";
                        $('#demo_info_'+ demo_id).html(errorhtml);
                    }
                });
            }
        }


        {#  show/edit DDL modal  #}
        function send_get_ddl_request(wsurl,demo_id) {

            if (wsurl === undefined) {
                // wsurl was not passed, just open edit modal
                $($modal_ddl_header).html('<h3>New DDL data</h3>');
                $($modal_ddl_id).modal('show');
            }else{
                // wsurl was passed, get data from ws and open show modal
                console.log("send_get_ddl_request");
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {

                        if (data.status=='OK'){
                            //clear modal  error
                            $($modal_ddl_msg_div).html('');

                            //edit/show ddl
                            if (data.last_demodescription){

                                //Load ddl data in form
                                //console.log(data.last_demodescription);
                                $($modal_ddl_header).html('<h3>Edit DDL data</h3>');
                                $($form_ddl_field_demo_id).get(0).value = demo_id;
                                $($form_ddl_field_ddl_id).get(0).value = data.last_demodescription.id;
                                //gets json str (result of retrieving str from db)
                                $($form_ddl_field_ddljson).get(0).value = $.parseJSON(data.last_demodescription.json);
                                $($modal_ddl_id).modal('show');
                                $ddlform.show();

                            //create ddl, the demo has no ddl
                            }else{

                                //Reset Form
                                $($modal_ddl_header).html('<h3>New DDL data</h3>');
                                $($form_ddl_field_demo_id).get(0).value = demo_id;
                                $($form_ddl_field_ddl_id).get(0).value = '';
                                $($form_ddl_field_ddljson).get(0).value = '';
                                $($modal_ddl_id).modal('show');
                                $ddlform.show();
                            }
                        }else{
                            //error, no OK
                            var errorhtml="<p class=\"ststsnok\">DDL not retrieved sucessfully, "+$ws_down+"</p>";
                            $($modal_ddl_msg_div).html(errorhtml);
                        }
                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Error getting DDL, "+$ws_down+"</p>";
                        $($modal_ddl_msg_div).html(errorhtml);
                        $($modal_ddl_id).modal('show');
                        $ddlform.hide();
                    }
                });
            }
        }


        {#  submit DDL form  #}
        function submitDDLformAJAX(){

            console.log("submitDDLformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $ddlform.serialize();
            var $ajaxurl = $ddlform.attr("action");

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);
                    if (data.status == "OK") {
                        $($modal_ddl_msg_div).html('DDL saved').show();
                        $ddlform.hide();
                        //no need to reaload, the list shows no ddl info
                    }else {

                        $ddlform.show();
                        //$($modal_ddl_msg_div).html('DDL not saved, errors:'+data.form_html).show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">DDL not saved, error: "+data.error+"</p>";
                            $($modal_ddl_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">DDL not saved, error unidefined</p>";
                            $($modal_ddl_msg_div).html(errorhtml).show();
                        }

                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error saving DDL, "+$ws_down+"</p>";
                    $($modal_ddl_msg_div).html(errorhtml);
                    $($modal_ddl_id).modal('show');
                    $ddlform.hide();
                }
            });
        }


        {#  DDL form validation #}
        $($form_ddl_id).validate({
            errorClass: "validationerror",//for css
            rules: {
                ddlJSON: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {

                ddlJSON: {
                    required: "please fill ddlJSON field",
                    minlength: "Your ddlJSON must be at least 5 characters"
                }
            },
            submitHandler: function() {
                console.log("validated ok submitDDLformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitDDLformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });


        {#  show/edit Demo modal  #}
        function send_get_demo_request(wsurl,demo_id){
            console.log(wsurl);
            console.log(demo_id);

            if (demo_id === undefined) {
                // demo_id was not passed, just open create modal
                $($modal_demo_header).html('<h3>New Demo data</h3>');
                //clear data
                $($modal_demo_msg_div).html('');
                $($form_demo_field_demo_id).get(0).value = '';
                $($form_demo_field_editorsdemo_id).get(0).value = '';
                $($form_demo_field_title_id).get(0).value = '';
                $($form_demo_field_abstract_id).get(0).value = '';
                $($form_demo_field_zipURL_id).get(0).value = '';
                //$($form_demo_field_active_id).get(0).value = '';
                $($form_demo_field_state_id).get(0).value = '';
                $demoform.show();
                $($modal_demo_id).modal('show');
            }else{
                // wsurl was passed, get data from ws and open show modal
                console.log("send_get_demo_request");
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {

                        console.log(data.status);

                        if (data.status=='OK'){
                            //clear modal  error
                            $($modal_demo_msg_div).html('');

                            //edit/show demo
                            if ( data.id ){

                                console.log(" GEt form demo data");
                                //Load ddl data in form
                                //console.log(data.last_demodescription);
                                //clear error data
                                $($modal_demo_msg_div).html('');

                                $($modal_demo_header).html('<h3>Edit Demo data</h3>');
                                {#  $($form_ddl_field_demo_id).get(0).value = demo_id;#}
                                {#  $($form_ddl_field_ddl_id).get(0).value = data.last_demodescription.id;#}
                                {#  $($form_ddl_field_ddljson).get(0).value = $.parseJSON(data.last_demodescription.json);#}
                                $($form_demo_field_demo_id).get(0).value = data.id;
                                $($form_demo_field_editorsdemo_id).get(0).value = data.editorsdemoid;
                                $($form_demo_field_title_id).get(0).value = data.title;
                                $($form_demo_field_abstract_id).get(0).value = data.abstract;
                                $($form_demo_field_zipURL_id).get(0).value = data.zipURL;
                                //$($form_demo_field_active_id).get(0).value = data.active;
                                $($form_demo_field_state_id).get(0).value = data.stateID;
                                $($modal_demo_id).modal('show');
                                $demoform.show();

                            //create demo
                            }else{
                                console.log("error no demoid in form ");
                                //error, no OK
                                var errorhtml="<p class=\"ststsnok\">Demo Data not retrieved sucessfully, check demoinfo consistency</p>";
                                $($modal_demo_msg_div).html(errorhtml);
                                //clear form data
                                $($form_demo_field_demo_id).get(0).value = '';
                                $($form_demo_field_editorsdemo_id).get(0).value = '';
                                $($form_demo_field_title_id).get(0).value = '';
                                $($form_demo_field_abstract_id).get(0).value = '';
                                $($form_demo_field_zipURL_id).get(0).value = '';
                                //$($form_demo_field_active_id).get(0).value = '';
                                $($form_demo_field_state_id).get(0).value = '';
                                $($modal_demo_id).modal('show');
                                //$demoform.show();
                            }
                        }else{
                            //error, no OK
                            var errorhtml="<p class=\"ststsnok\">Demo not retrieved sucessfully, "+$ws_down+"</p>";
                            $($modal_ddl_msg_div).html(errorhtml);
                        }
                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Error getting Demo, "+$ws_down+"</p>";
                        $($modal_demo_msg_div).html(errorhtml);
                        $($modal_demo_id).modal('show');
                        $demoform.hide();
                    }
                });
            }
        }


        {#  submit Demo form  #}
        function submitDemoformAJAX(){

            console.log("submitDemoformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $demoform.serialize();
            var $ajaxurl = $demoform.attr("action");

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);
                    if (data.status == "OK") {
                        $($modal_demo_msg_div).html('Demo saved').show();
                        $demoform.hide();
                        //todo better to only reload part of list, but shoul change django pagination for js pagination
                        window.location.reload(true);
                    }
                    else {

                        $demoform.show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">Demo not saved, error: "+data.error+"</p>";
                            $($modal_demo_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">Demo not saved, error unidefined</p>";
                            $($modal_demo_msg_div).html(errorhtml).show();
                        }


                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error saving Demo, "+$ws_down+"</p>";
                    $($modal_demo_msg_div).html(errorhtml);
                    $($modal_demo_id).modal('show');
                    $demoform.hide();
                }
            });
        }


        {#  Demo form validation #}
        $($form_demo_id).validate({
            errorClass: "validationerror",//for css
            rules: {
                title: {
                    required: true,
                    minlength: 5
                },
{#                active: {#}
{#                    required: true#}
{#                },#}
                abstract: {
                    required: true,
                    minlength: 5
                },
                state: {
                    required: true
                },
                editorsdemoid: {
                    required: true
                },
                zipURL: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {

                title: {
                    required: "please fill title field",
                    minlength: "Your title must be at least 5 characters"
                },
{#                active: {#}
{#                    required: "please fill active field"#}
{#                },#}
                abstract: {
                    required: "please fill abstract field",
                    minlength: "Your abstract must be at least 5 characters"
                },
                state: {
                    required: "please fill  state"
                },
                editorsdemoid: {
                    required: "please fill  editorsdemoid"
                },
                zipURL: {
                    required: "please fill zipURL field",
                    minlength: "Your zipURL must be at least 5 characters"
                }
            },
            submitHandler: function() {
                console.log("validated ok submitDemoformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitDemoformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });


        {#  show pretty json  #}
        function prettyPrint(formfieldidtopretify) {
            var ugly = document.getElementById(formfieldidtopretify).value;
            var obj = JSON.parse(ugly);
            var pretty = JSON.stringify(obj, undefined, 4);
            document.getElementById(formfieldidtopretify).value = pretty;
        }


        {#  show ugly json  #}
        function prettyPrintundo(formfieldidtopretify) {
            var pretty = document.getElementById(formfieldidtopretify).value;
            var obj = JSON.parse(pretty);
            var ugly = JSON.stringify(obj);
            document.getElementById(formfieldidtopretify).value = ugly;
        }


        {#  show abstract modal  #}
        $(document).ready(function(){
           $($modal_abstract_class).click(function(){ // Click to only happen on announce links
             $($modal_abstract_body_id).html($(this).data('abstract'));
             $($modal_abstract_id).modal('show');
           });
        });


    </script>


{% endblock %}

