{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Demoinfo Editors' %}
{% endblock %}

{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/demoinfo_editors.css' %}"/>
{% endblock %}

{% block topmenu %}
    <!-- topmenu Section for demoinfo   -->
    {% include 'demoinfo/demoinfo_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2> {% blocktrans %} List of Editors {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.demoinfo.editors' %}
            {% include 'demoinfo/searchbar.html' %}
        {% endwith %}

        {#  Add Editor btn #}
        <div class="container">
            <a class="btn btn-primary" onclick="send_get_editor_request('{% url 'ipol.cp.demoinfo.create_editor' %}' )">{% blocktrans %}Add a new Editor{%  endblocktrans %}</a>
        </div>

        {#  Editor list #}
        {% with data=list_editors %}
            {% if status == "OK" %}
                {% if data %}
                    {% for editor in data %}
                        <div class="editor row" id="editor_info_{{ editor.id }}" >
                            <div class="griditem col-sm-3"> {% trans 'ID' %}: <span class="badge">{{ editor.id }}</span> </div>
                            <div class="griditem col-sm-3">{% trans 'Name' %}: {{ editor.name }} </div>
                            <div class="griditem col-sm-3">{% trans 'Email' %}: {{ editor.mail}} </div>

                            <div class="griditem col-sm-3">
                                {#  btn Delete editor,ajax call, needs delete url for ajax call and  and htmlid to append result msg#}
                                <a class="btn btn-primary" onclick="send_delete_editor_request('{% url 'ipol.cp.demoinfo.delete_editor' editor.id %}',{{ editor.id }} )" title="Delete {{ editor.name }}">{% trans 'Delete' %}</a>
                                {#  btn Edit editor #}
                                <a class="btn btn-primary" onclick="send_get_editor_request('{% url 'ipol.cp.demoinfo.edit_editor' editor.id %}', {{ editor.id }}  )" title="Edit {{ editor.name }}'s information">{% trans 'Edit' %}</a>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p class="ststsnok"> {% blocktrans %}No Editors available.{%  endblocktrans %}</p>
                {% endif %}

            {% else %}
                <p class="ststsnok"> {% blocktrans %}Could not connect to demoinfo editors, please check DemoInfo status{%  endblocktrans %}</p>
            {% endif %}

            {#  WS Pagination, remebers the current search #}
            <div class="pagination">
                <span class="step-links">
                    {% if has_previous %}
                        <a href="?page={{ previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'Previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ number }} {% trans 'of' %} {{ num_pages }}.
                    </span>

                    {% if has_next %}
                        <a href="?page={{ next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'Next' %}</a>
                    {% endif %}
                </span>
            </div>
        {% endwith %}
    </div>


    {#  Modals #}

    <!-- Modal editor show/edit -->
    <div class="modal fade" id="createEditorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createEditorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create Editor</h3>
                </div>
                <div class="modal-body" id="createEditorFormmodalbody">
                    <div id="createeditor_modal_errordiv"></div>
                    {% crispy editorform %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block functionsjs %}
    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/demoinfo_editors.js' %}"></script>
{% endblock %}
