{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% trans 'Demo Editor' %}
{% endblock %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/manage_archives_for_demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/demo_edition.css' %}"/>
{% endblock %}


{% block content %}
    {% with data=view.get_demo_details %}

        <div class="container">
            {# Page title #}
            {% if data.status == 'OK' %}
                <h2>Demo Editor </h2>
                <h3>#{{ data.editorsdemoid }}: {{ data.title }}</h3>
            {% else %}
                <h2> No results for Demo '{{ data.editorsdemoid }}'</h2>
            {% endif %}

            {% if data.status == 'OK' %}
                <div class="experiment_file">

                    <form action="{% url 'ipol.cp.demoinfo.save_ddl' %}" id="DDLform" method="post" >
                        <h4>DDL:</h4>
                        <div id="editor" name="editor">{{data.ddl}}</div>

                        <!-- input for the DDL to submit -->
                        <input id="ddlJSON" name="ddlJSON" type="hidden"/>
                        <!-- input for the current Demo ID -->
                        <input id="demoid" name="demoid" type="hidden" value="{{ data.editorsdemoid }}"/>

                        <div id="save-ddl-container">
                            <div class="column-4">
                                <!-- button to check and submit the DDL -->
                                <a class="btn btn-primary options" onclick="submitDDL();" title="Save changes in the DDL">{% trans 'Save DDL' %}</a>
                            </div>
                            <div class="column-2">
                                <!-- message to display when DDL syntax is not OK -->
                                <ul id="DDL_error_msg">
                                    <li class="ddl-error">DDL not saved: please check the syntax errors.</li>
                                </ul>
                            </div>
                        </div>
                    </form>

                    <hr>

                    <!-- State -->
                    <div id="col-1" class="column-4">
                        <h4>State:</h4>
                        <p>{{ data.state }}</p>
                    </div>

                    <!-- Last modification -->
                    <div id="col-2" class="column-4">
                        <h4>Last modification:</h4>
                        <p>{{ data.modification|slice:'19' }}</p>
                    </div>

                    <!-- Zip URL -->
                    <div id="col-3" class="column-4">
                        <h4>Zip URL:</h4>
                        <p><a  href="{{ data.zipURL }}">{{ data.zipURL }}</a></p>
                    </div>

                    <!-- Edit/Delete Demo -->
                    <div id="col-4" class="column-4">
                        <a class="btn btn-primary options" onclick="send_get_demo_request('{% url 'ipol.cp.demoinfo.edit_demo' data.editorsdemoid %}', {{ data.editorsdemoid }}  )" title="Edit information of this demo">{% trans 'Edit' %}</a>
                        <a class="btn btn-primary options" onclick="send_delete_demo_request('{% url 'ipol.cp.demoinfo.delete_demo' data.editorsdemoid %}', {{ data.editorsdemoid }}, '{{ data.title|addslashes }}', '{% url 'ipol.cp.demoinfo.demos' %}')" title="Delete this demo">{% trans 'Delete' %}</a>
                    </div>

                    <hr>

                    <!-- Editors/Authors-->
                    <div class="column-4">
                        <h4>Editors/Authors:</h4>
                        <a class="btn btn-info manage-btn" href="{% url 'ipol.cp.demoinfo.get_demos_editors' data.editorsdemoid %}" title="Manage the Editors assigned to this demo">{% trans 'Editors' %}</a>
                        <a class="btn btn-info" href="{% url 'ipol.cp.demoinfo.get_demos_authors' data.editorsdemoid %}" title="Manage the Authors assigned to this demo">{% trans 'Authors' %}</a>
                    </div>

                    <!-- Demo extras -->
                    <div class="column-4">
                        <h4>Demo Extras:</h4>
                        <a class="btn btn-info manage-btn" href="{% url 'ipol.cp.demoinfo.get_demo_extras' data.editorsdemoid %}" title="Manage the Extras of this demo">{% trans 'Demo Extras' %}</a>
                    </div>

                    <!-- Archives -->
                    <div class="column-4">
                        <h4>Archives:</h4>
                        <a class="btn btn-info manage-btn" href="{% url 'ipol.cp.archive.page' data.editorsdemoid %}" title="Manage the Archives of this demo">{% trans 'Archives' %}</a>
                    </div>

                    <!-- Blobs -->
                    <div class="column-4">
                        <h4>Blobs:</h4>
                        <!--
                        <a class="btn btn-info manage-btn" href="#" title="Manage the Blobs of this demo">{% trans 'Blobs' %}</a>
                        -->
                    </div>

                    <hr>

                    <h4>Abstract:</h4>
                    <p class="abstract">{{ data.abstract }}</p>

                </div>

            {# If there are no results, print the default message #}
            {% else%}
                <p>The query did not return any results. Please make sure that you entered a valid criteria.</p>
            {% endif %}

            <!-- Return to previous page -->
            <div class="container">
                <a class="btn btn-info" href="{{request.META.HTTP_REFERER}}">{% blocktrans %}Go to previous page{% endblocktrans %}</a>
            </div>
        </div>


        {#  Modals #}

        <!-- Modal DEMO show/edit -->
        <div class="modal fade" id="createDemoFormModalId" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="createDemoModalheader" class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3>Create Demo</h3>

                    </div>
                    <div class="modal-body" id="createDemoFormmodalbody">
                        <div id="createdemo_modal_errordiv"></div>
                        {% crispy data.demoform %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            </div>
        </div>

    {% endwith %}

{% endblock %}


<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->

{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- load Ace JSON Editor-->
    <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/demo_edition.js' %}"></script>
{% endblock %}

