{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'List of Demos' %}
{% endblock %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/demoinfo_demos_2.css' %}"/>
{% endblock %}




{% block content %}

    <div class="container">

        <h2> {% blocktrans %} List of Demos {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.demoinfo.demos' %}
            {% include 'demoinfo/searchbar.html' %}
        {% endwith %}

        {#  Add demo btn #}
        <div class="container">
            <a class="btn btn-primary" onclick="send_get_demo_request('{% url 'ipol.cp.demoinfo.create_demo' %}' )">{% blocktrans %}Add a new Demo{%  endblocktrans %}</a>
        </div>

        {#  Demo list #}
        {% with data=list_demos %}
            {% block topmenu %}
                {% if admin %}
                    <!-- topmenu Section for demoinfo   -->
                    {% include 'demoinfo/demoinfo_menu.html' %}
                {% endif %}
            {% endblock %}

            {% if status == "OK" %}

                {% if data %}
                    {% for demo in data %}
                        <a href="{% url 'ipol.cp.demoinfo.demo_edition' demo.editorsdemoid %}" title="View/edit Demo {{ demo.editorsdemoid }}">
                            <div class="demo" id="demo_info_{{ demo.editorsdemoid }}">

                                <div class="row">
                                    <div class="col-sm-4 col-sm-5">
                                        <!-- Title -->
                                        <div class="griditem">
                                            {% trans 'Title' %}: <span class="demo-title">{{ demo.title}}</span>
                                        </div>
                                        <!-- Demo ID -->
                                        <div class="griditem">
                                            {% trans 'ID' %}: <span class="badge">{{ demo.editorsdemoid }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- State -->
                                        <div class="griditem">
                                            {% trans 'State' %}:
                                            {# {{ demo.state }}#}
                                            {% for sid,sname in states %}
                                                {% if sid == demo.state %}
                                                    {{ sname }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- Modification -->
                                        <div class="griditem">{% trans 'Last modification' %}: {{ demo.modification|date:"d M Y" }} </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}

                {% else %}
                    <p class="ststsnok">{% blocktrans %}There are no demos available.{%  endblocktrans %}</p>
                {% endif %}

            {% else %}
                <p class="ststsnok"> {% blocktrans %}Could not connect to DemoInfo. Please check DemoInfo status{%  endblocktrans %}</p>
            {% endif %}

            {#  WS Pagination, remebers the current search #}
            <div class="pagination">
                <span class="step-links">
                    {% if has_previous %}
                        <a href="?page={{ previous_page_number }}{% if search %}&search={{search}}{% endif %}">{% trans 'previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ number }} {% trans 'of' %} {{ num_pages }}.
                    </span>

                    {% if has_next %}
                        <a href="?page={{ next_page_number }}{%if search%}&search={{search}}{%endif%}">{% trans 'next' %}</a>
                    {% endif %}
                </span>
            </div>

        {% endwith %}
    </div>


    {#  Modals #}

    <!-- Modal DEMO show/edit -->
    <div class="modal fade" id="createDemoFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createDemoModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create Demo</h3>

                </div>
                <div class="modal-body" id="createDemoFormmodalbody">
                    <div id="createdemo_modal_errordiv"></div>
                    {% crispy createdemoform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block functionsjs %}
    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>
    {% include 'autocomplete_light/static.html' %}
    <!-- include external script with required functions -->
    <script src="{% static 'js/demoinfo_demos_2.js' %}"></script>
{% endblock %}

