{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% trans 'Demoinfo Editors' %}
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;
        }
        .ststsnok {
            color:red;
        }
        .editor{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            //width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
        .griditem{
            padding-left: 20px
        }
    </style>

{% endblock %}


{% block topmenu %}

    <!-- topmenu Section for demoinfo   -->
    {% include 'demoinfo/demoinfo_menu.html' %}

{% endblock %}


{% block content %}


    <div class="container">

        <h2> {% blocktrans %} EDITORS LIST {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.demoinfo.editors' %}
            {% include 'demoinfo/searchbar.html' %}
        {% endwith %}

        {#  Add Editor btn #}
        <div class="container">
            <a class="btn btn-primary" onclick="send_get_editor_request('{% url 'ipol.cp.demoinfo.create_editor' %}' )">{% blocktrans %}Add New Editor{%  endblocktrans %}</a>
        </div>

        {#  Editor list #}
        {% with data=list_editors %}

            {% if status == "OK" %}

                {% if data %}

                    {% for editor in data %}

                        <div class="editor row" id="editor_info_{{ editor.id }}" >
                            <div class="griditem col-sm-3"> {% trans 'id' %}:<span class="badge">{{ editor.id }}</span> </div>
                            <div class="griditem col-sm-3">{% trans 'name' %}:{{ editor.name }} </div>
                            <div class="griditem col-sm-3">{% trans 'email' %}:{{ editor.mail}} </div>

                            <div class="griditem col-sm-3">
                                {#  btn Delete editor,ajax call, needs delete url for ajax call and  and htmlid to append result msg#}
                                <a class="btn btn-primary" onclick="send_delete_editor_request('{% url 'ipol.cp.demoinfo.delete_editor' editor.id %}',{{ editor.id }} )">{% trans 'Delete' %}</a>

                                {#  btn Edit editor #}
                                <a class="btn btn-primary" onclick="send_get_editor_request('{% url 'ipol.cp.demoinfo.edit_editor' editor.id %}', {{ editor.id }}  )">{% trans 'Edit' %}</a>

                            </div>

                        </div>
                    {% endfor %}
                {% else %}

                    <p class="ststsnok"> {% blocktrans %}No Editors available.{%  endblocktrans %}</p>

                {% endif %}
            {% else %}

                <p class="ststsnok"> {% blocktrans %}Could not connect to demoinfo editors, check demoinfo Status{%  endblocktrans %}</p>

            {% endif %}

            {#  WS Pagination, remebers the current search #}
            <div class="pagination">
                <span class="step-links">
                    {% if has_previous %}
                        <a href="?page={{ previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ number }} {% trans 'of' %} {{ num_pages }}.
                    </span>

                    {% if has_next %}
                        <a href="?page={{ next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'next' %}</a>
                    {% endif %}
                </span>
            </div>
            {#  Django Pagination, remebers the current search #}
            {#            <div class="pagination">#}
            {#                <span class="step-links">#}
            {#                    {% if data.has_previous %}#}
            {#                        <a href="?page={{ data.previous_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'previous' %}</a>#}
            {#                    {% endif %}#}
            {##}
            {#                    <span class="current">#}
            {#                        {% trans 'Page' %} {{ data.number }} {% trans 'of' %} {{ data.paginator.num_pages }}.#}
            {#                    </span>#}
            {##}
            {#                    {% if data.has_next %}#}
            {#                        <a href="?page={{ data.next_page_number }}{%if q%}&q={{q}}{%endif%}">{% trans 'next' %}</a>#}
            {#                    {% endif %}#}
            {#                </span>#}
            {#            </div>#}


        {% endwith %}

    </div>

    {#  Modals #}


    <!-- Modal editor show/edit -->
    <div class="modal fade" id="createEditorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createEditorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Create Editor</h3>

                </div>
                <div class="modal-body" id="createEditorFormmodalbody">
                    <div id="createeditor_modal_errordiv"></div>
                    {% crispy editorform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{#TODO js en archivo separado y minimized#}
{% block functionsjs %}

    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>
    <script>
        {#  global vars #}


        {#  modal editor #}
        $modal_editor_msg_div='#createeditor_modal_errordiv';
        $modal_editor_id='#createEditorFormModalId';
        $modal_editor_header='div#createEditorModalheader';

        $form_editor_id='#Editorform';
        //hidden
        $form_editor_field_editor_id="#Editorform #id_id";
        //normal
        $form_editor_field_name_id="#Editorform #id_name";
        $form_editor_field_mail_id="#Editorform #id_mail";
        var $editorform = $($form_editor_id);
        
        {#  js error msg#}
        $ws_down=" check webservices are running, go to status page";

        {#  secure AJAX POST to ws ,from django docs #}
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).ready(function(){
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });

        {#  delete editor  #}
        function send_delete_editor_request(wsurl,editor_id) {
            var deleditor = confirm('delete this editor: ' + editor_id);

            if (deleditor == true) {
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {
                        console.log(data.status);
                        var okhtml="<p class=\"ststsok\">editor Deleted</p>";
                        $('#editor_info_'+ editor_id).html(okhtml);
                        //todo better to only reload part of list, but shoul change django pagination for js pagination
                        window.location.reload(true);

                    },
                    error: function(data){
                        console.error(data.status);
                        var errorhtml="<p class=\"ststsnok\">editor not deleted sucessfully, "+$ws_down+"</p>";
                        $('#editor_info_'+ editor_id).html(errorhtml);
                    }
                });
            }
        }


        {#  show/edit editor modal  #}
        function send_get_editor_request(wsurl,editor_id){
            console.log(wsurl);
            console.log(editor_id);

            if (editor_id === undefined) {
                // editor_id was not passed, just open create modal
                $($modal_editor_header).html('<h3>New editor data</h3>');
                //clear data
                $($modal_editor_msg_div).html('');

                $($form_editor_field_editor_id).get(0).value = '';
                $($form_editor_field_name_id).get(0).value = '';
                $($form_editor_field_mail_id).get(0).value = '';


                $editorform.show();
                $($modal_editor_id).modal('show');
            }else{
                // wsurl was passed, get data from ws and open show modal
                console.log("send_get_editor_request");
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {

                        console.log(data.status);

                        if (data.status=='OK'){
                            //clear modal  error
                            $($modal_editor_msg_div).html('');

                            //edit/show Editor
                            if ( data.id ){

                                console.log(" GEt form Editor data");
                                //Load ddl data in form
                                //console.log(data.last_demodescription);
                                //clear error data
                                $($modal_editor_msg_div).html('');

                                $($modal_editor_header).html('<h3>Edit Editor data</h3>');
                                $($form_editor_field_editor_id).get(0).value = data.id;
                                $($form_editor_field_name_id).get(0).value = data.name;
                                $($form_editor_field_mail_id).get(0).value = data.mail;

                                $($modal_editor_id).modal('show');
                                $editorform.show();

                            //create Editor
                            }else{
                                console.log("error no editorid in form ");
                                //error, no OK
                                var errorhtml="<p class=\"ststsnok\">Editor Data not retrieved sucessfully, check demoinfo consistency</p>";
                                $($modal_editor_msg_div).html(errorhtml);
                                //clear form data
                                $($form_editor_field_editor_id).get(0).value = '';
                                $($form_editor_field_name_id).get(0).value = '';
                                $($form_editor_field_mail_id).get(0).value = '';

                                $($modal_editor_id).modal('show');
                                //$editorform.show();
                            }
                        }else{
                            //error, no OK
                            var errorhtml="<p class=\"ststsnok\">Editor not retrieved sucessfully, "+$ws_down+"</p>";
                            $($modal_ddl_msg_div).html(errorhtml);
                        }
                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Error getting Editor, "+$ws_down+"</p>";
                        $($modal_editor_msg_div).html(errorhtml);
                        $($modal_editor_id).modal('show');
                        $editorform.hide();
                    }
                });
            }
        }


        {#  submit Editor form  #}
        function submitEditorformAJAX(){

            console.log("submitEditorformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $editorform.serialize();
            var $ajaxurl = $editorform.attr("action");
            console.log($ajaxurl);
            console.log($serializedData);

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);
                    if (data.status == "OK") {
                        $($modal_editor_msg_div).html('Editor saved').show();
                        $editorform.hide();
                        //todo better to only reload part of list, but shoul change django pagination for js pagination
                        window.location.reload(true);
                    }
                    else {

                        $editorform.show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">Editor not saved, error: "+data.error+"</p>";
                            $($modal_editor_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">Editor not saved, error unidefined</p>";
                            $($modal_editor_msg_div).html(errorhtml).show();
                        }


                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error saving Editor, "+$ws_down+"</p>";
                    $($modal_editor_msg_div).html(errorhtml);
                    $($modal_editor_id).modal('show');
                    $editorform.hide();
                }
            });
        }

        {#  Editor form validation #}
        $($form_editor_id).validate({
            errorClass: "validationerror",//for css
            rules: {
                name: {
                    required: true,
                    minlength: 5
                },
                mail: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                name: {
                    required: "please fill name field",
                    minlength: "Your name must be at least 5 characters"
                },
                mail: {
                    required: "please fill mail field",
                    minlength: "Your mail must be at least 5 characters"
                }
            },
            submitHandler: function() {
                console.log("validated ok submitEditorformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitEditorformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });



    </script>


{% endblock %}

