{% extends 'base/base.html' %}
{% load staticfiles %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/manage_archives_for_demo.css' %}"/>
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% trans "Manage Archives" %}
{% endblock %}

{% block content %}

	<div class="container">
		<h2> {% blocktrans %} Manage Archives for demo {{ id }} {%  endblocktrans %}</h2>

        {#  Search bar #}
        {% with searchurl='ipol.cp.archive.experiment_details' search=search %}
            {% include 'archive/searchbar.html' %}
        {% endwith %}

		{% with data=view.get_context_data %}

            <!-- Return to previous page -->
            <div class="container">
                <a class="btn btn-info" href="{{request.META.HTTP_REFERER}}">{% blocktrans %}Go to previous page{% endblocktrans %}</a>
            </div>
			{% if data.status == "OK" %}
				{% if data.meta.number_of_experiments > 0 %}
                    <p>First experiment: {{ data.meta.first_date_of_an_experiment  }}</p>
                    <p>Total experiments: {{ data.meta.number_of_experiments  }}</p>

                    {#  Pagination #}
                    {% with total_pages=data.meta.number_of_pages current_page=data.current_page_number previous_page=data.previous_page_number next_page=data.next_page_number search=search %}
                        {% include 'archive/pagination.html' %}
                    {% endwith %}

                    <div id="experiment_files_info_{{ experiment.id }}" class="experiment_files">

                        {% for experiment in data.experiments %}
                            <div id="experiment_file_info_{{ file.id }}" class="experiment_file">
                                <a title="View more details" href="{% url 'ipol.cp.archive.experiment_details'%}?search={{ experiment.id }}&demo_id={{id}}">Experiment ID: <span class="badge">{{ experiment.id }}</span></a>
                                <p>Date: {{ experiment.date }}</p>
                                <p>Parameters: {{ experiment.parameters }}</p>

                                <p>Files:</p>
                                {# Show png/jpg/jpeg thumbnails #}
                                <div class="image_files">
                                {% for file in experiment.files %}
                                    <a href="{{ file.url }}">
                                    {% if '.png' in file.url or '.jpg' in file.url or '.jpeg' in file.url %}
                                        <img src="{{ file.url_thumb }}" alt="{{ file.name }}" title="{{ file.name }}" class="thumbnail"/>
                                    {% endif %}
                                    </a>
                                {% endfor %}
                                </div>

                                {# For other types of files, show a link #}
                                <div class="other_files">
                                {% for file in experiment.files %}
                                    {% if '.png' not in file.url and '.jpg' not in file.url and '.jpeg' not in file.url %}
                                    <a href="{{ file.url }}" class="other_file_thumbnail">{{ file.name }}</a>
                                    {% endif %}
                                {% endfor %}
                                </div>

                                {# Delete experiment button#}
                                <div style="padding-left: 20px; padding-top: 10px;" align="right">
                                    {% if data.registered %}
                                        <a class="btn btn-primary" onclick="send_delete_experiment_request( '{% url 'ipol.cp.archive.delete_experiment' experiment.id %}', {{ experiment.id  }} )">Delete this Experiment</a>
                                    {%endif%}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {#  Pagination #}
                    {% with total_pages=data.meta.number_of_pages current_page=data.current_page_number previous_page=data.previous_page_number next_page=data.next_page_number search=search %}
                        {% include 'archive/pagination.html' %}
                    {% endwith %}

                    <!-- Return to previous page -->
                    <div class="container">
                        <a class="btn btn-info" href="{{request.META.HTTP_REFERER}}">{% blocktrans %}Go to previous page{% endblocktrans %}</a>
                    </div>

                {% else %}
					<p class="ststsnok">{% blocktrans %}No Archives available{% endblocktrans %}</p>
				{% endif %}

            {% endif %}

		{% endwith %}
    </div>

{% endblock %}


<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->


{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/manage_archives_for_demo.js' %}"></script>
{% endblock %}

