{% extends 'base/base.html' %}
{% load staticfiles %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/manage_ddl_history.css' %}"/>
{% endblock %}

{% load i18n %}
{% block title %}
	{% trans "Manage DDLs" %}
{% endblock %}

{% block content %}

	<div class="container">

		{% with data=view.get_context_data %}
		    <h2>  Manage DDL History for demo {{ data.demo_id }}</h2>

            <!-- Return to previous page -->
            <div class="container">
                <a class="btn btn-info" href="/cp/demo_edition/{{data.demo_id}}">Go to demo page</a>
            </div>
        {% if data.status == "OK" %}
            <h3>Current</h3>
            <div>
                {% for ddl in data.ddl_history %}
                    {% if ddl == data.ddl_history.0 %}
                        <div class="block">
                            <h4 >Creation: {{ ddl.creation }}</h4>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#ddlmodal" onclick="showDDL({{ddl.ddl}},'{{ddl.creation}}')">Read DDL</button>
                        </div>
                        <h3>History</h3>
                    {% else %}
                        <div class="block">
                            <h4 >Creation: {{ ddl.creation }}</h4>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#ddlmodal" onclick="showDDL({{ddl.ddl}},'{{ddl.creation}}')">Read DDL</button>
                            <button class="btn btn-primary" onclick="restoreDDL('{% url 'ipol.cp.demoinfo.restore_ddl' %}',{{ddl.ddl}},'{{data.demo_id}}')">Restore this version</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <p>{{data.error}}</p>
            {% endif %}

		{% endwith %}
    </div>

    <!-- Modal -->
    <div class="modal" id="ddlmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="title">DDL</h4>
                </div>

                <div class="modal-body">
                    <div class = "ddl-modal" style="">
                        <pre id="ddl"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/manage_ddl_history.js' %}"></script>
    <script src="{% static 'js/ajaxPost.js' %}"></script>
    <!-- include JQuery scripts to resize the editor -->
    <script src="{% static 'js/min/jquery-ui.min.js' %}"></script>
{% endblock %}

