{% extends 'base/base.html' %}
{% load staticfiles %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/manage_blobs.css' %}"/>
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% trans "Manage Blobs" %}
{% endblock %}

{% block content %}

	<div class="container">
		<h2>  Manage Blobs for demo {{ id }}</h2>

		{% with data=view.get_context_data %}

            <!-- Return to previous page -->
            <div class="container">
                <a class="btn btn-info" href="/cp/demo_edition/{{id}}">Go to demo page</a>
            </div>
        {% if data.status == "OK" %}
            <h3>Templates</h3>
            <div class="dropdown">
            {% if data.registered %}
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Add Template
                <span class="caret"></span>
                </button>
                <ul id="templateDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  {%for template in data.unused_templates%}
                        <li><a onclick="addTemplateToDemo('{% url 'ipol.cp.blobs.add_template_to_demo'%}','{{id}}','{{template.id}}')">{{template.name}}</a></li>
                  {% endfor %}
                </ul>
            {% endif %}
            </div>
            {% if  data.templates|length >= 1 %}
                <h4>Used:</h4>
                {%for template in data.templates%}
                    <div class="block">
                        <h4><a href="{% url 'ipol.cp.template.page' template.id %}"> {{template.name}} </a></h4>
                        <div align="right">
                            {% if data.registered %}
                                <a class="btn btn-primary" onclick="removeTemplateFromDemo('{% url 'ipol.cp.blobs.remove_template_from_demo'%}','{{id}}','{{template.id}}')">Unlink template</a>
                            {% endif %}
                        </div>
                    </div>
                {%endfor%}
            {% endif %}

            <h3>Blobs list</h3>
                <div class="container">
            {% if data.registered %}
                <a class="btn btn-info" href="{% url 'ipol.cp.blobs.add_blob_to_demo_view' id %}">Add new Blob</a>
            {% endif %}
            </div>
                <div id="blocks_info_{{ experiment.id }}" class="blocks">
                    {% for set in data.sets %}
                        {% if set.blobs|length == 1 %}
                            {% for pos, blob in set.blobs.items %}
                            <div id="{{ blob.title }}" class="block">
                                <h4 >Title: {{ blob.title }}</h4>
                                <p>Blob:</p>
                                <div class="image_files">
                                    <a href="{% url 'ipol.cp.blobs.blob_details'%}?demo={{ id }}&set={{ set.name|urlencode }}&pos={{ pos }}">
                                        {% if blob.thumbnail %}
                                            <img src="{{ blob.thumbnail }}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                        {% else %}
                                            <img src="{% static 'images/non_viewable_data.png' %}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                        {% endif %}
                                    </a>
                                </div>
                                <p>Credit: {{ blob.credit }}</p>

                                {# Delete blob button#}
                                <div align="right">
                                    {% if data.registered %}
                                        <a class="btn btn-primary" onclick="deleteBlob('{% url 'ipol.cp.blobs.remove_blob_from_demo' %}','{{ id }}','{{ set.name }}','{{ pos }}')">Delete blob</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div id="{{blob.title}}" class="block">
                                <h4>Title: {{ set.name }}</h4>
                                <p>Blobs:</p>
                                <div class="image_files">
                                    {% for pos, blob in set.blobs.items %}
                                        <a href="{% url 'ipol.cp.blobs.blob_details'%}?demo={{ id }}&set={{ set.name }}&pos={{ pos }}">
                                            {% if blob.thumbnail %}
                                                <img src="{{ blob.thumbnail }}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                            {% else %}
                                                <img src="{% static 'images/non_viewable_data.png' %}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}

		{% endwith %}
    </div>

{% endblock %}


<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->


{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/manage_blobs_for_demo.js' %}"></script>
    <script src="{% static 'js/ajaxPost.js' %}"></script>

{% endblock %}

