{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% trans "Manage Demo Extras" %}
{% endblock %}

{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/manage_demo_extras_for_demo.css' %}"/>
{% endblock %}

{% block content %}
	<div class="container">
		<h2> {% blocktrans %} Manage Demo Extras for demo {{ demo_id }} {%  endblocktrans %}</h2>
		{% with data=view.list_demo_extras_for_demo %}
			{#  Add Demo Extras btn #}
			<div class="container">
				<form id="frm" action="{% url 'ipol.cp.demoinfo.add_demo_extra_to_demo'  demo_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
					<input type="file" id="file"  style="display: none;" name="myfile" onchange="fileName()"/>
					<input type="submit" id="submit" style="display: none;" value="Upload" />
				</form>
				{% if data.registered %}
                    <p>
					{% blocktrans %}
                    Upload your Demo Extras as a package (.zip, .gz, .tar, or .tar.gz) containing all your scripts and data.<br> 
                    Ensure that all files are readable and the scripts have the execution permission set. You can set the execution permission with <pre>chmod +x file</pre>.<br>
                    The ZIP format loses the file permissions and thus we advise to use a different format for your executables.
                    {%  endblocktrans %}
                    </p>
                    <p>
					{% blocktrans %}
					Command-line examples to create the packages:<br>
                    <pre>tar -zcvf demoExtras.tar.gz source_dir</pre><br>
                    <pre>tar -cvf demoExtras.tar source_dir</pre><br>
                    <pre>zip -r demoExtras.zip source_dir</pre>
                    {%  endblocktrans %}
                    </p>
                    <br>
					<label class="btn btn-info" for="file">Select file</label>
					<label class="extraFile" id="name">File...</label>
					<label class="btn btn-primary" for="submit" id="submitButton" style="visibility:hidden;"> Upload </label>
				{% endif %}
				<p></p>
				<a class="btn btn-info" href="/cp/demo_edition/{{demo_id}}">{% blocktrans %}Go to previous page{% endblocktrans %}</a>
			</div>
			<p class="ststsnok">{{ request.GET.msg }}</p>
			{% if data.status == "OK" %}
				{% if data.name %}
					<div class="extra" id="demo_extra" >
						<p class="griditem col-sm-7">{{ data.name }} </p>
						<a class="btn btn-info" onclick="window.open('{{ data.url }}')" target="_self"> Download</a>
						{% if data.registered %}
                        	<a class="btn btn-primary" onclick="send_delete_demo_extra_request('{% url 'ipol.cp.demoinfo.delete_demo_extra_from_demo'  demo_id %}',{{ demo_id }} )">{% trans 'Delete' %}</a>
						{% else %}
							<a class="btn btn-primary disabled">{% trans 'Delete' %}</a>
						{% endif %}
					</div>

				{% else %}
					<p class="ststsnok"> {% blocktrans %}This demo is not using any demo extras{%  endblocktrans %}</p>
				{% endif %}
			{% endif %}
		{% endwith %}
	</div>

{% endblock %}

<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->

{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/manage_demo_extras_for_demo.js' %}"></script>
{% endblock %}
