{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% trans "Manage demo's Authors" %}
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;
        }
        .ststsnok {
            color:red;
        }
        .author{
            border: 1px solid gray;
            border-radius: 5px;
            margin: 20px;
            padding: 10px;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
        .griditem{
            padding-left: 20px
        }
        .btn-primary{
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>

{% endblock %}


{% block content %}

    <div class="container">

        <h2> {% blocktrans %} Manage demo {{ demo_id }}'s Authors  {%  endblocktrans %}</h2>


        {#  Author list for this demo#}
        {% with data=view.list_authors_for_demo %}
            {#  Add Author btn #}
            <div class="container">
                <a class="btn btn-info" href="/cp/demo_edition/{{demo_id}}">{% blocktrans %}Go to previous page{% endblocktrans %}</a>
                {% if data.registered %}
                    <a class="btn btn-primary" onclick="show_choosedemoauthor_form( {{ demo_id }} )">{% blocktrans %}Add existing Author to this demo{%  endblocktrans %}</a>
                    <a class="btn btn-primary" onclick="show_demoauthor_form( {{ demo_id }} )">{% blocktrans %}Add New Author to demo{%  endblocktrans %}</a>
                {% else %}
                <a class="btn btn-primary disabled">{% blocktrans %}Add existing Author to this demo{%  endblocktrans %}</a>
                    <a class="btn btn-primary disabled" >{% blocktrans %}Add New Author to demo{%  endblocktrans %}</a>
                {% endif %}
            </div>
            {% if data.status == "OK" %}
                {% if data.author_list %}
                    {% for author in data.author_list %}
                        <div class="author row" id="author_info_{{ author.id }}" >
                            <div class="griditem col-sm-3"> {% trans 'Id' %}: <span class="badge">{{ author.id }}</span> </div>
                            <div class="griditem col-sm-3">{% trans 'Name' %}: {{ author.name }} </div>
                            <div class="griditem col-sm-3">{% trans 'Email' %}: {{ author.mail}} </div>

                            <div class="griditem col-sm-3">
                                {% if data.registered %}
                                    <a class="btn btn-primary" onclick="send_delete_demo_author_request('{% url 'ipol.cp.demoinfo.delete_author_from_demo'  demo_id author.id %}',{{ author.id }}, '{{ author.name }}', {{ demo_id }} )" title="Delete {{ author.name }} from demo {{ demo_id }}">{% trans 'Delete Author from demo' %}</a>
                                    <a class="btn btn-primary" onclick="send_get_author_request('{% url 'ipol.cp.demoinfo.edit_author' author.id %}', {{ author.id }}  )" title="Edit {{ author.name }}'s information">{% trans 'Edit Author' %}</a>
                                {% else %}
                                    <a class="btn btn-primary disabled">{% trans 'Delete Author from demo' %}</a>
                                    <a class="btn btn-primary disabled">{% trans 'Edit Author' %}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p class="ststsnok"> {% blocktrans %}No Authors for this demo.{%  endblocktrans %}</p>
                {% endif %}

            {% else %}
                <p class="ststsnok"> {% blocktrans %}Could not connect to demoinfo , check demoinfo Status{%  endblocktrans %}</p>
            {% endif %}
        {% endwith %}

    </div>

    {#  Modals #}


    <!-- Modal author show/edit -->
    <div class="modal fade" id="createAuthorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createAuthorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>{% blocktrans %}Edit Author{%  endblocktrans %} </h3>

                </div>
                <div class="modal-body" id="createAuthorFormmodalbody">
                    <div id="createauthor_modal_errordiv"></div>
                    {% crispy authorform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal demoauthor show/edit -->
    <div class="modal fade" id="createDemoAuthorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="createDemoAuthorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>{% blocktrans %}Create Author and add it to this demo{%  endblocktrans %}</h3>

                </div>
                <div class="modal-body" id="createDemoAuthorFormmodalbody">
                    <div id="createdemoauthor_modal_errordiv"></div>
                    {% crispy demoauthorform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal choose author for demo  -->
    <div class="modal fade" id="chooseDemoAuthorFormModalId" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="chooseDemoAuthorModalheader" class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>{% blocktrans %}Add Author to demo{%  endblocktrans %}</h3>

                </div>
                <div class="modal-body" id="chooseDemoAuthorFormmodalbody">
                    <div id="choosedemoauthor_modal_errordiv"></div>
                    {% crispy choosedemoauthorform %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#TODO js en archivo separado y minimized#}
{% block functionsjs %}

    <script src="{% static 'js/min/jquery.validate.min.js' %}"></script>
    <script>
        {#  global vars #}


        {#  modal author , for edit author button #}
        $modal_author_msg_div='#createauthor_modal_errordiv';
        $modal_author_id='#createAuthorFormModalId';
        $modal_author_header='div#createAuthorModalheader';
        $form_author_id='#Authorform';
        //hidden
        $form_author_field_author_id="#Authorform #id_id";
        //normal
        $form_author_field_name_id="#Authorform #id_name";
        $form_author_field_mail_id="#Authorform #id_mail";
        var $authorform = $($form_author_id);


        {#  modal demo author, for add new author to demo #}
        $modal_demoauthor_msg_div='#createdemoauthor_modal_errordiv';
        $modal_demoauthor_id='#createDemoAuthorFormModalId';
        $modal_demoauthor_header='div#createDemoAuthorModalheader';
        $form_demoauthor_id='#DemoAuthorform';
        //hidden
        $form_demoauthor_field_demoid_id="#DemoAuthorform #id_demoid";
        //normal
        $form_demoauthor_field_name_id="#DemoAuthorform #id_name";
        $form_demoauthor_field_mail_id="#DemoAuthorform #id_mail";
        var $demoauthorform = $($form_demoauthor_id);


        {#  modal demo author, for add existing author to demo #}
        $modal_choosedemoauthor_msg_div='#choosedemoauthor_modal_errordiv';
        $modal_choosedemoauthor_id='#chooseDemoAuthorFormModalId';
        $modal_choosedemoauthor_header='div#ChooseDemoAuthorModalheader';
        $form_choosedemoauthor_id='#ChooseAuthorForDemoform';
        {#        //hidden#}
        $form_choosedemoauthor_field_demoid_id="#ChooseAuthorForDemoform #id_demoid";
        {#        //normal#}
        $form_choosedemoauthor_field_author_id="#ChooseAuthorForDemoform #id_author";
        var $choosedemoauthorform = $($form_choosedemoauthor_id);




        {#  js error msg#}
        $ws_down=" check webservices are running, go to status page";

        {#  secure AJAX POST to ws ,from django docs #}
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).ready(function(){
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });


        {#  focus on  inputs with autofocus atribute when modal is loaded  #}
        $(document).on('shown.bs.modal', '.modal', function() {
          $(this).find('[autofocus]').focus();
        });


        {#  delete author  #}
        function send_delete_demo_author_request(wsurl,author_id, author_name, demo_id) {
            var delauthor = confirm('Remove ' + author_name + ' from demo ' + demo_id + '?');

            if (delauthor == true) {
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {
                        console.log(data.status);
                        var okhtml="<p class=\"ststsok\">Author succesfully removed from demo.</p>";
                        $('#author_info_'+ author_id).html(okhtml);
                        //todo better to only reload part of list, but should change django pagination for js pagination
                        window.location.reload(true);

                    },
                    error: function(data){
                        console.error(data.status);
                        var errorhtml="<p class=\"ststsnok\">author not removed from demo sucessfully, "+$ws_down+"</p>";
                        $('#author_info_'+ author_id).html(errorhtml);
                    }
                });
            }
        }


        {#  AUTHOR EDIT MODAL  #}

        {#  show/edit author modal  #}
        function send_get_author_request(wsurl,author_id){
            console.log(wsurl);
            console.log(author_id);

            if (author_id === undefined) {
                // author_id was not passed, just open create modal
                $($modal_author_header).html('<h3>New author data</h3>');
                //clear data
                $($modal_author_msg_div).html('');

                $($form_author_field_author_id).get(0).value = '';
                $($form_author_field_name_id).get(0).value = '';
                $($form_author_field_mail_id).get(0).value = '';


                $authorform.show();
                $($modal_author_id).modal('show');
            }else{
                // wsurl was passed, get data from ws and open show modal
                console.log("send_get_author_request");
                $.ajax({
                    type: 'POST',
                    url: wsurl,
                    dataType: 'json',
                    success: function(data) {

                        console.log(data.status);

                        if (data.status=='OK'){
                            //clear modal  error
                            $($modal_author_msg_div).html('');

                            //edit/show Author
                            if ( data.id ){

                                console.log(" GEt form Author data");
                                //Load ddl data in form
                                //console.log(data.last_demodescription);
                                //clear error data
                                $($modal_author_msg_div).html('');

                                $($modal_author_header).html('<h3>Edit Author data</h3>');
                                $($form_author_field_author_id).get(0).value = data.id;
                                $($form_author_field_name_id).get(0).value = data.name;
                                $($form_author_field_mail_id).get(0).value = data.mail;

                                $($modal_author_id).modal('show');
                                $authorform.show();

                            //create Author
                            }else{
                                console.log("error no authorid in form ");
                                //error, no OK
                                var errorhtml="<p class=\"ststsnok\">Author Data not retrieved sucessfully, check demoinfo consistency</p>";
                                $($modal_author_msg_div).html(errorhtml);
                                //clear form data
                                $($form_author_field_author_id).get(0).value = '';
                                $($form_author_field_name_id).get(0).value = '';
                                $($form_author_field_mail_id).get(0).value = '';

                                $($modal_author_id).modal('show');
                                //$authorform.show();
                            }
                        }else{
                            //error, no OK
                            var errorhtml="<p class=\"ststsnok\">Author not retrieved sucessfully, "+$ws_down+"</p>";
                            $($modal_author_msg_div).html(errorhtml);
                        }
                    },
                    error: function(data){
                        var errorhtml="<p class=\"ststsnok\">Error getting Author, "+$ws_down+"</p>";
                        $($modal_author_msg_div).html(errorhtml);
                        $($modal_author_id).modal('show');
                        $authorform.hide();
                    }
                });
            }
        }


        {#  submit Author form  #}
        function submitAuthorformAJAX(){

            console.log("submitAuthorformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $authorform.serialize();
            var $ajaxurl = $authorform.attr("action");
            console.log($ajaxurl);
            console.log($serializedData);

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);
                    if (data.status == "OK") {
                        $($modal_author_msg_div).html('Author saved').show();
                        $authorform.hide();
                        //todo better to only reload part of list, but shoul change django pagination for js pagination
                        window.location.reload(true);
                    }
                    else {

                        $authorform.show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">Author not saved, error: "+data.error+"</p>";
                            $($modal_author_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">Author not saved, error unidefined</p>";
                            $($modal_author_msg_div).html(errorhtml).show();
                        }


                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error saving Author, "+$ws_down+"</p>";
                    $($modal_author_msg_div).html(errorhtml);
                    $($modal_author_id).modal('show');
                    $authorform.hide();
                }
            });
        }

        {#  Author form validation #}
        $($form_author_id).validate({
            errorClass: "validationerror",//for css
            rules: {
                name: {
                    required: true,
                    minlength: 5
                },
                mail: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                name: {
                    required: "please fill name field",
                    minlength: "Your name must be at least 5 characters"
                },
                mail: {
                    required: "please fill mail field",
                    minlength: "Your mail must be at least 5 characters"
                }
            },
            submitHandler: function() {
                console.log("validated ok submitAuthorformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitAuthorformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });


        {#  EXISTING DEMO AUTHOR  MODAL  #}

        {#  show/edit choosedemoauthor modal  #}

        function show_choosedemoauthor_form(demo_id){
            //console.log(demo_id);

            if (demo_id === undefined) {
                // demo_id was not passed, error
                var errorhtml="<p class=\"ststsnok\">Error getting ChooseDemoAuthorForm, "+$ws_down+"</p>";
                $($modal_choosedemoauthor_msg_div).html(errorhtml);
                $($modal_choosedemoauthor_id).modal('show');
                $choosedemoauthorform.hide();
            }else{
                //clear data
{#                $($modal_choosedemoauthor_msg_div).html('');#}
{#                $($form_choosedemoauthor_field_author_id).get(0).value = '';#}

                $($form_choosedemoauthor_field_demoid_id).get(0).value = demo_id;
                $($modal_choosedemoauthor_id).modal('show');
                $choosedemoauthorform.show();
                //focus on autocomplete field
                $("#id_author-autocomplete").attr( 'autofocus', true);
            }
        }


        {#  submit ChooseDemoAuthor form  #}
        function submitChooseDemoAuthorformAJAX(){

            console.log("submitChooseDemoAuthorformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $choosedemoauthorform.serialize();
            var $ajaxurl = $choosedemoauthorform.attr("action");
            console.log($ajaxurl);
            console.log($serializedData);

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);

                    if (data.status == "OK") {
                        $($modal_choosedemoauthor_msg_div).html('choosedemoAuthor saved').show();
                        $choosedemoauthorform.hide();
                        //todo better to only reload part of list, but should change django pagination for js pagination
                        window.location.reload(true);
                    }
                    else {

                        $choosedemoauthorform.show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">Author not added to demo, error: "+data.error+"</p>";
                            $($modal_choosedemoauthor_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">Author not added to demo, error unidefined</p>";
                            $($modal_choosedemoauthor_msg_div).html(errorhtml).show();
                        }


                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error adding Author to demo, "+$ws_down+"</p>";
                    $($modal_choosedemoauthor_msg_div).html(errorhtml);
                    $($modal_choosedemoauthor_id).modal('show');
                    $choosedemoauthorform.hide();
                }
            });
        }


        {#  ChooseDemoAuthor form validation #}
        $($form_choosedemoauthor_id).validate({
            errorClass: "validationerror",//for css
            rules: {
                author: {
                    required: true
                }
            },
            messages: {
                author: {
                    required: "please fill author field",
                }
            },
            submitHandler: function() {
                console.log("validated ok submitChooseDemoAuthorformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitChooseDemoAuthorformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });






        {#  NEW DEMO AUTHOR MODAL  #}

        {#  show/edit demoauthor modal  #}

        function show_demoauthor_form(demo_id){
            console.log(demo_id);

            if (demo_id === undefined) {
                // demo_id was not passed, error
                var errorhtml="<p class=\"ststsnok\">Error getting DemoAuthorForm, "+$ws_down+"</p>";
                $($modal_demoauthor_msg_div).html(errorhtml);
                $($modal_demoauthor_id).modal('show');
                $demoauthorform.hide();
            }else{

                $($form_demoauthor_field_demoid_id).get(0).value = demo_id;
                $($modal_demoauthor_id).modal('show');
                $demoauthorform.show();
            }
        }


        {#  submit DemoAuthor form  #}
        function submitDemoAuthorformAJAX(){

            console.log("submitDemoAuthorformAJAX Submit");
            var csrftoken = getCookie('csrftoken');
            var $serializedData = $demoauthorform.serialize();
            var $ajaxurl = $demoauthorform.attr("action");
            console.log($ajaxurl);
            console.log($serializedData);

            $.ajax({
                url: $ajaxurl,
                type: "POST",
                {# dataType: "json",#}
                data: $serializedData,
                success: function(data) {

                    console.log("AJAX CALL status: "+data.status);
                    if (data.status == "OK") {
                        $($modal_demoauthor_msg_div).html('choosedemoAuthor saved').show();
                        $authorform.hide();
                        //todo better to only reload part of list, but should change django pagination for js pagination
                        window.location.reload(true);
                    }
                    else {

                        $authorform.show();
                        if (data.error){
                            var errorhtml="<p class=\"ststsnok\">Author not added to demo, error: "+data.error+"</p>";
                            $($modal_demoauthor_msg_div).html(errorhtml).show();
                        }else{
                            var errorhtml="<p class=\"ststsnok\">Author not added to demo, error unidefined</p>";
                            $($modal_demoauthor_msg_div).html(errorhtml).show();
                        }


                    }
                },
                error: function () {
                    console.log("ajax error");
                    var errorhtml="<p class=\"ststsnok\">Error adding Author to demo, "+$ws_down+"</p>";
                    $($modal_demoauthor_msg_div).html(errorhtml);
                    $($modal_demoauthor_id).modal('show');
                    $demoauthorform.hide();
                }
            });
        }


        {#  DemoAuthor form validation #}
        $($form_demoauthor_id).validate({
            errorClass: "validationerror",//for css
              rules: {
                name: {
                    required: true,
                    minlength: 5
                },
                mail: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                name: {
                    required: "please fill name field",
                    minlength: "Your name must be at least 5 characters"
                },
                mail: {
                    required: "please fill mail field",
                    minlength: "Your mail must be at least 5 characters"
                }
            },
            submitHandler: function() {
                console.log("validated ok submitChooseDemoAuthorformAJAX");
                // your ajax loading logic
                // form.submit(); // use this to finally submit form data at the last step
                submitDemoAuthorformAJAX();
                return false;  // prevent form submit because you are doing the ajax
            }
        });



    </script>

<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->

{% endblock %}

