
        <style type="text/css">

            #custom-search-input {
                margin:0;
                margin-top: 10px;
                padding: 0;
            }

            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */

                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -20px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color:#D9230F;
                z-index: 3;
            }

            .search-query:focus + button {
                z-index: 3;
            }

        </style>

        <!-- Search bar -->
        <!-- needs the destination view url in template variable named 'searchurl' -->
        <!-- If used with pagination, remember to add q parameter to pagination links so the current search is not forgotten when changing pages-->
        <div class="container">
            <div class="row">
                <form id="searchform" action="{% url searchurl %}" method="get" accept-charset="utf-8">
                    <div id="custom-search-input">
                        <div class="input-group ">
                            <input id="searchbox" name="q" type="text" class="search-query form-control" value="{%if q%}{{q}}{%endif%}" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>