{% extends 'base/base.html' %}
{% load staticfiles %}

{# load CSS for this page in particular #}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/manage_blobs.css' %}"/>
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% trans "Manage Blobs" %}
{% endblock %}

{% block content %}

	<div class="container">
		<h2>  Template: {{ name }}</h2>

		{% with data=view.get_context_data %}

            <!-- Return to previous page -->
            <div class="container">
                <a class="btn btn-info" href="/cp/templates_list/">Return to Templates</a>
            </div>
        {% if data.status == "OK" %}

            <h3>Blobs list</h3>
                <div class="container">
            <a class="btn btn-info" href="{% url 'ipol.cp.add_blob_to_template.page' name%}">Add new Blob</a>
            <a class="btn btn-danger" onclick="deleteTemplate('{% url 'ipol.cp.blobs.delete_template'%}','{{name}}')">Delete Template</a>
            </div>
                <div id="blocks_info_{{ experiment.id }}" class="blocks">
                    {% for set in data.sets %}
                        {% if set.blobs|length == 1 %}
                            {% for pos, blob in set.blobs.items %}
                            <div id="{{ blob.title }}" class="block">
                                <h4 >Title: {{ blob.title }}</h4>
                                <p>Blob:</p>
                                <div class="image_files">
                                    <a href="{% url 'ipol.cp.blobs.edit_blob_template.page'%}?name={{ name }}&set={{ set.name }}&pos={{ pos }}">
                                        <img src="{{ blob.thumbnail }}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                    </a>
                                </div>
                                <p>Credit: {{ blob.credit }}</p>

                                {# Delete blob button#}
                                <div align="right">
                                    <a class="btn btn-primary" onclick="deleteBlob('{% url 'ipol.cp.blobs.remove_blob_from_template' %}','{{ name }}','{{ set.name }}','{{ pos }}')">Delete blob</a>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div id="{{blob.title}}" class="block">
                                <h4>Title: {{ set.name }}</h4>
                                <p>Blobs:</p>
                                <div class="image_files">
                                    {% for pos, blob in set.blobs.items %}
                                        <a href="#">
                                            <img src="{{ blob.thumbnail }}" alt="{{ blob.title }}" title="{{ blob.title }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}

		{% endwith %}
    </div>

{% endblock %}


<!-- autocomplete js includes  -->
{% include 'autocomplete_light/static.html' %}
<!-- end autocomplete js includes  -->


{% block functionsjs %}
	<script src="{% static 'js/min/jquery.validate.min.js' %}"></script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/manage_blobs_for_template.js' %}"></script>
    <script src="{% static 'js/ajaxPost.js' %}"></script>

{% endblock %}

