[Unit]
Description=Run blobs
After=network.target

[Service]
ExecStart=/bin/bash -c "source ./venv/bin/activate && python main.py blobs.conf"
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/blobs/
Environment=IPOL_HOST=ipolcore.ipol.im
Environment=IPOL_URL=https://ipolcore.ipol.im
RestartSec=10
Restart=always
SyslogIdentifier=ipol-blobs

[Install]
WantedBy=default.target
