[Unit]
Description=Run dispatcher
After=network.target

[Service]
ExecStart=/bin/bash -c "source ./venv/bin/activate && python main.py dispatcher.conf"
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/dispatcher/
Environment=IPOL_HOST=ipolcore.ipol.im
Environment=IPOL_URL=https://ipolcore.ipol.im
RestartSec=10
Restart=always
SyslogIdentifier=ipol-dispatcher

[Install]
WantedBy=default.target
