[Unit]
Description=Run core
After=network.target

[Service]
ExecStart=/bin/bash -c "source ./venv/bin/activate && uvicorn app:app --host 0.0.0.0 --port 8080"
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/core/
Environment=IPOL_HOST=ipolcore.ipol.im
Environment=IPOL_URL=https://ipolcore.ipol.im
Environment=env=production
RestartSec=10
Restart=always
SyslogIdentifier=ipol-core

[Install]
WantedBy=default.target
