[Unit]
Description=Run legacy demorunner (for integration, under docker)
After=docker-integration.service

[Service]
# ~/.local for uv python install, which the venv points to
# this one is a bit complex because the demorunner has some dependency on $HOME/$USER
ExecStart=/usr/bin/docker run --rm --name ipol-demorunner --network=host --log-driver=journald --env HOME=/home/integration --user 1005:1005 -v /home/integration/ipolDevel:/home/integration/ipolDevel -v /home/integration/.local/:/home/integration/.local/ -v /home/integration/.cache:/home/integration/.cache --workdir /home/integration/ipolDevel/ipol_demo/modules/demorunner/ registry.ipol.im/ipol-debian-demorunner ./venv/bin/uvicorn demorunner:app --host 127.0.0.1 --port 10004
ExecStop=/usr/bin/docker stop ipol-demorunner
WorkingDirectory=/home/integration/ipolDevel/ipol_demo/modules/demorunner/
Environment=DOCKER_HOST=unix:///var/run/docker-integration.sock
RestartSec=10
Restart=always
SyslogIdentifier=ipol-demorunner

[Install]
WantedBy=default.target
