[Unit]
Description=Run cp2
After=network.target

[Service]
ExecStart=/bin/bash -c "source venv/bin/activate && ./gunicorn_start_cp2"
WorkingDirectory=/home/ipol/ipolDevel/cp2/
Environment=IPOL_HOST=integration.ipol.im
Environment=IPOL_URL=http://integration.ipol.im
RestartSec=10
Restart=always
SyslogIdentifier=ipol-cp2

[Install]
WantedBy=default.target