[Unit]
Description=Run blobs
After=network.target

[Service]
ExecStart=/bin/bash -c "source ./venv/bin/activate && uvicorn blobs:app --host 127.0.0.1 --port 10001"
WorkingDirectory=/home/integration/ipolDevel/ipol_demo/modules/blobs/
Environment=IPOL_HOST=integration.ipol.im
Environment=IPOL_URL=https://integration.ipol.im
RestartSec=10
Restart=always
SyslogIdentifier=ipol-blobs

[Install]
WantedBy=default.target
