[Unit]
Description=Run conversion
After=network.target

[Service]
ExecStart=/bin/bash -c "source ./venv/bin/activate && python main.py conversion.conf"
WorkingDirectory=/home/ipol/ipolDevel/ipol_demo/modules/conversion/
Environment=IPOL_HOST=integration.ipol.im
Environment=IPOL_URL=https://integration.ipol.im
RestartSec=10
Restart=always
SyslogIdentifier=ipol-conversion

[Install]
WantedBy=default.target
