<%include file="header.html" />

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    Choose the precision (in pixels) and run the registration process.
    <input type="hidden" name="key" value="${app.key}">
    <select name="precision">
      %for _p in ['arbitrary','5','2','1','0.5']:
      <option value="${_p}">${_p}</option>
      %endfor
    </select><br \>
    Choose the SIFT ratio (higher=more matches).
    <select name="SiftRatio">
      %for _p in ['0.6','0.8','1','1.1']:
      <option value="${_p}">${_p}</option>
      %endfor
    </select><br />
    <input type="submit" value="run" />
%if x0 and y0 and x1 and y1:
    <input type="hidden" name="key" value="${app.key}">
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="hidden" name="x1" value="${x1}">
    <input type="hidden" name="y1" value="${y1}">
    <input type="checkbox" name="rectangle" value="run" checked="checked" />
    with selected rectangle<br />
%endif
  </div>
</form>

<h2>Image Rectangle Selection</h2>

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
%if x1 and y1:
    <p>Click new first corner to select another rectangle</p>
    <input type="image" style="cursor:crosshair;" name=""
           src="${app.work_url + 'input_crop.png'}" />
%elif x0 and y0:
    <p>Click second rectangle corner</p>
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="image" style="cursor:crosshair;" name=""
           src="${app.work_url + 'input_crop.png'}" />
%else:
    <p>This is the first image. You can select a rectangular region to register. For that, click first rectangle corner</p>
    <input type="image" style="cursor:crosshair;" name=""
           src="${app.work_url + 'input_0.png'}" />
%endif
  </div>
</form>

<h2>Input Images</h2>

<div class="gallery" style="width:${width}px; height:${height}px;">
  <ul class="index">
    <li>
      <a href="#">
	second image
	<span style="width:${width}px; height:${height}px; background-color:#fff;">
	  <img src="${app.work_url + 'input_1.png'}" />
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	first image
	<span style="width:${width}px; height:${height}px; background-color:#fff;">
	  <img src="${app.work_url + 'input_0.png'}" />
	</span>
      </a>
    </li>
  </ul>
</div>

<%include file="footer.html" />
