<%include file="header.html" />

<%include file="wait_info.html" />

<h2>Input Images</h2>
<div class="gallery" style="width:${width}px; height:${height}px;">
  <ul class="index">
    <li>
      <a href="#">
	first image
	<span style="width:${width}px; height:${height}px; background-color:#fff;">
%if im0:
	  <img src="${app.work_url + im0}" />
%else:
	  <img src="${app.work_url + 'input_0.png'}" />
%endif
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	second image
	<span style="width:${width}px; height:${height}px; background-color:#fff;">
	  <img src="${app.work_url + 'input_1.png'}" />
	</span>
      </a>
    </li>
  </ul>
</div>

<%include file="footer.html" />
