<%include file="header.html" />

<%
	height = app.cfg['meta']['height']
	if height < 310:
		height = 310
	hastruth = app.cfg['meta']['hastruth']
%>

<!--
<p>
You can select which implementations to try.
</p>
-->

<h2>Set parameters</h2>

<form action="${app.base_url + 'wait'}" method="get">
		<input type="hidden" name="key" value="${app.key}">

		<%def name="setpar(visible,name,symbol,defval,hint)">
		%if visible:
		<tr>
			<td align="right">
				<label for="${name}">${symbol} = </label>
			</td>
			<td align="left">
				<input type="text" name="${name}" value="${defval}" size="6" />
			</td>
			<td style="font-size:small">${hint}</td>
		</tr>
		%else:
		<input type="hidden" name="${name}" value="${defval}" />
		%endif
		</%def>

		<table cellpadding="5" cellspacing="0" border="0" style="margin-left:0px;margin-right:auto">

		%for k in app.parconfig:
		${setpar(app.parconfig[k]['changeable'],k,app.parconfig[k]['htmlname'],app.parconfig[k]['default'],app.parconfig[k]['doc'])}
		%endfor

		<tr>
			<td> </td>
			<td>
				<input type="submit" value="run" />
			</td>
			<td> </td>
	</tr>
		</table>



</form>

<hr />

<h2>Input data</h2>

<div class="gallery" style="height:${height+20}px">
	<ul class="index">
		<li> <a href="#">I<sub>0</sub><span>
				<img src="${app.work_url + 'a.png'}" title="A"/>
				<br />
				<img src="http://dev.ipol.im/~coco/static/scales.png"
				width="1100" height="19" />
				<br />
				<small><b>N</b>: displacement allowed for each value of N</small>
			</a>
		</li>
		<li> <a href="#">I<sub>1</sub><span>
				<img src="${app.work_url + 'b.png'}" title="B"/>
			</span></a>
		</li>
		%if hastruth:
		<li> <a href="#">ground truth<span>
				<img src="${app.work_url + 't.png'}" title="T"/>
			</span></a>
		</li>
		%endif
	</ul>
</div>

<%include file="footer.html" />

## vim: set ts=2 sw=2:
