        .container{
            margin: 20px;
            padding: 10px;
        }
        .block{
            border: 1px solid lightgray;
            border-radius: 5px;
            margin: 20px;
            padding: 15px;
            max-width : 250px;
        }
        #editor {
            min-height: 400px;
            font-size: 1em;
            border: 1px solid lightgray;
            border-radius: 5px;
            resize: vertical;
            overflow: auto;
        }
        a{
            cursor: pointer;
            font-size: 120%;
        }