.ststsok {
	color:green;
}
.ststsnok {
	color:red;
}
.extra{
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
	width: 35%;
	border-radius: 5px;
}
.extraFile{
	border: 1px solid grey;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	color: grey;
	width: 15%;

}
.container{
	margin: 20px;
	padding: 10px;
}
.griditem{
	padding: 5px
}

