# All the commented lines must start with a "#"

debian-keyring
debian-archive-keyring
bash-completion
mailutils
cron-apt
git
python2.7
wget
cmake
ccache
libtiff5-dev
libtiff-tools
libjpeg-dev
libpng-dev
libfftw3-dev
libeigen3-dev
liblapack-dev
libblas-dev
libopenblas-base
libopenblas-dev
parallel
python
python3
python-dev
python3-dev
python-cherrypy3
python-mako
python-jsonschema
gnuplot
gnuplot-nox
python-pip
python-yaml
libpq-dev
texlive-full
libmagic-dev
libav-tools
libgsl2
libgsl-dev
libgsl-dbg
libblas-dev
libblas3
libopencv-dev
python-opencv
liblapack-dev
liblapacke-dev
liblapacke
octave
octave-general
octave-dataframe
octave-image
octave-linear-algebra
octave-splines
octave-statistics
sshfs
libgdal-dev
gdal-bin
python-gdal
libavformat-dev
libavcodec-dev
libavdevice-dev
libswscale-dev
libavresample-dev
libavfilter-dev
libavutil-dev

# The following packages are needed in our of our private projects on satellite imaging
libgeos-dev

# Virtualbox. Not really needed by IPOL, but useful to make the most of the machines by sharing them with other lab computations
virtualbox
virtualbox-dkms
virtualbox-guest-dkms
linux-headers-amd64
linux-image-amd64

# Machine learning workshops
caffe-cpu
caffe-tools-cpu
libcaffe-cpu-dev
libcaffe-cpu1
python3-caffe-cpu
