# All the commented lines must start with a "#"

nginx-full
debian-keyring
debian-archive-keyring
apt-transport-https
openssh-server
sshfs
bash-completion
sqlite3
mailutils
cron-apt
git
gunicorn
python2.7
wget
cmake
ccache
libboost-all-dev
bc
libconfig9
libconfig-dev
libconfig++-dev
libtiff5-dev
libtiff-tools
libjpeg-dev
libpng-dev
libfftw3-dev
libnfft3-dev
libeigen3-dev
liblapack-dev
libblas-dev
libopenblas-base
libopenblas-dev
parallel
python
python3
python-dev
python3-dev
python-cherrypy3
python-mako
python-jsonschema
python3-distutils
gnuplot
gnuplot-nox
python3-pip
python-yaml
libpq-dev
texlive-full
cimg-dev
libmagic-dev
libgsl23
libgsl-dev
libgsl-dbg
libblas-dev
libblas3
libopencv-dev
libflann-dev
libpcl-dev
python-opencv
ffmpeg
liblapack-dev
liblapacke-dev
liblapacke
octave
octave-general
octave-dataframe
octave-image
octave-linear-algebra
octave-splines
octave-statistics
libgdal-dev
gdal-bin
python-gdal
libsuitesparse-dev
swig
libavformat-dev
libavcodec-dev
libavdevice-dev
libswscale-dev
libavresample-dev
libavfilter-dev
libavutil-dev
liblas-bin
libatlas-base-dev
unattended-upgrades
apt-listchanges

libcairo2
libcairo2-dev
libdevil-dev

# Passwords of the private demos
apache2-utils

# Needed by the PythonTools of the DRs
python3-tk

# For nginx to resolve "localhost" and others
bind9


###################################################################

# The following packages are needed in our private projects on satellite imaging
libgeos-dev

# Machine learning workshops
caffe-cpu
caffe-tools-cpu
libcaffe-cpu-dev
libcaffe-cpu1
python3-caffe-cpu

# JPEG processing workshops
libjpeg-progs

# openCL CPU
libpocl-dev
libpocl1
libpocl1-common
libpoclu-dev
libpoclu1
pocl-doc
pocl-opencl-icd
clinfo

# Audio processing demos
libsndfile1-dev
libsndfile1
