# install requirements for IPOL project
# pip install -r "requirements.txt"

# General
av
bs4
cython
future
libtiff
matplotlib
mgrs
numpy
opencv-python
pillow
psutil
pyfftw
pypng
python-magic
requests
simplejson
sklearn
sortedcontainers
tifffile
utm
validoot
weightedstats


# Needed in one of our private projects on satellite imaging
# The package libgeos-dev needs to be installed with apt-get first
geojson
netcdf
planet
rasterio
shapely
