{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    IPOL - Not found
{% endblock %}

{% block cssfiles %}

    <style type="text/css">

        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }

        .centered {
            display: flex;
            align-content: center
        }

        h1, h2, h3, p, a {
            color: #616567;
        }

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        .logo-xl {
            height: 100%;
            width: 90px;
        }

        .p-y-20 {
            padding: 20px 0;
        }

        #custom-search-input {
                margin:0;
                margin-top: 10px;
                padding: 0;
            }

        #custom-search-input .search-query {
            padding-right: 3px;
            padding-right: 4px \9;
            padding-left: 3px;
            padding-left: 4px \9;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */

            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        #custom-search-input button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 22px;
            position: relative;
            left: -26px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color:#D9230F;
            z-index: 3;
        }

    </style>

{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <a href="/cp">
                    <img class="img-responsive logo-xl" src="{% static "images/IPOL-header-logo.png" %}">
                </a>
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <h1>Ooops!</h1>
                <h2>We can't seem to find the page you're looking for.</h2>
                <h3>Error code: 404</h3>
            </div>
        </div>
        <div class="row p-y-20">
            <div class="col-sm-9 col-sm-offset-1">
                <form id="searchform" action="{% url 'ipol.cp.demoinfo.demos' %}" method="get" accept-charset="utf-8">
                    <div id="custom-search-input" class="input-group">
                        <label for="searchbox">Search:</label>
                        <input id="searchbox" name="q" type="text" class="search-query form-control" value="{%if q%}{{q}}{%endif%}" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <a class="btn btn-info" href="/cp">Go to home page</a>
            </div>
        </div>

    </div>

{% endblock %}