{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Demo page test
{% endblock %}

{% block cssfiles %}

    <style type="text/css">

        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}


    <div class="container">

        <h2>Archive module</h2>

        <p>
            This module is responsible for storing the experiments made bay users.
            When a user select a file of his own instead of using ono of the files proposed by the demo,
            This file is uploaded and used to run the demo bt DEMO MODULE, then teh result of this execution is sent to ARCHIVE MODULE to be stored.
            Some demos have 40000 experiments

            db structure:
            |Experiment| 1---m |exp_blob| n----1 |blob|

            Experiment has the demos's id
        </p>


        {#   Demo de test con id -1     #}
        {#            <div class="demo">#}
        {#                <a  href="{% url 'ipol.cp.archive.page' -1 %}">#}
        {#                    <p style="padding-left: 20px">name: testdemo id:-1</p>#}
        {#                </a>#}
        {#            </div>#}

        {% with data=view.list_demos %}
            <p>STATUS: {{ data.status  }}</p>


            {% for demo in data.demo_list%}

                <div class="demo">
                    <a  href="{% url 'ipol.cp.archive.page' demo.demo_id %}">
                        <p style="padding-left: 20px">demo_id:{{ demo.demo_id }} </p>
                    </a>


                    {#  boton Delete demo#}
                    <div style="padding-left: 20px" >
                        <a class="btn btn-primary" onclick="send_delete_demo_request( {{ demo.demo_id }} )">Delete</a>
                    </div>
                </div>
            {% endfor %}

        {% endwith %}

    </div>

{% endblock %}

{% block functionsjs %}


        <script>

{#        var myshdwnurl="{% url 'ipol.cp.archive.delete_experiment' %}";#}
        //console.log(myshdwnurl);
        function send_delete_demo_request(experiment_id) {
            var deldemo = confirm('delete this demo dummy: ' + experiment_id);
            if (deldemo == true) {
{#            $.ajax({#}
{#                type: 'GET',#}
{#                url: myshdwnurl,#}
{#                dataType: 'json',#}
{#                success: function(data) {#}
{#                    //console.error(data.status);#}
{#                    var okhtml="<p class=\"ststsnok\">Archive Module Shutdown successfull</p>";#}
{#                    $('#archive_module_info').html(okhtml);#}
{##}
{#                },#}
{#                error: function(data){#}
{#                    var errorhtml="<p>Could not shutdown properly, refresh page</p>";#}
{#                    $('#archive_module_info').html(errorhtml);#}
{#                }#}
{#            });#}
            }
        }
    </script>

{% endblock %}



