{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Demo page test
{% endblock %}

{% block cssfiles %}

    <style type="text/css">

        .demo{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 40%;
        }
        .container{
            margin: 20px;
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}


    <div class="container">

        <h2>Demo List</h2>
        {#   Demo de test con id -1     #}
            <div class="demo">
                <a  href="{% url 'ipol.cp.result.page' -1 %}">
                    <p style="padding-left: 20px">name: testdemo id:-1</p>
                </a>
            </div>

        {% with data=view.result %}
            <p>STATUS: {{ data.status  }}</p>


            {% for demo in data.list_demos%}

                <div class="demo">
                    <a  href="{% url 'ipol.cp.result.page' demo.id %}">
                        <p style="padding-left: 20px">demo_id:{{ demo.id }} </p>
                    </a>
                    <p style="padding-left: 20px">name:{{ demo.name }} </p>
                    <p style="padding-left: 20px">is_template:{{ is_template.id }} </p>
                    <p style="padding-left: 20px">template_id:{{ demo.template_id }} </p>

                    {#boton Delete demo#}
                    <div style="padding-left: 20px" >
                        <a class="btn btn-primary" onclick="send_delete_demo_request( {{ demo.id }} )">Delete</a>
                    </div>
                </div>
            {% endfor %}

        {% endwith %}

    </div>

{% endblock %}

{% block functionsjs %}


        <script>

{#        var myshdwnurl="{% url 'ipol.cp.archive.delete_experiment' %}";#}
        //console.log(myshdwnurl);
        function send_delete_demo_request(experiment_id) {
            var deldemo = confirm('delete this demo dummy: ' + experiment_id);
            if (deldemo == true) {
{#            $.ajax({#}
{#                type: 'GET',#}
{#                url: myshdwnurl,#}
{#                dataType: 'json',#}
{#                success: function(data) {#}
{#                    //console.error(data.status);#}
{#                    var okhtml="<p class=\"ststsnok\">Archive Module Shutdown successfull</p>";#}
{#                    $('#archive_module_info').html(okhtml);#}
{##}
{#                },#}
{#                error: function(data){#}
{#                    var errorhtml="<p>Could not shutdown properly, refresh page</p>";#}
{#                    $('#archive_module_info').html(errorhtml);#}
{#                }#}
{#            });#}
            }
        }
    </script>

{% endblock %}



