{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Demo page test
{% endblock %}

{% block cssfiles %}
{% endblock %}

{% block content %}


{#    <h1>DEMO LIST</h1>#}
{#    #}
    {{ view.result }}




    <h2>Lista de demos</h2>
    {#   Demo de test con id -1     #}
        <div>
            <a  href="{% url 'ipol.cp.result.page' -1 %}">
                <p style="padding-left: 20px">name: testdemo id:-1</p>
            </a>
        </div>

    {% with data=view.result %}
        <p>STATUS: {{ data.status  }}</p>


        {% for demo in data.list_demos%}

            <div>
                <a  href="{% url 'ipol.cp.result.page' demo.id %}">
                    <p style="padding-left: 20px">demo_id:{{ demo.id }} </p>
                </a>
                <p style="padding-left: 20px">name:{{ demo.name }} </p>
                <p style="padding-left: 20px">is_template:{{ is_template.id }} </p>
                <p style="padding-left: 20px">template_id:{{ demo.template_id }} </p>

                {#boton Delete demo#}
                <div style="padding-left: 20px" >
                    <a class="btn btn-primary" onclick="send_delete_demo_request()">Delete</a>
                </div>
            </div>
        {% endfor %}

    {% endwith %}



{% endblock %}

{% block functionsjs %}

    <script>

{#        var myshdwnurl="{% url 'ipol.cp.archive.delete_experiment' %}";#}
        //console.log(myshdwnurl);
        function send_delete_demo_request() {
            alert('delete this demo dummy')
{#            $.ajax({#}
{#                type: 'GET',#}
{#                url: myshdwnurl,#}
{#                dataType: 'json',#}
{#                success: function(data) {#}
{#                    //console.error(data.status);#}
{#                    var okhtml="<p class=\"ststsnok\">Archive Module Shutdown successfull</p>";#}
{#                    $('#archive_module_info').html(okhtml);#}
{##}
{#                },#}
{#                error: function(data){#}
{#                    var errorhtml="<p>Could not shutdown properly, refresh page</p>";#}
{#                    $('#archive_module_info').html(errorhtml);#}
{#                }#}
{#            });#}
        }
    </script>

{% endblock %}



