{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Control Panel Satus
{% endblock %}

{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/stats.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>
            <p>Control Panel: System Status</p>
        </h1>

        {% with proxy_module_stats=view.get_proxy_module_stats proxymachine=view.get_proxy_machine archive_module_stats=view.get_archive_module_stats archivemachine=view.get_archive_machine blobs_module_stats=view.get_blobs_module_stats blobmachine=view.get_blob_machine demomachine=view.get_demo_machine  demoinfo_module_stats=view.get_demoinfo_module_stats  demoinfomachine=view.get_demoinfo_machine %}

            {% if '127.0.0.1' in archivemachine or '127.0.0.1' in blobmachine or '127.0.0.1' in demomachine or '127.0.0.1' in proxymachine %}
                <p> The purpose of this page is to monitor the status of the diferent modules that provide functionality (this is a microservices architecture) used by Control Panel</p>

                <b class="ststsnok">Carefull! Some stuff is running locally</b>
                <p> To RUN Locally PROXY: (v_env_ipol)josearrecio@Joses-MacBook-Pro:~/Projects/ipolDevel/ipol_demo$ python proxy.py  proxy.conf</p>
                <p> Remember to change /Users/josearrecio/Projects/ipolDevel/ipol_demo/modules/config_common/modules.xml to point locally </p>

                <p> To RUN Locally DEMO: (v_env_ipol)josearrecio@Joses-MacBook-Pro:~/Projects/ipolDevel/ipol_demo$ python demo.py  (needs buil)</p>
                <p> To RUN Locally ARCHIVE: (v_env_ipol)josearrecio@Joses-MacBook-Pro:~/Projects/ipolDevel/ipol_demo/modules/archive$ python main.py archive.josearrecio.conf</p>
                <p> To RUN Locally BLOBS: (v_env_ipol)josearrecio@Joses-MacBook-Pro:~/Projects/ipolDevel/ipol_demo/modules/blobs$ python main.py blobs.josearrecio.conf </p>
{#                <p> Note: Some modules have .conf hardcoded, you have to: cp archive.josearrecio.conf archive.conf </p>#}

            {% endif %}

            <!--
            <div id="proxy_module_info" class="machine">
                {% if proxy_module_stats.status == "OK" %}

                    <p class="ststsok"> <b>PROXY RUNNING at: {{ proxymachine }}</b></p>

{#                    <div style="padding-left: 20px">#}
{#                        <p>nb_demos: {{ proxy_module_stats.nb_demos  }}</p>#}
{#                        <p>nb_authors: {{ proxy_module_stats.nb_authors  }}</p>#}
{#                        <p>nb_editors: {{ proxy_module_stats.nb_editors  }}</p>#}
{#                    </div>#}
                    {% if '9003' in archivemachine or '9003'  in blobmachine or '9003'  in demomachine  %}
                        <p class="ststsok"> <b>PROXY RUNNING, ALL MODULES RUNNING THROUGH PROXY</b></p>
                    {% else %}
                        <p class="ststsnok"> <b>PROXY RUNNING, BUT NOT BEEING USED !! check settings param IPOL_PROXY {{ archivemachine }}</b></p>
                    {% endif %}

                {% else %}
                    <p class="ststsnok">Proxy Module Not running!</p>
                    <p class="ststsnok">CP will not work</p>
                {% endif %}
            </div>
            -->

            <div id="demoinfo_module_info" class="machine">
                {% if demoinfo_module_stats.status == "OK" %}
                    <p class="ststsok"> <b>DemoInfo running at: {{ demoinfomachine }}</b></p>

                    <div style="padding-left: 20px">
                        <p>nb_demos: {{ demoinfo_module_stats.nb_demos  }}</p>
                        <p>nb_authors: {{ demoinfo_module_stats.nb_authors  }}</p>
                        <p>nb_editors: {{ demoinfo_module_stats.nb_editors  }}</p>
                    </div>

                {% else %}
                    <p class="ststsnok bold">Demoinfo Module is not running!</p>
                {% endif %}
            </div>


            <div id="archive_module_info" class="machine">
                {% if archive_module_stats.status == "OK" %}
                    <p class="ststsok"> <b>Archive running at: {{ archivemachine }}</b></p>

                    <div style="padding-left: 20px">
                        <p>nb_blobs: {{ archive_module_stats.nb_blobs  }}</p>
                        <p>nb_experiments: {{ archive_module_stats.nb_experiments  }}</p>
                    </div>

                    <!--
                    {#boton shutdown#}
                    {#    <div style="padding-left: 20px" >#}
                    {#        <a class="btn btn-primary" onclick="send_archive_shutdown_request()">Shutdown Archive</a>#}
                    {#    </div>#}

                    <p>For testing purposes Archive module has experiment with id=-1, you can add experiments to it (an experiment consists of two pokemon images)</p>
                    <div style="padding-left: 20px" >
                        <a class="btn btn-primary" onclick="send_add_test_to_test_demo('{% url 'ipol.cp.archive.add_exp_to_test_demo' %}' )">Add experiment to test demo</a>
                    </div>
                    -->

                {% else %}
                    <p class="ststsnok bold">Archive Module is not running!</p>
                {% endif %}
            </div>

            <div id="blobs_module_info" class="machine">
                {% if blobs_module_stats %}
                    <p class="ststsok"><b>Blobs running at: {{ blobmachine }}</b></p>
                    <div style="padding-left: 20px">
                        {% for demo in blobs_module_stats.list_demos%}
                            ( demo_id:{{ demo.id }}, name:{{ demo.name }} )
                            {#   <p style="padding-left: 20px">is_template:{{ is_template.id }} </p>#}
                            {#   <p style="padding-left: 20px">template_id:{{ demo.template_id }} </p>#}
                        {% endfor %}
                    </div>

                {% else %}
                    <p class="ststsnok bold">Blobs Module is not running!</p>
                {% endif %}
            </div>

            <div id="Demo_module_info" class="machine">
                <!--
                <p class="ststsnok"> No integration with archive module, it has its own archive in ipol_Demo/libs/archive.py (its like blobs and archive mixed together)</p>
                <p class="ststsnok"> No integration with Blobs module, </p>
                -->
                {% if demomachine %}
                    <p class="ststsok"><b>Demo running at: {{ demomachine }}</b></p>

                {% else %}
                    <p class="ststsnok bold"><b>Demo is not running!</b></p>
                {% endif %}
            </div>
        {% endwith %}
    </div>
{% endblock %}


{% block functionsjs %}
    <script>
        var myshdwnurl="{% url 'ipol.cp.archive.shutdown' %}";
    </script>

    <!-- include external script with required functions -->
    <script src="{% static 'js/stats.js' %}"></script>
{% endblock %}
