{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    HW
{% endblock %}

{% block cssfiles %}

    <style type="text/css">
        .ststsok {
            color:green;

        }
        .ststsnok {
            color:red;

        }

    </style>

{% endblock %}

{% block content %}


<h1>
    <p>SYSTEM STATS</p>
</h1>


    {% with archive_module_stats=view.get_archive_module_stats blobs_module_stats=view.get_blobs_module_stats archivemachine=view.get_archive_machine  blobmachine=view.get_blob_machine%}
        {% if '127.0.0.1' in archivemachine or '127.0.0.1' in blobmachine %}
            <b class="ststsnok">Carefull! Some stuff is running locally</b>
        {% endif %}



        <div id="archive_module_info">
            {% if archive_module_stats.status == "OK" %}

                <p class="ststsok"> <b>ARCHIVE RUNNING at: {{ archivemachine }}</b></p>

                <div style="padding-left: 20px">
                    <p>nb_blobs: {{ archive_module_stats.nb_blobs  }}</p>
                    <p>nb_experiments: {{ archive_module_stats.nb_experiments  }}</p>
                </div>

                {#boton shutdown#}
                <div style="padding-left: 20px" >
                    <a class="btn btn-primary" onclick="send_archive_shutdown_request()">Shutdown Archive</a>
                </div>


            {% else %}

                <p class="ststsnok">Archive Module Not running!</p>

            {% endif %}
        </div>

        <div id="blobs_module_info">
            {% if blobs_module_stats %}
                <p class="ststsok"><b>BLOBS RUNNING at: {{ blobmachine }}</b></p>
                <div style="padding-left: 20px">
                    {% for demo in blobs_module_stats.list_demos%}
                        ( demo_id:{{ demo.id }}, name:{{ demo.name }} )
                        {#   <p style="padding-left: 20px">is_template:{{ is_template.id }} </p>#}
                        {#   <p style="padding-left: 20px">template_id:{{ demo.template_id }} </p>#}
                    {% endfor %}
                </div>

            {% else %}
                <p class="ststsnok">Blobs Module Not running!</p>

            {% endif %}
        </div>


    {% endwith %}



{% endblock %}

{% block functionsjs %}

    <script>

        var myshdwnurl="{% url 'ipol.cp.archive.shutdown' %}";
        //console.log(myshdwnurl);
        function send_archive_shutdown_request() {
            $.ajax({
                type: 'GET',
                url: myshdwnurl,
                dataType: 'json',
                success: function(data) {
                    //console.error(data.status);
                    var okhtml="<p class=\"ststsnok\">Archive Module Shutdown successfull</p>";
                    $('#archive_module_info').html(okhtml);

                },
                error: function(data){
                    var errorhtml="<p>Could not shutdown properly, refresh page</p>";
                    $('#archive_module_info').html(errorhtml);
                }
            });
        }
    </script>

{% endblock %}


