{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Control Panel Satus
{% endblock %}

{% block cssfiles %}
    <!-- include external styles from static content -->
    <link rel="stylesheet" href="{% static 'css/stats.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>
            <p>System Status</p>
        </h1>

        <!--Demorunners-->
        {%  with data=view.demorunners_stats%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>Demorunners are running</b></p>
                    <div>
                        {% for dr in data.demorunners %}
                            {% if dr.status == 'OK' %}
                                <div class="machine">
                                    <p class="bold">{{ dr.name }}</p>
                                    <p>Status: <b class="ststsok">{{ dr.status  }}</b></p>
                                    <p>Workload: {{dr.workload}}</p>

                                </div>
                            {% else %}
                                <div class="machine">
                                    <p class="bold">{{ dr.name }}</p>
                                    <p>Status: <b class="ststsnok">{{ dr.status  }}</b></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="ststsnok bold">All Demorunners are not running!</p>
                {% endif %}
            </div>
        {% endwith %}

        <!--Demoinfo-->
        {%  with data=view.get_demoinfo_module_stats%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>DemoInfo is running</b></p>

                    <div style="padding-left: 20px">
                        <p>Number of demos: {{ data.nb_demos  }}</p>
                        <p>Number of authors: {{ data.nb_authors  }}</p>
                        <p>number of editors: {{ data.nb_editors  }}</p>
                    </div>

                {% else %}
                    <p class="ststsnok bold">Demoinfo Module is not running!</p>
                {% endif %}
            </div>
        {% endwith %}

        <!--Archive-->
        {%  with data=view.get_archive_module_stats%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>Archive is running</b></p>

                    <div style="padding-left: 20px">
                        <p>Number of blobs: {{ data.nb_blobs  }}</p>
                        <p>Number of experiments: {{ data.nb_experiments  }}</p>
                    </div>

                {% else %}
                    <p class="ststsnok bold">Archive Module is not running!</p>
                {% endif %}
            </div>
        {% endwith %}

        <!--Blobs-->
        {%  with data=view.get_blobs_module_stats%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>Blobs is running</b></p>

                    <div style="padding-left: 20px">
                        <p>Number of blobs: {{ data.nb_blobs  }}</p>
                        <p>Number of templates: {{ data.nb_templates  }}</p>
                        <p>Number of tags: {{ data.nb_tags  }}</p>
                    </div>

                {% else %}
                    <p class="ststsnok bold">Blobs Module is not running!</p>
                {% endif %}
            </div>
        {% endwith %}

         <!--Core-->
        {%  with data=view.core_ping%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>Core is running</b></p>
                {% else %}
                    <p class="ststsnok bold">Core Module is not running!</p>
                {% endif %}
            </div>
        {% endwith %}

         <!--Dispatcher-->
        {%  with data=view.core_ping%}
            <div class="machine">
                {% if data.status == 'OK' %}
                    <p class="ststsok"> <b>Dispatcher is running</b></p>
                {% else %}
                    <p class="ststsnok bold">Dispatcher Module is not running!</p>
                {% endif %}
            </div>
        {% endwith %}

    </div>
{% endblock %}


{% block functionsjs %}

{% endblock %}
