<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>

<form action="${app.base_url + 'wait'}" method="get" style="padding:10px">

Set the parameters and run the algorithm.
<i>Note: rgb images will be converted to grayscale.</i>

<fieldset>
<input type="hidden" name="key" value="${app.key}" />

<h3>Roberts, Prewitt and Sobel</h3>

    <div style="float:left; width:28em; text-align:right;">
    th_fded (gradient threshold)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="th_fded" name="th_fded" value="0.1" /></div>
    <div id="slider1" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

<h3>Haralick</h3>

    <div style="float:left; width:28em; text-align:right;">
    &rho; (radius threshold from center of the pixel)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="rho" name="rho" value="0.4" /></div>
    <div id="slider2" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

<h3>Marr-Hildreth (Gaussian kernel)</h3>

    <div style="float:left; width:28em; text-align:right;">
    &sigma; (blur standard deviation)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="sigma" name="sigma" value="3" /></div>
    <div id="slider3" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

    <div style="float:left; width:28em; text-align:right;">
    n (kernel size)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="n" name="n" value="25" /></div>
    <div id="slider4" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

    <div style="float:left; width:28em; text-align:right;">
    tzc (zero-crossing threshold)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="tzc" name="tzc" value="0.07" /></div>
    <div id="slider5" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

<h3>Marr-Hildreth (LoG kernel)</h3>

    <div style="float:left; width:28em; text-align:right;">
    &sigma; (blur standard deviation)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="sigma2" name="sigma2" value="3" /></div>
    <div id="slider6" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

    <div style="float:left; width:28em; text-align:right;">
    n (kernel size)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="n2" name="n2" value="29" /></div>
    <div id="slider7" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

    <div style="float:left; width:28em; text-align:right;">
    tzc (zero-crossing threshold)&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;" size="7" id="tzc2" name="tzc2" value="0.13" /></div>
    <div id="slider8" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
    <div style="clear:both; font-size:8pt">&nbsp;</div>

<h3>Results display</h3>
    <input type="radio" name="inv" value="1" checked> Black on white (inverted)<br>
    <input type="radio" name="inv" value="0"> White on black (normal)<br>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<script type="text/javascript">
$(document).ready(function() 
{
	createLinkedSlider('#th_fded', '#slider1', 0, 1,     0.005);
	createLinkedSlider('#rho',     '#slider2', 0, 0.707, 0.001);
	createLinkedSlider('#sigma',   '#slider3', 0, 20,    0.1);
	createLinkedSlider('#n',       '#slider4', 1, 101,   2);
	createLinkedSlider('#tzc',     '#slider5', 0, 1,     0.005);	
	createLinkedSlider('#sigma2',  '#slider6', 0, 20,    0.1);
	createLinkedSlider('#n2',      '#slider7', 1, 101,   2);
	createLinkedSlider('#tzc2',    '#slider8', 0, 1,     0.005);	
});
</script>
</fieldset>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<p>Run the algorithm: <input type="submit" name="action" value="run" /><p/>

<div style="clear:both; font-size:8pt">&nbsp;</div>

%if int(app.cfg['param']['x1']) < 0 or int(app.cfg['param']['y1']) < 0 :
  <p>Or you can run it after selecting a subimage by clicking two
     opposite corners of the subimage.</p>
  <p><input type="image" style="cursor:crosshair;" name="click"
            src="${app.work_url + 'input_0_selection.png'}" /></p>
%elif int(app.cfg['param']['x2']) < 0 or int(app.cfg['param']['y2']) < 0 :
  <p>Please select the second corner of the subimage:</p>
  <p><input type="image" style="cursor:crosshair;" name="click"
      src="${app.work_url + 'input_0_selection.png'}" /></p>
%else:
  <p>The algorithm will run on this selected subimage:</p>
  <img src="${app.work_url + 'input_0_selection.png'}" />
%endif

</form>

<%include file="footer.html" />
