{% extends "base.html" %} {% block title %}addDemo{% endblock %} {% block bodyid %}addDemo{% endblock %} {% block header %}
<h2>New Demo Data</h2>
{% endblock %} {% block content %}
<select form="DemoForm" id="SelectDemoState">
    <option>Preprint</option>
    <option>Published</option>
    <option>Test</option>
    <option>Workshop</option>
</select>
<form id="DemoForm">
    {% csrf_token %}
    <p>
        <label>Demo ID</label><input type="text" id="id_DemoId" />
    </p>
    <p>
        <label>Title</label><input type="text" id="id_Title">
    </p>
</form>
<button id="ButtonAddDemo">SAVE</button>
{% endblock %} {% block footer %}
<nav id="footer" class="navbar_default">
    <a class="navbar_brand" href="/cp2">
        <img src="/cp2/static/images/IPOL-header-logo.png"></a>
    <ul class="navbar">
        <li class="nav-footer"><a href="/cp2/templates">Templates</a></li>
        <li class="nav-footer"><a href="/cp2/status">Status</a></li>
    </ul>
</nav>
<script type="text/javascript">
    $(document).ready(function() {
        $("#ButtonAddDemo").click(addDemos);
    });

    /*----------------------------Request AJAX to Django for add Demo ----------------------------------------------------*/
//race condition between AJAX and Submit (solution : we remove the submit in the button) EPIPE
//authenticate c pour ca qu'on passe par Django
    function addDemos() {
        $State = $("#SelectDemoState").val();
        $DemoId = $("#id_DemoId").val();
        $Title = $("#id_Title").val();
        $.ajax({
            url: 'ajax',
            data: ({
                Title: $Title,
                DemoId: $DemoId,
                State: $State,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            type: 'POST',
            success: function(data) {
                if (data.status === 'OK') {
                    alert("Redirection DemoList...")
                    document.location.href = "/cp2"
                } else {
                    alert(data.message)
                }
            },
        })
    }
</script>
{% endblock %}