{% extends "base.html" %} {% block title %}createBlob{% endblock %} {% block bodyid %}createBlob{% endblock %} 

{% block header %}
    {% include "header.html" %}
{% endblock %}  {% block content %}
{% if template_name %}
<h1>Add Blob to: {{ template_name }}</h1>
{% elif demo_id %}
<h1>Add Blob to: {{ demo_id }}</h1>
{% endif %}
<div id="DetailsBlob">
    {% block blobForm %}
        {% include "editBlobform.html" %}
    {% endblock%}
    <div id="blobRepresentation">
        <div id="blobThumbnail">
            <p>Blob</p>
            <img id="thumbnail" title="Blob" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onError=setBrokenImage(this)>
        </div>
        <div id="vrThumbnail">
            <p>Visual representation</p>
            <img id="thumbnail_vr" title="Visual Representation" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onError=setBrokenImage(this)>
        </div>
    </div>
</div>

<script type="text/javascript" src="static/js/createBlob.js"></script>
{% endblock %}