{% extends "base.html" %} {% block title %}createBlob{% endblock %} {% block bodyid %}createBlob{% endblock %} 

{% block header %}
    {% include "header.html" %}
{% endblock %}  {% block content %}
{% if template_name %}
<h1>Add Blob to: {{ template_name }}</h1>
{% elif demo_id %}
<h1>Add Blob to demo: {{ demo_id }}</h1>
{% endif %}
<div id="upload-container" class="upload-container container-centered">
    <h1>Drop your files here</h1>
    <input type="file" id="upload-input" aria-label="Pick a file" multiple />
    <label for="file-selector" class="file-selector-label" onclick="$('#upload-input').click();">
      <p>Or pick one</p>
    </label>
</div>
<div id="" class="container-centered content-center">
  <button id="add-blobs-btn" class="btn btn-add centered" disabled>Upload</button>
</div>
<div id="upload-list" class="upload-list container-centered"></div>
<script type="text/javascript" src="static/js/createBlob.js"></script>
{% endblock %}