{% extends "base.html" %} {% block title %}createBlob{% endblock %} {% block bodyid %}createBlob{% endblock %} {% block header %}
<h2>Add Blob to Template : <span id="nameOfTemplate"></span></h2>
{% endblock %} {% block content %}
<div id="blobCreation">
    <img id="thumbnail" title ="Blob" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onError=setBrokenImage(this)>
    <img id="thumbnail_vr" title="Visual Representation" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onError=setBrokenImage(this)>

<form id="createBlobForm">
    {% csrf_token %}
    <p>
        <label>Blob</label><input type="file" id="Blob" onchange="blobUploaded()"/>
    </p>
    <p>
        <label>Title</label><input type="text" id="Title">
    </p>
    <p>
        <label>SET</label><input type="text" id="SET">
    </p>
    <p>
        <label>Position in set</label><input type="text" id="PositionSet">
    </p>
    <p>
        <label>Credit</label><input type="text" id="Credit">
    </p>
    <p>
        <label>Tags</label><input type="text" id="Tags">
    </p>
    <p>
        <label>Visual Representation</label><input type = "file" accept="image/*" id="VR" onchange="vrUploaded()">
    </p>
<button id="ButtonAddBlob">SAVE</button>
</form>
</div>
<a id="GoPreviousPage" href="">Go Previous Page</a>
{% endblock %} {% block footer %}
<nav id="footer" class="navbar_default">
    <a class="navbar_brand" href="/cp2">
        <img src="/cp2/static/images/IPOL-header-logo.png"></a>
    <ul class="navbar">
        <li class="nav-footer"><a href="/cp2/templates">Templates</a></li>
        <li class="nav-footer"><a href="/cp2/status">Status</a></li>
    </ul>
</nav>
<script type="text/javascript">
var VRImage;
var blobImage;
var templateSelection = getParameterByName('template');
document.getElementById("nameOfTemplate").innerHTML = templateSelection;
$("#GoPreviousPage").attr('href', '/cp2/showTemplates?template='+templateSelection);
//pb sur la representation du blob, le premier tiff affiche la bonne image mais apres c mauvais
var form = document.getElementById('createBlobForm');
//Je peux créer plusieurs fois le même blob 
form.onsubmit = function (e) {
    e.preventDefault();
    var formData = new FormData();
    formData.append('Title', $('#Title').val());
    formData.append('SET' , $('#SET').val());
    formData.append('PositionSet', $('#PositionSet').val());
    formData.append('Credit', $('#Credit').val());
    formData.append('Tags', $('#Tags').val());
    formData.append('TemplateSelection', templateSelection);
    formData.append('Blobs', blobImage, blobImage.name);
    if (VRImage) {
        formData.append('VR', VRImage, VRImage.name);
    }
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    $.ajax({
        url: 'createBlob/ajax',
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        dataType : 'json',
        success: function(data) {
            if (data.status === 'OK') {
                alert("Redirection Templates List...")
                document.location.href = "/cp2/showTemplates?template="+templateSelection
            } else {
                alert("Error to add this Blob to the Template")
            }
        },
    })
};
</script>
{% endblock %}