{% extends "base.html" %} {% block title %}demoExtras{% endblock %} {% block bodyid %}demoExtras{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %} 
<div id="demoextras-texts" class="container-centered">
    <a href="/cp2/showDemo?demo_id={{demo_id}}" class="btn mg-0">Go back to demo</a>
    <h1>Manage Demo Extras {{ demo_id }}</h1>
    {% if not can_edit %}
    <div id="can_edit">
        <h2>You are not allowed to edit this demo</h2>
    </div>
    {% endif %}
    <p>Upload your Demo Extras as a package (.zip, .gz, .tar, or .tar.gz) containing all your scripts and data.</p> 
    <p>Ensure that all files are readable and the scripts have the execution permission set. You can set the execution permission with <u>chmod +x file</u>.</p>
    <p>The ZIP format loses the file permissions and thus we advise to use a different format for your executables.</p>
    <p>Command-line examples to create the packages:</p>
    <ul>
        <li>tar -zcvf demoExtras.tar.gz source_dir</li>
        <li>tar -cvf demoExtras.tar source_dir</li>
        <li>zip -r demoExtras.zip source_dir</li>
    </ul>
    <form id="editDemoExtras" action="{% url 'add_extras' %}" method="post" enctype="multipart/form-data">
        <div class="extras-input-container">
            {% csrf_token %}
            <input type="hidden" name="demo_id" value="{{ demo_id }}">
            <input type="hidden" name="title" value="{{ title }}">
            <input type="file" id="file" name="demoextras" aria-label="File browser for demoextras">
            <label class="file-label" for="file">
                <p class="extras-file-icon"><i class="fa-solid fa-file-arrow-up"></i></p>
                <div>
                    <strong>Choose a file</strong>
                    <span class="file-custom"> or drag it here</span>
                </div>
            </label>
            <button type="submit" id="save-btn" class="btn" disabled><i class="fa-solid fa-upload"></i> Upload</button>
        </div>
    </form>
    {% if error %}
    <h2 style="color:red">{{ error }}</h2>
    {% endif %}
    {% if extras_name %}
    <section>
        <h1>Uploaded demoextras</h1>
        <div class="extras-info">
            <p class="demoextras-name">{{ extras_name }}</p>
            <p class="demoextras-date">{{ date }}</p>
            <p class="demoextras-size">{{ size |filesizeformat }}</p>
            <a href="{{ extras_url }}" class="btn"><i class="fa-solid fa-download"></i> Download file</a>
            <a href="{% url 'delete_extras' %}?demo_id={{ demo_id }}" id="delete-btn" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i> Delete file</a>
        </div>
    </section>
    {% endif %}
</div>
<script type="text/javascript" src="/cp2/static/js/demoExtras.js"></script>
{% endblock %}
