{% extends "base.html" %} {% block title %}detailsBlob{% endblock %} {% block bodyid %}detailsBlob{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<h1 id="setName">Blobset: {{ set_name }}</h1>
<div id ="DetailsBlob">
    <form id="editBlobForm">
        <h2>Blob information</h2>
        {% csrf_token %}
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{title}}">
        </div>
        <div>
            <label for="set">SET</label>
            <input type="text" name="set" id="set" value="{{set_name}}">
        </div>
        <div>
            <label for="position">Position in set</label>
            <input type="text" name="position" id="positionSet" value="{{pos}}">
        </div>
        <div>
            <label for="credit">Credit</label>
            <input type="text" name="credit" id="credit" value="{{credit}}">
        </div>
        <div>
            <label for="vr">Visual Representation</label>
            <input type ="file" name="vr" accept="image/*" id="VR" onchange="vrUploaded()">
            <!-- <i id="removeVRFile" class="fas fa-times" onclick="removeVR()"></i> -->
        </div>
        <div id="details-form-buttons">
            <button id="ButtonAddBlob" class="btn">SAVE</button>
            <button id="removeVR" class="btn btn-danger">Remove Visual Representation</button>
        </div>
    </form>
    <div id="blobRepresentation">
        <h2>Preview</h2>
        <div id="blobThumbnail">
            <p>Blob</p>
            <a id="download_blob" target="_blank">
                <img id="thumbnail" src="{{blob}}" title ="Blob" onError=setBrokenImage(this)>
            </a>
        </div>
        <div id="vrThumbnail">
            <p>Visual representation</p>
            <a id="download_vr" target="_black">
                <img id="thumbnail_vr" src="{{thumbnail}}" title="Visual Representation" onError=setBrokenImage(this) >
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/cp2/static/js/detailsBlob.js"></script>
{% endblock %} 