{% extends "base.html" %} {% block title %}detailsBlob{% endblock %} {% block bodyid %}detailsBlob{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<h1 id="setName">Blobset: {{ set_name }}</h1>
<div id ="DetailsBlob">
    {% block blobForm %}
        {% include "editBlobForm.html" %}
    {% endblock%}
    <div id="blobRepresentation">
        <h2>Preview</h2>
        <div id="blobThumbnail">
            <p>Blob</p>
            <a id="download_blob" href="{{blob}}" target="_blank">
                <img id="thumbnail" src="{{blob}}" title ="Blob" onError=setBrokenImage(this)>
            </a>
        </div>
        <div id="vrThumbnail">
            <p>Visual representation</p>
            <a id="download_vr" href="{{vr}}" target="_blank">
                <img id="thumbnail_vr" src="{{vr}}" title="Visual Representation" onError=setBrokenImage(this)>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/cp2/static/js/detailsBlob.js"></script>
{% endblock %} 