<form id="editBlobForm">
    <h2>Blob information</h2>
    {% csrf_token %}
    {% if create_blob %}
    <div class="form-item">
        <label for="blob">Blob</label>
        <div id="blob-upload">
            <input type="file" name="blob" id="blob" onchange="blobUploaded()" />
            <i class="fas fa-times" onclick="removeBlob()"></i>
        </div>
    </div>
    {% endif %}
    <div class="form-item">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{title}}">
    </div>
    <div class="form-item">
        <label for="set">Set</label>
        <input type="text" name="set" id="set" value="{{set_name}}">
    </div>
    <div class="form-item">
        <label for="position">Position in set</label>
        <input type="text" name="position" id="positionSet" value="{{ pos|default:0 }}">
    </div>
    <div class="form-item">
        <label for="credit">Credit</label>
        <input type="text" name="credit" id="credit" value="{{credit}}">
    </div>
    <div class="form-item">
        <label for="vr">Visual Representation</label>
        <div id="container-vr">
            <input type ="file" name="vr" accept="image/*" id="VR" onchange="vrUploaded()">
            <i id="removeVRFile" class="fas fa-times"></i>
        </div>
    </div>
    <div class="form-item">
        <button id="ButtonAddBlob" class="btn">SAVE</button>
        {% if not create_blob %}
        <!-- <button id="removeVR" class="btn btn-danger">Remove Visual Representation</button> -->
        <button id="removeVR" class="btn btn-danger">Remove Visual Representation</button>
        {% endif %}
    </div>
</form> 