<div id="navbar">
    <nav class="nav-links">
        <a class="navbar-brand" href="/cp2/">
            <img src="/cp2/static/images/IPOL-header-logo.png">
        </a>
        <a id="nav-demo" href="/cp2/"><i class="fa-solid fa-laptop-code"></i>Demos</a>
        <a href="templates"><i class="fa-solid fa-layer-group"></i>Templates</a>
        <a href="status"><i class="fa-solid fa-server"></i>Status</a>
    </nav>
    <div class="nav-user">
        <div class="dropdown">
            <button>
                <i class="fa-solid fa-user"></i> {{ user.first_name }} {{ user.last_name }} <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-content"> 
                <a rel="noopener" href="profile">Account</a> 
                <a rel="noopener" href="signout" id="logout-btn">Logout</a>
            </div>
        </div>
        <!-- <p><i class="fa-solid fa-circle-user"></i>Welcome {{ user }}</p> -->
    </div>
</div>