{% extends "base.html" %} 
{% load filters %}
{% block title %}DemoInfo{% endblock %} 
{% block bodyid %}DemoList{% endblock %}
{% block fond %}
<div id="fond">
</div>
<div id="modal" class="popup"></div>
{% endblock %} 
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="demos-head">
    <h1>List of Demos</h1>
    <form id="search-form" action="/cp2">
        <input type="text" id="demo_selector" name="qfilter" placeholder="Search" autofocus>
        <input type="hidden" id="hidden_page" name="page" value="1" placeholder="page">
        <input type="submit" id="action">
    </form>
    <div class="pagination">
        {% if previous_page_number %}
        <a href="?page={{ previous_page_number }}{%if search%}&search={{search}}{%endif%}" id="previous_page" class="btn">Previous</a>
        {% endif %}
        <p>Page: {{ page }}</p>
        {% if next_page_number %}
        <a href="?page={{ next_page_number }}{%if search%}&search={{search}}{%endif%}" id="next_page" class="btn">Next</a>
        {% endif %}
    </div>
</div>
<div id="demos-list">
    <!-- add no demo found -->
    {% for demo in demos %}
    <div class="demo-card">
        <div class="demo-title">
            <p>Demo title:</p>
            <h1>{{ demo.title|truncatechars:100 }}</h1>
        </div>
        <div class="demo-info">
            <p class="demo-id">ID: {{ demo.editorsdemoid }}</p>
            <p class="demo-state">State: {{ demo.state }}</p>
            <p class="demo-date">Last modification: {{ demo.modification|parse_iso|date:"d M Y" }}</p>
        </div>
        <div class="card-buttons">
            <a href="{{ host_url }}/demo/clientApp/demo.html?id={{ demo.editorsdemoid }}" class="btn" target="_blank">Open demo</a>
            <a href="/cp2/showDemo?demo_id={{ demo.editorsdemoid }}&title={{ demo.title }}" class="btn">Edit demo</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="addDemos">
    <button href="" id="show">+</button>
</div>
<script type="text/javascript" src="/cp2/static/js/Homepage.js"></script>
{% endblock %}