{% extends "base.html" %} 
{% block title %}DemoInfo{% endblock %} 
{% block bodyid %}DemoList{% endblock %}
{% block fond %}
<div id="fond"></div>
{% endblock %} 
{% block header %}
<div id="navbar_top">
    <ul class="nav-pills">
        <li>
            <a class="nav-demo" href="/cp2">Demos</a>
        </li>
        <li class="name_user">
            Welcome {{ user.first_name }}
        </li>
        <li class="nav-logout">
            <a href ="/cp2/signout"><i class="fas fa-sign-out-alt"> Logout</i></a>
        </li>
        <li class="ion-ionic" data-pack="default" data-tags="badass, framework, sexy, hawt">

        </li>
    </ul>
</div>
{% endblock %} {% block content %}
<div class="Demo">
    <h2>List of Demos
        <form class="container">
            <input type="text" id="demo_selector" placeholder="Search">
            <input type="submit" id="action">
        </form>
    </h2>
    <div class="pagination">
        <button id="previous_page"><img src="/cp2/static/images/flecheblanchegauche.png"></button>
        <button id="pageMax"></button>
        <button id="next_page"><img src="/cp2/static/images/flecheblanchedroite.png"></button>
    </div>
    <div class="addDemos">
        <a href="" id="show">Add Demo</a>
        <div id="modal" class="popup"></div>
    </div>
</div>
{% endblock %} {% block footer %}
<nav id="footer" class="navbar_default">
    <a class="navbar_brand" href="/cp2">
        <img src="/cp2/static/images/IPOL-header-logo.png"></a>
    <ul class="navbar">
        <li class="nav-footer"><a href="/cp2/templates">Templates</a></li>
        <li class="nav-footer"><a href="/cp2/status">Status</a></li>
    </ul>
</nav>
<script type="text/javascript" src="/cp2/static/js/Homepage.js"></script>
{% endblock %}