{% extends "base.html" %} {% block title %}Login{% endblock %} {% block bodyid %}Login{% endblock %} {% block header %} {% endblock %} {% block content %}
<div class="container-login">
    <img src="/cp2/static/images/IPOL-header-logo.png" class="navbar-brand">
    <h2 class="form_signin">Welcome to IPOL Editor's Control Panel</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %} {{ form.as_p }}
        <div>
            <label for>Remember me:</label>
            <input type="checkbox" name="remember" id="id-remember">
        </div>
        <div class="form_action">
            <input class="btn btn-primary" type="submit" value="Submit" />
            <a class="forgot" href="password_reset">Forgot Password</a>
        </div>
    </form>
</div>
{% endblock %}