 {% extends "base.html" %} {% block title %}showDemo{% endblock %} {% block bodyid %}showDemo{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<div id="demoinfo-container">
    <div id="demo-header">
        <h1>Demo Editor</h1>
        <h3>Title: {{ title }}</h3>
        <div id="demo-buttons">
            <div class="optionLine">
                <a id="demoExtras" href="/cp2/demoExtras?demo_id={{ demo_id }}" class="btn">Demo Extras</a>
                <a href="/cp2/archive?demo_id={{ demo_id }}" class="btn">Archive</a>
                <a id="showBlobsDemo" href="/cp2/showBlobsDemo?demo_id={{ demo_id }}" class="btn">Blobs</a>
            </div>
            <div class="members">
                <a href="" class="btn">Editors</a>
                <a href="" class="btn">Authors</a>
            </div>
        </div>
    </div>
    <div id="editorContainer">
        <div>DDL editor</div>
        <pre id="aceEditor"></pre>
        <div id="ddl-info">
            <div id="saveDDL">
                <button id="save-btn" class="btn">Save DDL</button>
            </div>
            {% if not can_edit %}
            <div id="can_edit">
                <h2>You are not allowed to edit this demo</h2>
            </div>
            {% endif %}
            <div>
                <button id="changeThemeWhite" class="btn">White Theme</button>
                <button id="changeThemeDark" class="btn btn-dark">Dark Theme</button>
            </div>
            <div>
                <p>DDL already saved</p>
                <p>There are unsaved changes.</p>
            </div>
            <div>
                <a href="">DDL History</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/cp2/static/js/showDemo.js"></script>
{% endblock %}