{% extends "base.html" %} 
{% block title %}TemplatesDetails{% endblock %}
{% block bodyid %}TemplatesDetails{% endblock %}
{% block fond %}
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<h1>Template: {{ template_name }}</h1>
<div class="head">
    <h2>Template blobsets</h2>
    <div>
        <a class="btn" href="createBlob?template_id={{template_id}}&template_name={{template_name}}">Add new Blob</a>
        <button id="deleteTemplate" class="btn btn-danger">Delete Template</button>
    </div>
</div>

<div class="set-container">
    {% for set in template_sets %}
    <div class="set">
        <div class="set-images">
            {% for key, blob in set.blobs.items %}
            <div id="slide-{{set.name}}-{{key}}">
                <button class="btn-delete" name="{{set.name}}" blobPos="{{key}}">X</button>
                <a href="detailsBlob?&template_id={{template_id}}&template_name={{template_name}}&set={{set.name}}&pos={{key}}">
                    <img src="{{blob.thumbnail}}">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="slider">
            {% for key, blob in set.blobs.items %}
            <a href="#slide-{{set.name}}-{{key}}">{{key}}</a>
            {% endfor %}
        </div>
        <p class="set-title">{{ set.name }}</p>
    </div>
    {% endfor %}
</div>
{% if demos_using_template %}
<div class="template-usage">
    <h2>Demos using template {{ template_name }}</h2>
    <div class="demos-container">
        {% for demo_id in demos_using_template %}
        <a href="/cp2/showBlobsDemo?demo_id={{demo_id}}" class="demo">{{ demo_id }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

<script type="text/javascript" src="/cp2/static/js/showTemplate.js"></script>
 {% endblock %}