{% extends "base.html" %} {% block title %}showBlobsDemo{% endblock %} {% block bodyid %}showBlobsDemo{% endblock %} 
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<h1>Manage Blobs for demo <span id="demo_id"></span> </h1>

<div class="head">
    <h2>Demo blobsets</h2>
    <a id="addBlob" class="btn btn-add" href="createBlob?demo_id={{demo_id}}&title={{title}}">Add new Blob</a>
</div>
<div class="set-container">
    {% for set in blob_sets %}
    <div class="set">
        <div class="set-images">
            {% for key, blob in set.blobs.items %}
            <div id="slide-{{set.name}}-{{key}}">
                <button class="btn-delete" name="{{set.name}}" blobPos="{{key}}">X</button>
                <a href="detailsBlob?&demo_id={{demo_id}}&title={{title}}&set={{set.name}}&pos={{key}}">
                    {% if blob.thumbnail %}
                    <img src="{{blob.thumbnail}}">
                    {% else %}
                    <img src="/cp2/static/images/non_viewable_inputs.png">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="slider">
            {% for key, blob in set.blobs.items %}
            <a href="#slide-{{set.name}}-{{key}}">{{key}}</a>
            {% endfor %}
        </div>
        <p class="set-title">{{ set.name }}</p>
    </div>
    {% endfor %}
</div>
<div class="template-usage">
    <div class="templates-head">
        <h2>Templates associated</h2>
        <select name="temmplates" id="template-dropdown" class="btn btn-add" onchange="add_template_to_demo(this)">
            <option value="">Add template to demo</option>
            {% for template in template_list %}
                {% if template not in demo_used_templates %}
                <option value="{{template.id}}">{{template.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div id="templates-used" class="demos-container">
        {% for template in demo_used_templates %}
        <a href="showTemplate?template_id={{template.id}}&template_name={{template.name}}" class="demo">
            <p>{{ template.name }}</p>
            <button class="btn-delete unlink-template" data-template-id="{{template.id}}">X</button>
        </a>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="/cp2/static/js/showBlobsDemo.js"></script>
{% endblock %}