 {% extends "base.html" %} {% block title %}showDemo{% endblock %} {% block bodyid %}showDemo{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block fond %}
<div id="fond"></div>
<div id="modal" class="popup"></div>
{% endblock %}
{% block content %}
<div id="demoinfo-container">
    <div id="demo-header">
        <h1>Demo Editor</h1>
        <h3>Title: {{ title }}</h3>
        <div id="demo-buttons">
            <div class="optionLine">
                <a id="demoExtras" href="demoExtras?demo_id={{ demo_id }}" class="btn">
                    <i class="fa-solid fa-file-import"></i> Demo Extras
                </a>
                <a href="showArchive?demo_id={{ demo_id }}&title={{title}}" class="btn">
                    <i class="fa-solid fa-box-archive"></i> Archive
                </a>
                <a id="showBlobsDemo" href="showBlobsDemo?demo_id={{ demo_id }}" class="btn">
                    <i class="fa-solid fa-images"></i> Blobs
                </a>
                {% if can_edit %}
                <button id="editors-btn" class="btn"><i class="fa-solid fa-user-group"></i> Editors</button>
                {% else %}
                <button id="editors-btn" class="btn btn-disabled" disabled><i class="fa-solid fa-user-group"></i> Editors</button>
                {% endif %}
            </div>
            <div>
                <div class="edit-demo-container">
                    <a href="/demo/clientApp/demo.html?id={{ demo_id }}" class="btn" target="_blank"><i class="fa-solid fa-link"></i> Open demo</a>
                    {% if not can_edit %}
                    <button id="demoEdit-btn" class="btn" disabled><i class="fa-solid fa-pen-to-square"></i> Edit demo</button>
                    {% else %}
                    <button id="demoEdit-btn" class="btn"><i class="fa-solid fa-pen-to-square"></i> Edit demo</button>
                    {% endif %}
                    <dialog id="editDemo-dialog">
                        <h1>Edit demo</h1>
                        <form id="edit-demo-form" action="{% url 'edit_demo' %}" autocomplete="off" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="demo_id" value="{{ demo_id }}">
                            <label for="demoID">Demo ID</label>
                            <input type="number" name="new_demo_id" id="new_demo_id" value="{{demo_id}}" min="1" required>
                            <p id="demo-id-used-warning"></p>
                            <label for="demoTitle">Title</label>
                            <input type="text" name="demoTitle" value="{{title}}" required>
                            <label for="state">State</label>
                            <select name="state" id="state-select">
                                <option value="test">test</option>
                                <option value="example">example</option>
                                <option value="workshop">workshop</option>
                                <option value="preprint">Preprint</option>
                                <option value="published">Published</option>
                            </select>
                            <input type="submit" name="save-demo-submit" class="btn btn-save" value="Save">
                        </form>
                        {% if can_edit %}
                        <button class="btn btn-danger" onclick="deleteDemo()">Delete demo</button>
                        {% else %}
                        <button class="btn btn-danger" disabled>Delete demo</button>
                        {% endif %}
                        <button id="demoEdit-btn-close" class="btn btn-delete dialog-btn-close">X</button>
                    </dialog>
                </div>
                <dialog id="editors-dialog">
                    <h1>Editors</h1>
                    {% for editor in editors_list %}
                    <div id="editor-{{editor.id}}" class="di-flex editor">
                        <p>{{editor.name}}</p>
                        <button class="btn btn-danger" data-editor-id="{{editor.id}}" data-demo-id="{{demo_id}}">Remove editor</button>
                    </div>
                    {% endfor %}
                    <h2>Add demo editor</h2>
                    <form id="add-editor-form" autocomplete="off" action="{% url 'add_demo_editor' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="demo_id" value="{{ demo_id }}">
                        <label for="editor">Editor</label>
                        <select name="editor_id" id="add-editor-input" form="add-editor-form" required>
                            <option value="" disabled selected>Select an editor</option>
                            {% for editor in available_editors %}
                            <option value="{{editor.id}}">{{editor.name}}, {{editor.mail}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-add" value="Submit">
                    </form>
                    <button id="editors-btn-close" class="btn btn-delete dialog-btn-close">X</button>
                  </dialog>
            </div>
        </div>
    </div>
    <div id="editorContainer">
        <div>DDL editor</div>
        <pre id="aceEditor"></pre>
        <div id="ddl-info">
            <div id="saveDDL">
                <button id="save-btn" class="btn" onclick="saveDDL()" disabled><i class="fa-solid fa-floppy-disk"></i> Save DDL</button>
                {% if not can_edit %}
                <div id="can_edit">
                    <h2>You are not allowed to edit this demo</h2>
                </div>
                {% endif %}
                <p id="ddl-status-text">DDL already saved</p>
            </div>
            <div>
                <a href="showDemo/ddl_history?demo_id={{demo_id}}&title={{title}}" id="history-btn" class="btn">
                    <i class="fa-solid fa-clock-rotate-left"></i> DDL History
                </a>
            </div>
            <div>
                <button id="changeThemeWhite" class="btn"><i class="fa-solid fa-sun"></i> White Theme</button>
                <button id="changeThemeDark" class="btn btn-dark"><i class="fa-solid fa-moon"></i> Dark Theme</button>
            </div>
        </div>
    </div>
    <div id="ssh-container">
        <p>SSH public key:</p>
        <pre id="ssh-key">{{ssh_pubkey}}</pre>
        <button class="btn" onclick="copyKey()"><i class="fa-solid fa-copy"></i> Copy key</button>
        <form action="showDemo/reset_ssh_key" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="demo_id" value="{{ demo_id }}">
            <button class="btn" type="submit"><i class="fa-solid fa-arrow-rotate-right"></i> Reset key</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="/cp2/static/js/showDemo.js"></script>
{% endblock %}
