{% extends "base.html" %} {% block title %}createBlob{% endblock %} {% block bodyid %}createBlob{% endblock %} 

{% block header %}
    {% include "header.html" %}
{% endblock %}  {% block content %}
<h1>Experiment {{experiment.id}}</h1>
<div class="archive-head">
    {% block searchExperimentForm %}
        {% include "searchExperimentForm.html" %}
    {% endblock%}
    <a href="showArchive?demo_id={{demo_id}}" class="btn btn-nav">Back to archive</a>
</div>

<div class="experiment-container">
    {% block experiment %}
        {% include "experiment.html" %}
    {% endblock%}
</div>
<script type="text/javascript" src="/cp2/static/js/archive.js"></script>
{% endblock %}
