{% extends "base.html" %} 
{% block title %}TemplatesDetails{% endblock %}
{% block bodyid %}TemplatesDetails{% endblock %}
{% block fond %}
{% endblock %}
{% block header %}
<h1>Template : <span id="nameOfTemplate"></span></h1>
<h2>
    Blobs list
</h2>
{% endblock %} {% block content %}
<a id="addBlob" href="">Add new Blob</a>
<button id="deleteTemplate">Delete Template</button>
 {% endblock %} {% block footer %}
<nav id="footer" class="navbar_default">
    <a class="navbar_brand" href="/cp2">
        <img src="/cp2/static/images/IPOL-header-logo.png"></a>
    <ul class="navbar">
        <li class="nav-footer"><a href="/cp2/templates">Templates</a></li>
        <li class="nav-footer"><a href="/cp2/status">Status</a></li>
    </ul>
</nav>
<script>
var section = document.querySelector('section');
var request = new XMLHttpRequest();
var request1 = new XMLHttpRequest();
var templateSelection = getParameterByName('template');
//Rajoute le nameoftemplate en titre sur la page 
document.getElementById("nameOfTemplate").innerHTML = templateSelection;
//Manque partie Demo Using this Template
//http://127.0.0.1/api/blobs/remove_blob_from_template? opur virer le blob de la template
//http://127.0.0.1/api/blobs/remove_blob_from_template?template_name=denoisingTemplate&blob_set=book&pos_set=0
//template_name, blob_set, pos_set sont les parametres
//a faire coté django car besoin d'etre authentifier

// a faire quand on clique sur l'image du blob dans le template
//edit_blob_from_template(self, template_name=None, tags=None, blob_set=None, new_blob_set=None, pos_set=None,new_pos_set=None, title=None, credit=None, vr=None)
//add_blob_to_template(self, blob=None, template_name=None, tags=None, blob_set=None, pos_set=None, title=None, credit=None, blob_vr=None):




request.open('GET', '/api/blobs/get_template_blobs?template_name='+templateSelection);
request1.open('GET','/api/blobs/get_demos_using_the_template?template_name='+templateSelection);
request.responseType = 'json';
request1.responseType = 'json';
request.send();
request1.send();
request.onload = function() {
    var templates = request.response;
    var demos = request1.response;
    showTemplates(templates);
    deleteBlob();
    deleteTemplates();
    show_demo_using_template(demos);   
}
//changer les noms de variable 

function showTemplates(jsonObj) {
    var blobsList = jsonObj['sets'];
   $("#addBlob").attr('href', '/cp2/createBlob?template='+templateSelection);

   
    for (var i = 0; i < blobsList.length; i++) {
        var Blobs = blobsList[i].blobs;
        var set_keys = Object.keys(Blobs);
        //console.log(set_keys.length);
        //console.log(Blobs);
        //for (var j=0; j< set_keys.length; j++) { 
            var myDiv1 = document.createElement('div');
            myDiv1.setAttribute("class","block");
            var myH3 = document.createElement('h3');
            myH3.setAttribute("id", blobsList[i].name)
            myH3.textContent = "Title SET : "+blobsList[i].name;
            section.appendChild(myDiv1);
            myDiv1.appendChild(myH3);
            for (let blob_pos of set_keys ) {
        //var y = Object.values(Blobs);
        //console.log(x);
        //console.log(y);
        //x est un tableau 
        //alert(x);
        //for (var j=0; j < x.length; j++) {
            //blob = Blobs[x[j]];
            //console.log(x[j]);
            //en commentaire on ajoute des index en plus pour avoir la valeur 
            //dans le for non commenté on accede directement a la valeur c plus simple
            //console.log(Blobs[blob_pos]);
            //console.log(blob_pos);
            //affiche la valeur 
            // console.log(j);
            // var myDiv1 = document.createElement('div');
            // myDiv1.setAttribute("class","block");
            // var myH3 = document.createElement('h3');
            // myH3.setAttribute("id", blobsList[i].name)
            blob = Blobs[blob_pos];
            var myDiv2 = document.createElement('div');
            myDiv2.setAttribute("class","image_files");
            var myHref = document.createElement('a');
            myHref.setAttribute("href", "/cp2/detailsBlob?title="+Blobs[blob_pos].title+"&set="+blobsList[i].name+"&pos="+blob_pos+"&credit="+blob.credit+"&tags="+blob.tags+"&thumbnail="+blob.thumbnail+"&template="+templateSelection+"&blob="+blob.blob);
            var image_src = document.createElement('img');
            image_src.setAttribute("src",blob.thumbnail);
            var myPara2 = document.createElement('p');
            var removeBlobs = document.createElement('div');
            var button = document.createElement('button');
            button.setAttribute("class","ButtonDelete");
            button.setAttribute('blobName', blobsList[i].name);
            button.setAttribute('blobSet', blob_pos)

            //myH3.textContent = "Title SET : "+blobsList[i].name;
            myPara2.textContent = "Credit: " + blob.credit;
            button.textContent = "Delete blob";


            // section.appendChild(myDiv1);
            // myDiv1.appendChild(myH3);
            myDiv1.appendChild(myDiv2);
            myDiv2.appendChild(myHref);
            myHref.appendChild(image_src);
            myDiv2.appendChild(myPara2);
            myDiv2.appendChild(removeBlobs);
            removeBlobs.appendChild(button);
        };
    };
    var myH2 = document.createElement('h2');
    myH2.textContent = "Demos using this template"
    section.appendChild(myH2);   
};

function show_demo_using_template(jsonObj){
    var demos_using_template = jsonObj['demos']
    for (var i = 0; i < demos_using_template.length; i++) {
        var myDiv = document.createElement('div');
        var myHref = document.createElement('a');
        myHref.setAttribute("href", "#");

        myHref.textContent = demos_using_template[i];
        section.appendChild(myDiv);
        myDiv.appendChild(myHref);
    };  
};



function deleteBlob() {
    $("button.ButtonDelete").click(function () {
        var blobSelection = $(this).attr('blobName');
        var $pos_set = $(this).attr('blobSet')
        console.log(blobSelection);
        console.log($pos_set);
        console.log(templateSelection);
        $.ajax({
            beforeSend: function(xhr, settings) {
                return (confirm("Are you sure?"))
                },
            data : ({
                blob_set : blobSelection,
                template_name : templateSelection,
                pos_set : $pos_set,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            type: 'POST',
            dataType: 'json',
            url: 'showTemplates/ajax',
            success: function(data) {
                if (data.status === 'OK') {
                    alert("Blob Deleted! ")
                    document.location.href = "/cp2/showTemplates?template="+templateSelection
                } else {
                    alert("Error to delete this Blob");
                }
            },
        })
    });
};

function deleteTemplates() {
    $("button#deleteTemplate").click(function () {
        $.ajax({
            beforeSend: function (xhr, settings) {
                return (confirm("Are you sure?"))
            },
            data : ({
                template_name : templateSelection,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }),
            type : 'POST',
            dataType : 'json',
            url : 'showTemplates/ajax_delete_template',
            success : function (data) {
                if (data.status === 'OK') {
                    alert("template deleted! ")
                    document.location.href = "/cp2/templates"
                } else {
                    alert("Error to delete this template")
                }
            },
        });
    });
};

</script>
{% endblock %}