{% extends "base.html" %} {% block title %}showBlobsDemo{% endblock %} {% block bodyid %}showBlobsDemo{% endblock %} {% block header %}
<h1>Manage Blobs for demo <span id="demo_id"></span> </h1>
<div id="can_edit">

</div>
<a id="goPreviousPage" href="javascript:history.back()">Go Previous Page</a> {% endblock %} {% block content %} {% endblock %} {% block footer %}
<nav id="footer" class="navbar_default">
    <a class="navbar_brand" href="/cp2">
        <img src="/cp2/static/images/IPOL-header-logo.png"></a>
    <ul class="navbar">
        <li class="nav-footer"><a href="/cp2/templates">Templates</a></li>
        <li class="nav-footer"><a href="/cp2/status">Status</a></li>
    </ul>
</nav>
<script type="text/javascript" src="/cp2/static/js/showBlobsDemo.js"></script>
{% endblock %}