{% extends "base.html" %} {% block title %}Status{% endblock %} {% block bodyid %}Status{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<h1>System Status</h1>
<div class="container-status">
    <div id="Archive" class="module"></div>
    <div id="Blobs" class="module"></div>
    <div id="DI" class="module"></div>
    <div id="Core" class="module"></div>
    <div id="DR" class="module">
        <table id="dr-table">
            <tr>
                <th>Name</th>
                <th>Workload</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="/cp2/static/js/status.js"></script>
{% endblock %} 
