{% extends "base.html" %} 
{% block title %}Templates{% endblock %}
{% block bodyid %}Templates{% endblock %}
{% block fond %}
<div id="fond"></div>
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<div id="templates-header">
    <h1>List of Templates</h1>
    <a href="#" id="show" class="btn">Create template</a>
</div>
<div id="modal" class="popup"></div>
<div id="template-container"></div>
<script type="text/javascript" src="/cp2/static/js/Templates.js"></script>
 {% endblock %}