{% extends "base.html" %} 
{% block title %}Templates{% endblock %}
{% block bodyid %}Templates{% endblock %}
{% block fond %}
<div id="fond"></div>
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %} {% block content %}
<div id="templates-header">
    <h1>List of Templates</h1>
    <a href="#" id="show" class="btn">Create template</a>
    <dialog id="addTemplate-dialog">
        <h1 id="titleAddTemplate">Create template</h1>
        <div id="templateForm">
            <label id="labelAddTemplate">Template name</label>
            <input type="text" id="templateName" required>
            <button id="saveTemplate" class="btn btn-add"><i class="fa-solid fa-plus"></i> Create</button>
        </div>
        <button class="btn btn-delete close"><i class="fa-solid fa-xmark"></i></button>
    </dialog>
</div>
<div id="modal" class="popup"></div>
<div id="template-container">
    {% for template in templates %}
    <article>
        <a href="showTemplate?template_id={{template.id}}&template_name={{template.name}}"><i class="fa-solid fa-layer-group"></i> {{template.name}}</a>
    </article>
    {% endfor %}
</div>
<script type="text/javascript" src="/cp2/static/js/Templates.js"></script>
 {% endblock %}